<%- include('./src/include/header-en.ejs', { title: '최신 활동 뉴스 상세' }) %>

<main id="NEWS10" class="news10">
  <div class="main-inner grid8" data-path="news">
    <section class="sub_container">
      <div class="sec_inner">
        <div class="news-viewer">
          <!-- 상세페이지 - 상단영역 -->
          <div class="viewer-head">
            <div class="txt-wrap">
              <!-- 상세페이지 - 상단영역 :: 분류  -->
              <div class="head-topic m_etc" id="postTopic">Inside</div>
              <!-- 상세페이지 - 상단영역 :: 제목  -->
              <h2 class="head-title m_h4" id="postTitle">한화오션, 국내 조선업계 <br class="mobile">최초 <br class="pc">국제 안전경영시스템 도입</h2>
              <!-- 상세페이지 - 상단영역 ::게시날짜  -->
              <div class="head-date m_etc" id="postDate">12.06.2024</div>
            </div>
          </div>
          <!-- 상세페이지 - 상세내용 -->
          <div class="viewer-cont">
            <article class="article-ct">
              <!-- 상세페이지 - 상세내용  :: 소제목 -->
              <div class="arti-summary" id="postSum">
                <ul class="sum-list">
                  <li><span class="m_h9">DNV와 ISRS(International Safety Rating System, 국제 안전경영시스템 정량적 평가) 등급 인증을 위해 <br class="pc">양해각서(MOU) 체결</span></li>
                  <li><span class="m_h9">5년 내 국내 제조 업계 최고 수준 ISRS 등급 획득 목표</span></li>
                </ul>
              </div>
              <!-- 상세페이지 - 상세내용  :: 이미지 -->
              <div class="arti-img" id="postImg">
                <picture class="img-wrap">
                  <source media="(min-width: 769px)" srcset="/resources/images/osa/news-content-01-pc.webp">
                  <source media="(max-width: 768px)" srcset="/resources/images/osa/news-content-01-pc.webp">
                  <img src="/resources/images/osa/news-content-01-pc.webp" alt="Images">
                </picture>
              </div>
              <!-- 상세페이지 - 상세내용  :: 텍스트 -->
              <div class="arti-text" id="postTxt">
                <p class="desc" >
                  한화오션(대표이사 권혁웅 부회장)이 무재해 작업장 구축에 나선다.<br><br>
                  한화오션은 안전보건 관리 수준 향상을 위해 세계 최고 품질 및 안전 전문 기관인 노르웨이 DNV社와 양해각서를 체결했다. 이번 체결식에는 한화오션 조선소장 이길섭 부사장과 DNV Business Assurance Korea 이장섭 대표이사 등 양사 관계자 10여 명이 참석했다.<br><br>
                  양사는 이번 협력을 통해 한화오션의 안전보건 현황에 대한 객관적인 평가와 그 평가결과에 따라 수립된 중장기 전략을 통해 관리수준을 향상시키는 것이 목적이다.<br><br>
                  이를 위해 우선 한화오션 전체 사업장에 대한 사전 평가를 약 3개월간 진행한다. 한화오션은 이번 평가를 통해 안전보건 관리 상태를 수치화해 회사의 객관적인 안전보건 현황에 대해 확인할 수 있을 것으로 기대하고 있다. 평가 결과를 기반으로 한화오션은 DNV社와 향후 5년간 안전보건 시스템을 혁신적으로 향상시키기 위해 협력할 예정이다.<br><br>
                  한화오션은 최종적으로 DNV社로부터 국내 제조 업계에서 가장 높은 수준의 국제안전경영시스템 정량적 평가(ISRS: International Safety Rating System) 등급 획득과 함께 무재해 사업장 기반 구축에 나선다는 계획이다.<br><br>
                  ISRS는 Dr. Frank E. Bird가 175만 건의 사고원인을 분석한 연구 데이터 기반으로 1974년 개발했다. 9번의 개정을 거쳐 최근에는 안전 뿐만 아니라 사회, 환경, 재무적 손실 등 지속 가능성까지 평가하는 명실상부 세계 최고의 안전등급 평가 제도로 인정받고 있다. <br>ISRS는 ▲계획 및 관리 ▲위험성 평가 ▲위험관리 ▲비상사태 대비 및 대응 ▲위험 모니터링 등 15가지 항목을 평가하고, 평가 결과를 바탕으로 10단계로 된 ‘ISRS Level 등급’을 부여한다.<br><br>
                  현재 ISRS는 국내 100여개 사업장, 전 세계적으로 약 12,000여개의 사업장이 평가받았다. 국내 업체 중에는 한화토탈이 8등급으로 가장 높은 수준을 유지하고 있다. 최고 등급은 10등급이다. 한화오션이 ISRS 등급 평가를 받게 될 경우 국내 조선업체로서는 최초가 된다.<br><br>
                  한화오션 관계자는 “전 임직원이 합심하여 안전보건 경영을 최우선 가치로 여기며, 무재해 사업장을 만들기 위해 혼신을 노력을 다하고 있다”며 “이번 ISRS 평가를 통해 이를 더욱 체계화하고 발전시키겠다”고 의지를 밝혔다. &lt;끝&gt;
                </p>
              </div>
              <!-- 상세페이지 - 상세내용  :: 관련자료 -->
              <div class="arti-files" id="postFile">
                <div class="refer m_etc">Reference</div>
                <ul class="files-list">
                  <li class="file">
                    <a href="#" class="m_btn" data-btntype="text" hover="underline" icon="left" download="파일명1.abc">
                      <span class="icon"></span>
                      <span class="txt m_etc">파일명1.abc</span>
                    </a>
                  </li>
                  <li class="file">
                    <a href="#" class="m_btn" data-btntype="text" hover="underline" icon="left" download="파일명2.abc">
                      <span class="icon"></span>
                      <span class="txt m_etc">파일명2.abc</span>
                    </a>
                  </li>
                  <li class="file">
                    <a href="#" class="m_btn" data-btntype="text" hover="underline" icon="left" download="파일명3.abc">
                      <span class="icon"></span>
                      <span class="txt m_etc">파일명3.abc</span>
                    </a>
                  </li>
                  <li class="file">
                    <a href="#" class="m_btn" data-btntype="text" hover="underline" icon="left" download="파일명4.abc">
                      <span class="icon"></span>
                      <span class="txt m_etc">파일명4.abc</span>
                    </a>
                  </li>
                  <li class="file">
                    <a href="#" class="m_btn" data-btntype="text" hover="underline" icon="left" download="파일명5.abc">
                      <span class="icon"></span>
                      <span class="txt m_etc">파일명5.abc</span>
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <!-- 상세페이지 - 목록버튼 -->
          <div class="viewer-link">
            <a href="../news/" class="m_btn link-news" data-btntype="button" hover="ripple" size="m" line="round" color="white" icon="left" id="linkNews">
              <span class="icon"></span>
              <span class="txt">List</span>
            </a>
          </div>
          <!-- 상세페이지 - 네비게이션 -->
          <div class="viewer-nav">
            <div class="nav-wrap">
              <div class="nav-box">
                <!-- 상세페이지 - 네비게이션 :: 이전글 -->
                <a href="#" class="prev" id="postPrevBtn">
                  <span class="icon"></span>
                  <strong>Previous</strong>
                  <p class="desc"><span>한화오션, 방산분야 인재 채용으로 해외시장 공략 나선다</span></p>
                </a>
                <!-- 상세페이지 - 네비게이션 :: 이전글이 없을 경우 (.none 클래스 제거) -->
                <a href="#" class="prev notPost none">
                  <span class="icon"></span>
                  <strong>Previous</strong>
                  <p class="desc">There is no previous post</p>
                </a>
              </div>
              <div class="nav-box">
                <!-- 상세페이지 - 네비게이션 :: 다음글-->
                <a href="#" class="next" id="postNextBtn">
                  <span class="icon"></span>
                  <strong>Next</strong>
                  <p class="desc"><span>한화오션, 세계 최초 VR 기반 특수 차량 시뮬레이터 개발</span></p>
                </a>
                <!-- 상세페이지 - 네비게이션 :: 다음글이 없을 경우(.none 클래스 제거) -->
                <a href="#" class="next notPost none">
                  <span class="icon"></span>
                  <strong>Next</strong>
                  <p class="desc">There is no next post</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>