<%- include('./src/include/header-en.ejs', { title: 'Promotion System' }) %>

<main id="SYS" class="hsemge sys">
  <div class="main-inner" data-path="hsemge-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">HSE Management</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">HSE Management</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_kv-mo.webp">
                <img class="core" src="/resources/images/hse/hsemge/hsemge_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area sys-area" id="hsemgeSystem">
                <div class="system-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/hsemge/ov/#hsemgeOverview" class="tab-item">Overview</a>
                            <a href="/en/hse/hsemge/sys/#hsemgeSystem" class="active tab-item">Promotion System</a>
                        </div>
                    </div>
                    <div class="content-box sys-gp in_sec_box_area">
                        <div class="title m_h3 in_sec_box">Safety and Health <br class="mobile">Management Organization</div>
                        <div class="infogram-wrap in_sec_box">
                            <div class="graph-img in_mob_scr scr-center scr-wide">
                                <picture class="picture">
                                    <img src="/resources/images/hse/hsemge/hsemge_sys-infogram-01_en.webp" alt="Graph">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="graph-txt">
                                <ol>
                                <li>
                                    <p>CEO</p>
                                </li>
                                <li>
                                    <p>Safety Management Advisory Committee</p>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                        <span>CSHO</span>
                                        <p>Chief Safety Health Officer</p>
                                        </li>
                                        <li>
                                        <span>Shipyard Head</span>
                                        <p>CSHO</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <p>Occupational Safety and Health Committee</p>
                                </li>
                                <li>
                                    <p>Subcontractor Safety and Health Council</p>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                        <p>HSE Policy Manager</p>
                                        </li>
                                        <li>
                                        <p>HSE Operations Manager</p>
                                        </li>
                                        <li>
                                        <p>Production Organization</p>
                                        </li>
                                    </ul>
                                </li>
                                
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="content-box sys-process in_sec_box_area">
                        <div class="common-grid in_sec_box">
                            <div class="title-wrap">
                                <div class="title m_h3">Safety and Health <br class="mobile">Promotion System</div>
                                <div class="desc">Operation of the Safety Management Advisory Committee to evaluate the adequacy and objectivity of the safety and health performance system</div>
                            </div>
                        </div>
                        <div class="infogram-wrap in_sec_box">
                            <div class="graph-img in_mob_scr scr-center scr-wide">
                                <picture class="picture">
                                    <img src="/resources/images/hse/hsemge/hsemge_sys-infogram-02_en.webp" alt="Graph">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="graph-txt">
                                <strong>Semi-annually</strong>
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>CEO</dt>
                                            <dd>Implementation and
                                              supplementation of measures</dd>
                                            <dd>Opinion exchange</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>CSHO</dt>
                                            <dd>Company-wide HSE plan and implementation matters</dd>
                                            <dd>HSE planning and implementation status review</dd>
                                        </dl>
                                    </li>
                                    <li>
                                      <dl>
                                        <dt>Safety Management Advisory Committee</dt>
                                        <dd>Evaluates the adequacy and 
                                          objectivity of decisions made</dd>
                                          <dd>Opinion collection</dd>
                                          <dd>Opinion exchange</dd>
                                    </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="common-table-wrap in_sec_box">
                            <table class="common-table">
                                <!-- <caption>안전보건 추진 주요 활동</caption> -->
                                <thead>
                                <tr>
                                    <th class="p-l-44 left">Position</th>
                                    <th colspan="2" class="left p-l-44">Key roles and activities</th>
                                </tr>
                                </thead>
                    
                                <tbody>
                                <tr>
                                    <th class="p-l-44 left">CEO</th>
                                    <td colspan="2" class="p-l-32 left">
                                    <ul class="common-circle-list">
                                        <li>Reviews major HSE issues
                                          </li>
                                        <li>Chairperson of the Safety Management Advisory Committee</li>
                                    </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="p-l-44 left">CSHO</th>
                                    <td colspan="2" class="p-l-32 left">
                                        <ul class="common-circle-list">
                                            <li>Oversees company-wide HSE activities
                                              </li>
                                            <li>Inspects and evaluates the HSE implementation status at business sites</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="p-l-44 left">Safety Management <br>
                                      Advisory Committee</th>
                                    <td colspan="2" class="p-l-32 left">
                                        <ul class="common-circle-list">
                                            <li>Reports, discusses, and deliberates on the HSE implementation status, including establishment of HSE management system and checking and improving implementation status</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                    
                            </table>
                            <table class="common-table">
                                <caption>Seven members of the Safety Management Advisory Committee</caption>
                    
                                <thead>
                                    <tr>
                                    <th class="p-l-44 left">Seven members of the Safety Management Advisory Committee</th>
                                    </tr>
                                </thead>
                    
                                <tbody>
                                    <tr>
                                    <td rowspan="3" class="p-l-32 left">
                                        <ul class="common-circle-list">
                                          <li>Legal affairs</li>
                                          <li>Safety</li>
                                          <li>Health</li>
                                          <li>Occupational medicine</li>
                                          <li>Corporate safety</li>
                                          <li>Medical expert</li>
                                          <li>Occupational safety expert</li>
                                        </ul>
                                    </td>
                                    </tr>
                                </tbody>
                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>