<%- include('./src/include/header-en.ejs', { title: '' }) %>
<%- include('./src/include/pop_layer-en.ejs') %>

<main id="MAIN" class="main" data-landscape="true">
  <div class="main-inner">
    <section id="KV01" class="sec">
      <div class="sec_inner">
        <div class="sticky-wrap">
          <div class="text-wrap">
            <div class="text-wrap-inner 01">
              <!-- <strong class="m_h9">
                <span>The most trusted company enabling <br class="mobile">sustainable voyage</span>
              </strong> -->
              <div class="m_h3 txt_ef_up">
                The Most Trusted <br class="mobile">Company <br class="pc"><br class="tablet">
                Enabling <br class="mobile">Sustainable Voyage
              </div>
            </div>
            <div class="text-wrap-inner 02">
              <div class="m_h3 txt_ef_up">
                Go Great Ocean,<br class="pc"><br class="tablet"><br class="mobile">
                Go Green Builder
              </div>
              <strong class="m_h9">
                <span>By researching new eco-friendly <br class="mobile">technologies that pave the way <br class="pc"><br class="tablet"><br class="mobile">for the future, we aim to drive <br class="mobile">innovation in the industry.</span>
              </strong>
              </p>
            </div>
          </div>
        </div>
        <div class="bg-wrap">
          <div class="bg">
            <picture class="picture bg-img">
              <source media="(min-width:769px)" src="/resources/images/main/main-kv01.webp">
              <source media="(max-width:768px)" src="/resources/images/main/main-kv01.webp">
              <img src="/resources/images/main/main-kv01.webp" alt="Images">
            </picture>

            <div class="picture-cloud-wrap">
              <picture class="cloud-img top">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_top.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_top.png">
                <img src="/resources/images/main/cloud_top.png" alt="Images">
              </picture>
              <picture class="cloud-img right-1">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_right.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_right.png">
                <img src="/resources/images/main/cloud_right.png" alt="Images">
              </picture>
              <picture class="cloud-img left">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_left.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_left.png">
                <img src="/resources/images/main/cloud_left.png" alt="Images">
              </picture>
              <picture class="cloud-img bottom">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_bottom.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_bottom.png">
                <img src="/resources/images/main/cloud_bottom.png" alt="Images">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="MAINZOOMIN-1" class="sec sec_zoomin">
      <div class="sec_inner">
          <div class="zoomin-inner">
            <div class="title-wrap">
              <h2 class="title-eyebrow sec_cnt_nav m_h9"><strong>Our Sustainability Approach</strong></h2>

              <div class="title-video pc">
                <span class="text1">
                  <strong>
                    <span class="m_hanwhaR">Hanwha Ocean</span> has played a leading
                  </strong>
                </span> <br>
                <span class="text1-1">
                  <strong>role in various areas of shipbuilding.</strong> 
                </span>
              </div>

              <div class="title-video mobile">
                <span class="text1">
                  <strong>
                    <em class="m_hanwhaR">Hanwha Ocean</em> has
                  </strong>
                </span> <br>
                <span class="text1-1">
                  <strong>played a leading role in</strong>
                </span> <br>
                <span class="text1-2">
                  <strong>various areas of</strong> 
                </span> <br>
                <span class="text1-3">
                  <strong>shipbuilding.</strong> 
                </span>
              </div>

              <div class="vid-container">
                <!-- <div class="video-wrap">
                  <video title="" playsinline muted loop preload="none" >
                    <source media="(min-width:769px)" src="/resources/images/main/whoweare.mp4">
                    <source media="(max-width:768px)" src="/resources/images/main/whoweare_m.mp4">
                    <source src="/resources/images/main/whoweare.mp4" type="video/mp4">
                  </video>
                </div> -->
                <div class="img-wrap">
                  <picture>
                    <source media="(min-width:769px)" srcset="/resources/images/main/main_zoomin_01_pc.webp">
                    <source media="(max-width:768px)" srcset="/resources/images/main/main_zoomin_01_mo.webp">
                    <img src="/resources/images/main/main_zoomin_01_pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="title-kr-wrap">
                  <div class="title-kr">
                    <p>
                      With numerous “First, Largest, and the Only” records, We have firmly contributed to solidifying South Korea’s position as the world’s leading shipbuilding powerhouse.</p>
                      <div class="sec_btn_more">
                        <a href="./osa/ceo/" class="m_btn ex_btn5 in_sec_copy" data-btntype="text" icon="left" hover="arrow" bg="w">
                          <span class="icon"></span>
                          <span class="txt" data-txt="View more">View more</span>
                        </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </section>
    <section id="MAIN_HSE" class="sec sec_mainhse">
      <div class="sec_inner">
        <div class="sticky-section">

          <div class="sticky-inner">
            <div class="text-wrap">
              <div class="text-wrap-inner">
                <h2 class="title-eyebrow sec_cnt_nav m_h9 in_sec_copy">HSE</h2>
                <h3 class="title m_h5 txt_ef_up in_sec_copy">
                  We carry out <br class="tablet">invaluable <br class="pc">
                  tasks <br class="mobile">of <br class="tablet">looking after our <br class="pc"><br class="tablet"><br class="mobile">
                  colleagues' lives, <br class="tablet">safety, <br class="pc"><br class="mobile">
                  health, and <br class="tablet">environment.
                </h3>
                <a href="./hse/hsemge/ov/" class="m_btn ex_btn5 in_sec_copy" data-btntype="text" icon="left" hover="arrow" bg="w">
                  <span class="icon"></span>
                  <span class="txt" data-txt="View more">View more</span>
                </a>
              </div>
            </div>
            <div class="bg-wrap">
              <div class="bg-wrap-inner 01">
                <div class="bg-text-wrap">
                  <div class="left">
                    <span class="m_h9 txt_ef_up">2030 Goals</span>
                    <strong class="m_h5 txt_ef_up">GHG reduction rate</strong>
                  </div>
                  <div class="right">
                    <div class="common-odometer">
                      <div class="odometer-wrap">
                        <div class="odometer odometer-auto-theme m_h1">0</div>
                        <div class="odometer-tobe">40</div>
                        <span class="odometer-unit">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_hse_01.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_hse_01.webp">
                    <img src="/resources/images/main/main_hse_01.webp" alt="Images">
                  </picture>
                </div>
              </div>
              <div class="bg-wrap-inner 02">
                <div class="bg-text-wrap">
                  <div class="left">
                    <span class="m_h9 txt_ef_up">2030 Goals</span>
                    <strong class="m_h5 txt_ef_up">Number of <br class="pc"><br class="tablet">
                      serious <br class="tablet"><br class="mobile">accidents</strong>
                  </div>
                  <div class="right">
                    <!-- <div class="common-odometer">
                      <div class="odometer-wrap odometer-txt">
                        <div class="odometer odometer-auto-theme m_h1">0</div>
                        <div class="odometer-tobe">ZERO</div>
                      </div>
                    </div> -->
                    <strong class="m_h1 txt_ef_up">ZERO</strong>
                  </div>
                </div>
                <div class="bg">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_hse_02.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_hse_02.webp">
                    <img src="/resources/images/main/main_hse_02.webp" alt="Images">
                  </picture>
                </div>
              </div>
              <div class="bg-wrap-inner 03">
                <div class="bg-text-wrap">
                  <div class="left">
                    <span class="m_h9 txt_ef_up">2030 Goals</span>
                    <strong class="m_h5 txt_ef_up">Lost time injury <br class="pc"><br class="tablet"><br class="mobile">
                      frequency rate</strong>
                  </div>
                  <div class="right">
                    <!-- <div class="common-odometer">
                      <div class="odometer-wrap odometer-float">
                        <div class="odometer odometer-auto-theme m_h1">0</div>
                        <div class="odometer-tobe">0.15</div>
                      </div>
                    </div> -->
                    <strong class="m_h1 txt_ef_up">0.15</strong>
                  </div>
                </div>
                <div class="bg">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_hse_03.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_hse_03.webp">
                    <img src="/resources/images/main/main_hse_03.webp" alt="Images">
                  </picture>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <seciton id="MAIN_CLIP" class="sec sec_mainclip">
      <div class="sec_inner">
        <div class="sticky-section">
            <div class="sticky-inner">
              <div class="mainclip-img-wrap">
                <picture>
                  <source media="(min-width:769px)" src="/resources/images/main/main_clip.webp">
                  <source media="(max-width:768px)" src="/resources/images/main/main_clip.webp">
                  <img src="/resources/images/main/main_clip.webp" alt="Images">
                </picture>
              </div>
            </div>
        </div>
      </div>
    </seciton>

    <section id="MAIN_SIDESCROLL" class="sec sec_mainsidescroll">
      <div class="sec_inner">

        <div class="sticky-section">
          <div class="sticky-inner">
            <h2 class="title-eyebrow sec_cnt_nav m_h9 txt_ef_up">Social Responsibility</h2>
            <div class="sidescroll-textwrap">
              <div class="inner">
                <div class="slide-text-wrap txt_ef_op active">
                  <strong class="slide-title m_h5 txt_ef_up">Cooperative <br class="pc">
                    Labor-<br class="pc">Management Relations</strong>
                  <p class="slide-desc txt_ef_up">
                    Since our inception in 2023, <em class="m_hanwhaL">Hanwha Ocean</em> has been holding labor-management council meetings under the Act on the Promotion of Employees’ Participation and Cooperation so as to strengthen trust and cooperation between labor and management. <em class="m_hanwhaL">Hanwha Ocean</em> applies the HR policy of presenting rightful working conditions and standards to all employees and prohibits discrimination in all HR fields, including recruitment, personnel management, and evaluation.
                  </p>
                </div>
                <div class="slide-text-wrap txt_ef_op">
                  <strong class="slide-title m_h5 txt_ef_up">Talent & Human Rights Management</strong>
                  <p class="slide-desc txt_ef_up">
                    <em class="m_hanwhaL">Hanwha Ocean</em> works to prevent human rights violations and mitigate related human rights risks that occur during its business operations. In respect to the human rights of all our stakeholders, we conduct human rights impact assessments at all our worksites.
                  </p>
                </div>
                <div class="slide-text-wrap txt_ef_op">
                  <strong class="slide-title m_h5 txt_ef_up">Social Contribution</strong>
                  <p class="slide-desc txt_ef_up">
                    <em class="m_hanwhaL">Hanwha Ocean</em> practices the value of shared growth and lives up to the expectations as a best corporate citizen through active and continuous social contribution activities. We work to create a warm community by promoting social contribution activities based on employee engagement, as well as volunteer activities that bring empathy and value corporate social responsibility and sincerity.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="mainsidescroll-img-wrap">
                    <picture>
                      <source media="(min-width:769px)" src="/resources/images/main/main_sidescroll_01.webp">
                      <source media="(max-width:768px)" src="/resources/images/main/main_sidescroll_01.webp">
                      <img src="/resources/images/main/main_sidescroll_01.webp" alt="Images">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="mainsidescroll-img-wrap">
                    <picture>
                      <source media="(min-width:769px)" src="/resources/images/main/main_sidescroll_02.webp">
                      <source media="(max-width:768px)" src="/resources/images/main/main_sidescroll_02.webp">
                      <img src="/resources/images/main/main_sidescroll_02.webp" alt="Images">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="mainsidescroll-img-wrap">
                    <picture>
                      <source media="(min-width:769px)" src="/resources/images/main/main_sidescroll_03.webp">
                      <source media="(max-width:768px)" src="/resources/images/main/main_sidescroll_03.webp">
                      <img src="/resources/images/main/main_sidescroll_03.webp" alt="Images">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-acc">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="MAINZOOMIN-2" class="sec sec_zoomin">
      <div class="sec_inner">
          <div class="zoomin-inner">
            <div class="title-wrap">
              <h2 class="title-eyebrow sec_cnt_nav m_h9"><strong>Governance</strong></h2>

              <div class="title-video pc">
                <span class="text1"><strong>
                  <em class="m_hanwhaR">Hanwha Ocean</em> operates the BoD fairly 
                </strong> </span> <br>
                <span class="text1-1"><strong>
                  and transparently to establish sound 
                </strong> </span>
                <span class="text1-2"><strong>
                  corporate governance.
                </strong> </span>
              </div>

              <div class="title-video mobile">
                <span class="text1"><strong>
                  <em class="m_hanwhaR">Hanwha Ocean</em> operates  
                </strong> </span> <br>
                <span class="text1-1"><strong>
                  the BoD fairly and  
                </strong> </span> <br>
                <span class="text1-2"><strong>
                  transparently to establish 
                </strong> </span> <br>
                <span class="text1-3"><strong>
                  sound corporate <br class="mobile">governance.
                </strong> </span>
              </div>
              
              <div class="vid-container">
                <div class="img-wrap">
                  <picture>
                    <source media="(min-width:769px)" srcset="/resources/images/main/main_zoomin_02_pc.webp">
                    <source media="(max-width:768px)" srcset="/resources/images/main/main_zoomin_02_mo.webp">
                    <img src="/resources/images/main/main_zoomin_02_pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="title-kr-wrap">
                  <div class="title-kr">
                    <p>All directors of <em class="m_hanwhaL">Hanwha Ocean</em> meet the qualifications required by relevant laws and regulations.</p>
                      <div class="sec_btn_more">
                        <a href="./gov/bod/" class="m_btn ex_btn5 in_sec_copy" data-btntype="text" icon="left" hover="arrow" bg="w">
                          <span class="icon"></span>
                          <span class="txt" data-txt="View more">View more</span>
                        </a>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </section>

    <section id="HIGHLIGHT2023" class="sec sec_highlight2023">
      <div class="sec_inner in_sec_box_area">
        <div class="title in_sec_box">
          <!-- 유지보수 시 퍼블 참고사항::
          메인 페이지 내 'txt_ef_up' 클래스가 붙은 텍스트에서 줄바꿈(br)이 필요하다면,
          br 태그에 pc, tablet, mobile 중 한 개의 클래스가 꼭 들어가야합니다.
          줄바꿈 필요한 구간의 br 및 클래스를 '모두 추가'해주셔야 합니다. (예:  <br class="pc"><br class="tablet"> -> pc,tablet 구간에서 줄바꿈)
          class = "pc" - pc 에서만 줄바꿈
          class = "tablet" - tablet에서만 줄바꿈
          class = "mobile" - mobile에서만 줄바꿈 -->          
          <h4 class="m_h3 txt_ef_up">HIGHLIGHTS <br class="pc"><br class="tablet">2023</h4>
        </div>

        <div class="desc in_sec_box">
          <div class="common-accordion-list">

            <!-- <h4 class="title m_h6" style="margin-bottom: 20px;">아코디언 메뉴</h4>
            <div class="all-control">
              <button type="button" class="toggle-switch all-toggle-btn" style="margin-right: 10px;"></button>
              <span>전체 열기</span>
            </div>
             -->
            <ul>
              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Declaration of ESG HOST 2030</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">Hanwha Ocean</span>’s ESG Committee approved the agenda for ESG management goals in December 2023.
                    <br><br>
                    The five core indicators selected for ESG HOST 2030 are GHG reduction, conversion to eco-friendly ships, accident prevention, supply chain ESG assessment, and compliance and ethical management assessment. Based on our commitment, we intend to strengthen our efforts for sustainability and social responsibility.
                  </div>
                </div>
              </li>
        
              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Establishment of the Corporate Governance Charter</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">Hanwha Ocean</span> established the Corporate Governance Charter in 2023.
                    <br><br>
                    Our Corporate Governance Charter covers social responsibilities for our stakeholders including protecting shareholder rights, promoting employee welfare, and fostering partnerships with suppliers. Through the charter, we affirmed our commitment to securing trust from all stakeholders and carrying out management activities with sincerity.
                  </div>
                </div>
              </li>
        
              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Obtained AIP for OCCS</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <em class="m_hanwhaL">Hanwha Ocean</em> obtained Approval in Principle (AIP) for our independent onboard carbon capture system (OCCS). 
                    <br><br>
                    We obtained approvals for the OCCS based on the mineralization process using sodium hydroxide (NaOH) from the American Bureau of Shipping (ABS) and Korea Register (KR), and another approval for amine-based OCCS from Bureau Veritas (BV).
                    <br><br>
                    Our OCCS technology consumes less energy than other carbon capture technologies and generates relatively less carbon dioxide (CO2) during operation. Thus, it is expected to make a significant contribution to carbon reduction.                    
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Standardization of GHG Emissions Calculation in the Shipbuilding Industry</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">Hanwha Ocean</span> joined hands with domestic shipbuilders and KR to form the first carbon footprint team in the Korean shipbuilding industry with the goal of promoting the standardization of scope 3 emissions calculation.
                    <br><br>
                    This project will not only contribute to the efforts to manage and reduce the carbon footprint of the international shipping and shipbuilding industry, but will also be a significant step in achieving sustainable development goals (SDGs) in the international society.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Won the Order for the World’s Largest Ammonia Carriers</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    In November 2023, <span class="m_hanwhaL">Hanwha Ocean</span> secured an order for the world’s largest ammonia-fueled very-large ammonia carriers (VLACs), capable of using ammonia as fuel.
                    <br><br>
                    VLACs, which can carry 93,000CBM of ammonia, are the world’s largest vessels of this class ever ordered.
                    <br><br>
                    Ammonia is a green fuel that emits zero carbon when burned. Thus, VLACs are eco-friendly vessels that allow the shipowner to use carriers that utilize ammonia as fuel, while transporting ammonia.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Completion of MWh-class <br class="mobile">ESS Development</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    In August 2023, <span class="m_hanwhaL">Hanwha Ocean</span> and <span class="m_hanwhaL">Hanwha Aerospace</span> completed joint R&D to secure a MWh-class energy storage system (ESS) for large LNG carriers.
                    <br><br>
                    This ESS features a container-type packaging design that consolidates the control system to effectively reduce the size, and is embedded with an automatic fire extinguishing system for swift fire detection and suppression. 
                    <br><br>
                    When applied to vessels, the ESS can form a hybrid system to serve as an auxiliary energy source, enabling less energy consumption and pollutant emissions.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>The First Korean Company to Join FMC</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">Hanwha Ocean</span> became the first Korean company to join the First Movers Coalition (FMC) in November 2023.
                    <br><br>
                    FMC is a global coalition of companies in heavy-emitting sectors such as steel, chemicals, and aviation with the aim of creating demand for potential decarbonization technologies and gaining a foothold in the market.
                    <br><br>
                    We also unveiled our commitment to the decarbonization of shipping at a session titled “The First Fossil-Free Ship on the Water” at the World Economic Forum 2024.
                    <br><br>
                    As such, we will continue to strengthen collaboration with international companies and constantly develop sustainable decarbonization technologies to lead the way to carbon neutrality.                    
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Labor-Management Joint Declaration Ceremony for Shared Growth</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    In May 2023, <span class="m_hanwhaL">Hanwha Ocean</span> and the Daewoo Shipbuilding and Marine Engineering branch of the Korean Metal Workers’ Union held a labor-management joint declaration ceremony at Geoje Shipyard.
                    <br><br>
                    During the ceremony, <span class="m_hanwhaL">Hanwha Ocean</span> agreed to succeed the existing collective agreement and make efforts to provide better working conditions and fair treatment. The union, on the other hand, guaranteed to build rational labor-management relations.
                    <br><br>
                    The two sides pledged to spare no effort to prevent occupational accidents and build smart sites.
                    <br><br>
                    Based on the rational labor-management relations, we will continue to lay the groundwork for shared growth and sustainable development of the community.                    
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Declaration of the HSE Management Policy</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    In October 2023, <span class="m_hanwhaL">Hanwha Ocean</span> revised our HSE Management Policy that serves as a system to ensure that health, safety, and environment (HSE) remain as our top management priorities and to promote the health, safety, and happiness of all employees.
                    <br><br>
                    The HSE Management Policy, which applies to all employees and stakeholders, is translated into seven languages, ensuring that every individual is aware of it. We will comply with the revised policy strictly to achieve goals of zero serious accidents and 100% compliance with environmental regulations.                    
                  </div>
                </div>
              </li>
        
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="MAINNEWS" class="sec sec_news">
      <div class="sec_inner">
        <div class="media_contain in_sec_box_area">
          <div class="sec_tit_top in_sec_box">
            <h2 class="sec_tit">NEWS</h2>
            <a class="btn_enter_media" href="/osa/news/"><img src="/resources/images/common/icon_arrow_next_b_42x42.svg" alt="Icon"></a>
          </div>
          <div class="common-tab-looking-a-wrap in_sec_box">
            <div class="tab-looking-a line-tab">
              <a href="javascript:void(0)" class="active tab-item">All</a>
              <a href="javascript:void(0)" class="tab-item">Outside</a>
              <a href="javascript:void(0)" class="tab-item">Inside</a>
            </div>
          </div>
          <div class="cnt_media in_sec_box">
            <div class="feed-wrapper feedSwiper 01 active">
              <ul class="feed-list swiper-wrapper">
                <!-- 이미지가 없는 경우  -->
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap default">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/common/hanwha_default.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/common/hanwha_default.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/common/hanwha_default.png">
                        <img src="/resources/images/common/hanwha_default.png" alt="Default images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <img src="/resources/images/osa/news/news-content-04-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <img src="/resources/images/osa/news/news-content-01-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <img src="/resources/images/osa/news/news-content-02-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <img src="/resources/images/osa/news/news-content-05-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <img src="/resources/images/osa/news/news-content-04-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <img src="/resources/images/osa/news/news-content-01-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-scrollbar"></div>
            </div>
            <div class="feed-wrapper feedSwiper 02">
              <ul class="feed-list swiper-wrapper">
                <!-- 이미지가 없는 경우  -->
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap default">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/common/hanwha_default.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/common/hanwha_default.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/common/hanwha_default.png">
                        <img src="/resources/images/common/hanwha_default.png" alt="Default images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <img src="/resources/images/osa/news/news-content-04-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <img src="/resources/images/osa/news/news-content-01-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <img src="/resources/images/osa/news/news-content-02-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <img src="/resources/images/osa/news/news-content-05-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <img src="/resources/images/osa/news/news-content-04-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <img src="/resources/images/osa/news/news-content-01-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Outside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-scrollbar"></div>
            </div>
            <div class="feed-wrapper feedSwiper 03">
              <ul class="feed-list swiper-wrapper">
                <!-- 이미지가 없는 경우  -->
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap default">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/common/hanwha_default.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/common/hanwha_default.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/common/hanwha_default.png">
                        <img src="/resources/images/common/hanwha_default.png" alt="Default images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <img src="/resources/images/osa/news/news-content-04-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <img src="/resources/images/osa/news/news-content-01-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-02-pc.png">
                        <img src="/resources/images/osa/news/news-content-02-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-05-pc.png">
                        <img src="/resources/images/osa/news/news-content-05-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.png">
                        <img src="/resources/images/osa/news/news-content-04-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.png">
                        <img src="/resources/images/osa/news/news-content-01-pc.png" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">Inside</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 Outside 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./src/include/common-floating-en.ejs') %>


  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>