<%- include('./src/include/header.ejs', { title: '추진체계' }) %>

<main id="SYS" class="hsemge sys">
  <div class="main-inner" data-path="hsemge-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">HSE 경영</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">HSE 경영</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_kv-mo.webp">
                <img class="core" src="/resources/images/hse/hsemge/hsemge_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area sys-area" id="hsemgeSystem">
                <div class="system-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/hse/hsemge/ov/#hsemgeOverview" class="tab-item">Overview</a>
                            <a href="/hse/hsemge/sys/#hsemgeSystem" class="active tab-item">추진체계</a>
                        </div>
                    </div>
                    <div class="content-box sys-gp in_sec_box_area">
                        <div class="title m_h3 in_sec_box">안전보건 추진 조직</div>
                        <div class="infogram-wrap in_sec_box">
                            <div class="graph-img in_mob_scr scr-center scr-wide">
                                <picture class="picture">
                                    <img src="/resources/images/hse/hsemge/hsemge_sys-infogram-01.webp" alt="Graph">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="graph-txt">
                                <ol>
                                <li>
                                    <p>대표이사</p>
                                </li>
                                <li>
                                    <p>안전경영자문위원회</p>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                        <span>CSHO</span>
                                        <p>Chief Safety Health Officer</p>
                                        </li>
                                        <li>
                                        <span>조선소장</span>
                                        <p>안전보건총괄책임자</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <p>산업안전보건위원회</p>
                                </li>
                                <li>
                                    <p>원하청 안전보건협의회</p>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                        <p>HSE 정책담당</p>
                                        </li>
                                        <li>
                                        <p>HSE 운영담당</p>
                                        </li>
                                        <li>
                                        <p>각 생산담당</p>
                                        </li>
                                    </ul>
                                </li>
                                
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="content-box sys-process in_sec_box_area">
                        <div class="common-grid in_sec_box">
                            <div class="title-wrap">
                                <div class="title m_h3">안전보건 추진 체계</div>
                                <div class="desc">안전보건 수행 시스템의 적합성, 객관성 평가를 위한 안전경영자문위원회 운영</div>
                            </div>
                        </div>
                        <div class="infogram-wrap in_sec_box">
                            <div class="graph-img in_mob_scr scr-center scr-wide">
                                <picture class="picture">
                                    <img src="/resources/images/hse/hsemge/hsemge_sys-infogram-02.webp" alt="Graph">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="graph-txt">
                                <strong>반기 1회</strong>
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>대표이사</dt>
                                            <dd>조치이행, 보완</dd>
                                            <dd>의견교환</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>안전보건총괄책임자</dt>
                                            <dd>전사 안전보건환경에 관한 업무 총괄</dd>
                                            <dd>전사 안전보건환경 계획 및 이행사항 </dd>
                                            <dd>안전보건환경 계획/이행상태 심의</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>안전경영자문위원회</dt>
                                            <dd>의사결정의 적합성, 객관성 평가</dd>
                                            <dd>의견교환</dd>
                                            <dd>의견청취</dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="common-table-wrap in_sec_box">
                            <table class="common-table">
                                <caption>안전보건 추진 주요 활동</caption>
                                <thead>
                                <tr>
                                    <th class="p-l-44 left">구분</th>
                                    <th colspan="2" class="left p-l-44">주요 역할 및 활동</th>
                                </tr>
                                </thead>
                    
                                <tbody>
                                <tr>
                                    <th class="p-l-44 left">대표이사</th>
                                    <td colspan="2" class="p-l-32 left">
                                    <ul class="common-circle-list">
                                        <li>안전보건환경 주요 이슈 점검</li>
                                        <li>안전경영자문위원회 위원장</li>
                                    </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="p-l-44 left">안전보건<br class="mobile">총괄책임자</th>
                                    <td colspan="2" class="p-l-32 left">
                                        <ul class="common-circle-list">
                                            <li>전사 안전보건환경에 관한 업무 총괄</li>
                                            <li>사업장 안전보건환경 이행 상태 점검 및 평가</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="p-l-44 left">안전경영<br class="mobile">자문위원회</th>
                                    <td colspan="2" class="p-l-32 left">
                                        <ul class="common-circle-list">
                                            <li>안전보건환경 관리체계 구축및이행 현황 점검/개선 등의 안전보건환경 <br>이행상태를 보고·토의·심의</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                    
                            </table>
                            <table class="common-table">
                                <caption>안전경영자문위원단 위원표</caption>
                    
                                <thead>
                                    <tr>
                                    <th class="p-l-44 left">안전경영자문위원단 위원 7명</th>
                                    </tr>
                                </thead>
                    
                                <tbody>
                                    <tr>
                                    <td rowspan="3" class="p-l-32 left">
                                        <ul class="common-circle-list">
                                            <li>법무</li>
                                            <li>안전분야</li>
                                            <li>산업의학분야</li>
                                            <li>기업체안전분야</li>
                                            <li>의학계전문가</li>
                                            <li>산업안전전문위원</li>
                                        </ul>
                                    </td>
                                    </tr>
                                </tbody>
                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>