<%- include('./src/include/header-en.ejs', { title: '지속가능경영 거버넌스' }) %>

<main id="OSA-GOV" class="gov osa">
  <div class="main-inner" data-path="osa-gov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Sustainable Governance</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">Sustainable Governance</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/osa/gov_kv-pc.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/osa/gov_kv-mo.webp">
              <img class="core" src="/resources/images/osa/gov_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="osa-area gov-area">
          <div class="gov-con">
            <div class="common-grid inner">
              <div class="title-wrap">
                <p class="desc in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> is strengthening our governance framework in order to respond preemptively to the changing management environment brought on by climate change. Our ESG Committee under the Board of Directors (BoD) makes final decisions on the company’s environmental policy and performance. Addressing a variety of environmental issues such as climate change, energy, biodiversity, and water management, the ESG committee meets regularly four times a year to deliberate and make decisions on diverse environmental and climate-related matters.  The CEO has the responsibility and authority for material issues, including establishing climate change response strategies, identifying implementation tasks, and executing investments.</p>
              </div>
            </div>
            <div class="infogram-wrap in_sec_box_area">
              <div class="infogram in_sec_box scr-center">
                <div class="graph-img">
                  <picture>
                    <source media="(min-width: 769px)" srcset="/resources/images/osa/gov_info_diagram-pc_en.webp">
                    <source media="(max-width: 768px)" srcset="/resources/images/osa/gov_info_diagram-pc_en.webp">
                    <img src="/resources/images/osa/gov_info_diagram-pc_en.webp" alt="Images">
                  </picture>
                </div>
                <div class="sr-only">
                  <ul>
                    <li>
                      <dl>
                        <dt>ESG Committee</dt>
                        <dd>(deliberation and voting of ESG management-related matters)</dd>
                      </dl>
                    </li>
                    <li>
                    <ul>
                      <li>Discussion/Review of the Strategy</li>
                      <li>Report</li>
                      <li>Support</li>
                      <li>
                        <dl>
                          <dt>ESG Secretariat</dt>
                          <dd>(planning & coordination)</dd>
                          <dd>ESG strategy and planning, ongoing task management, information disclosure, support for stakeholder responses</dd>
                        </dl>
                      </li>
                    </ul>
                    </li>
                    <li>
                      <dl>
                        <dt>ESG Promotion Council</dt>
                        <dd>(coordination of company-wide ESG implementation)</dd>
                      </dl>
                    </li>
                    <li>
                      <ul>
                        <li>
                          <dl>
                            <dt>Environment</dt>
                            <dd>
                              <ul>
                                  <li>Environmental Policies</li>
                                  <li>Management of Official Duties</li>
                                  <li>Facility Building</li>
                                  <li>HR Planning</li>
                                  <li>Research <br>
                                    Planning</li>
                                  <li>Purchase <br>
                                    Planning</li>
                                  <li>Commercial <br>
                                    Ship Business
                                    Planning</li>
                                  <li>Commercial <br>
                                    Ship Business
                                    Planning</li>
                                  <li>Nabal&Specialty Ship Business Planning</li>
                                  <li>Planning & Coordination</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Safety & Health</dt>
                            <dd>
                              <ul>
                                    <li>Safety & Health Planning</li>
                                    <li>HSE Support</li>
                                    <li>Commercial 
                                      Ship HSE</li>
                                    <li>Offshore HSE</li>
                                    <li>Nabal&Specialty Ship Ship HSE</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Talent & Human Rights</dt>
                            <dd>
                              <ul>
                                  <li>HR Planning</li>
                                  <li>Talent Development</li>
                                  <li>HR 
                                    Management</li>
                                  <li>Corporate 
                                    Culture
                                    Innovation</li>
                                  <li>Labor-Management Policies</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Shared Growth</dt>
                            <dd>
                              <ul>
                                    <li>Cooperative Planning</li>
                                    <li>Purchase 
                                      Planning</li>
                                    <li>Cooperative Contract</li>
                                    <li>Cooperative Support</li>
                                    <li>Environmental Policies</li>
                                    <li>Compliance</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Local Communities</dt>
                            <dd>
                              <ul>
                                    <li>Support</li>
                                    <li>External PR</li>
                                    <li>Environmental Policies</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Clients & Quality</dt>
                            <dd>
                              <ul>
                                    <li>Quality 
                                      Planning</li>
                                    <li>Commercial Ship Business 
                                      Planning</li>
                                    <li>Offshore 
                                      Business 
                                      Planning</li>
                                    <li>Nabal&Specialty Ship Business Planning</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Information Security</dt>
                            <dd>
                              <ul>
                                    <li>CISO</li>
                                    <li>Support</li>
                                    <li>Seoul Support</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Corporate Governance</dt>
                            <dd>
                              <ul>
                                    <li>Planning & Coordination</li>
                                    <li>Finance</li>
                                    <li>Consolidated Accounting</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>Compliance & Ethics</dt>
                            <dd>
                              <ul>
                                    <li>Compliance</li>
                                    <li>Management Assessment 1</li>
                                    <li>Management Assessment 2</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>

          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>