<%- include('./src/include/header-en.ejs', { title: 'Sustainable Strategy System' }) %>

<main id="SUS" class="sus osa">
  <div class="main-inner" data-path="sus">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Sustainable Strategy System</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">Sustainable Strategy System</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/osa/sus_kv-pc.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/osa/sus_kv-mo.webp">
              <img class="core" src="/resources/images/osa/sus_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="osa-area sus-area">
          <div class="sus-con">
            <div class="common-grid inner">
              <div class="title-wrap">
                <div class="title m_h3 in_sec_copy">The Most Trusted <br>Company Enabling <br>Sustainable Voyage</div>
                <p class="desc in_sec_copy"><spab class="m_hanwhaL">Hanwha Ocean</spab> set a vision of the “most trusted company enabling sustainable voyage” and selected three directions and seven tasks to achieve the vision. <br>
                  We also adopted an ESG framework called GO PLUS+ into our ESG vision to reflect the company’s core values. Our major strategic tasks  include climate action, shared growth and coexistence, and establishment of transparent and fair governance.</p>
              </div>
            </div>
            <div class="infogram-wrap in_sec_box_area">
              <div class="infogram in_sec_box scr-center">
                <div class="graph-img">
                  <picture>
                    <source media="(min-width: 769px)" srcset="/resources/images/osa/sus_info_diagram-pc_en.webp">
                    <source media="(max-width: 768px)" srcset="/resources/images/osa/sus_info_diagram-pc_en.webp">
                    <img src="/resources/images/osa/sus_info_diagram-pc_en.webp" alt="Images">
                  </picture>
                </div>
                <div class="sr-only">
                  <ul>
                    <li>
                      <dl>
                        <dt>ESG Vision</dt>
                        <dd>The most trusted company enabling sustainable voyage</dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt>ESG Slogan</dt>
                        <dd>Go Great Ocean,Go Green Builder</dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt>ESG Framework</dt>
                        <dd>
                          <ul>
                            <li>
                              <dl>
                                <dt>People</dt>
                                <dd>We put people at the center of everything, communicate, and respect them.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Leadership</dt>
                                <dd>We develop and research novel technologies that will shape the new future, and lead innovation.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Upgrade</dt>
                                <dd>We constantly inspect, improve, and achieve unrivaled quality.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Safety</dt>
                                <dd>We inspect thoroughly and act promptly to protect our priority and safety.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Plus</dt>
                                <dd>
                                  We constantly strive for a sustainable ocean and humanity.</dd>
                              </dl>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt>Directions & ESG Tasks</dt>
                        <dd>
                          <ul>
                            <li>
                              <dl>
                                <dt>Climate Action through the Advancement of Green and Digital Technologies</dt>
                                <dd>Advancement of environmental management Leading eco-friendly shipbuilding and marine technology</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Shared Growth and Coexistence through Communication and Trust</dt>
                                <dd>Coexistence with suppliers and local communities Ensuring a safe and pleasant workplace Strengthening human rights management</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Establishment of Transparent and Fair Governance</dt>
                                <dd>Advancement of ESG management Reinforcement of the compliance system</dd>
                              </dl>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>