<%- include('./src/include/header-en.ejs', { title: 'Pollutant Management' }) %>

<!-- dummy -->
<main id="CNT" class="cnt env">
  <div class="main-inner" data-path="pl">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_kv-mo.webp">
                <img class="core" src="/resources/images/hse/env/env_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="hse-area cnt-area" id="envCnt">
              <div class="cnt-con">
                  <div class="common-tab-looking-a-wrap">
                      <div class="tab-looking-a line-tab">
                        <a href="/en/hse/env/pl/#envPl" class="tab-item">Environmental Policy</a>
                        <a href="/en/hse/env/st/#envSt" class="tab-item">Laws/Regulations and Response Strategies</a>
                        <a href="/en/hse/env/cert/#envCert" class="tab-item">Eco-friendly Certification Status</a>
                        <a href="/en/hse/env/cnt/#envCnt" class="active tab-item">Pollutant Management</a>
                        <a href="/en/hse/env/bio/#envBio" class="tab-item">Biodiversity Protection</a>
                      </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                      <div class="common-grid">
                          <div class="title-wrap">
                              <div class="title m_h3 in_sec_copy">Enhancement of <br>Resource Efficiency</div>
                              <div class="desc">
                                  <p class="intro in_sec_copy">Key initiatives designed to increase the waste recycling rate to 67.10% by 2030 include expanding the sorting process at internal waste collection sites, providing more combustible waste to recycling companies (from 45% in 2023 to approx. 70% in 2030), and adjusting the amount of wood delivered to local residents (50% by 2030 from the current level). We also plan to implement a series of activities to improve our recycling in the long term such as selecting and improving recyclable items among wastes disposed in landfills, reviewing the possibility of partial recycling of designated wastes, and designating recycling companies in advance to release new wastes.</p>
                              </div>
                          </div>
                      </div>
                      <div class="chart-img in_mob_scr">
                        <div class="graph-img">
                          <picture>
                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/en_env_cnt_chart-pc.webp">
                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/en_env_cnt_chart-mo.webp">
                              <img class="core" src="/resources/images/hse/env/en_env_cnt_chart-pc.webp" alt="Graph">
                          </picture>
                        </div>
                      </div>
                      <!-- <div class="common-chart-wrap in_sec_box">
                        <div class="chart-info">
                          <div class="info">
                            <div class="gray m_etc">Waste generated</div>
                            <div class="dark m_etc">Waste released for recycling</div>
                            <div class="or m_etc">Recycling rate</div>
                          </div>
                          <div class="unit m_desc">Unit : ton</div>
                        </div>
                        <div class="in_mob_scr">
                          <div class="chart-graph picture">
                            <div class="board-box">
                              <div class="values">
                                <div class="val val-max" data-value="50,000"></div>
                              </div>
                            </div>
                            <div class="data-box">
                              <div class="data-wrap" data-graph-year="2021">
                                <div class="year m_etc">2021</div>
                                <div class="graph lego">
                                  <div class="box dark">
                                    <span class="count">17,252</span>
                                    <span class="bar"></span>
                                    <span class="rate">55.41%</span>
                                  </div>
                                  <div class="box gray">
                                    <span class="count">31,134</span>
                                    <span class="bar"></span>
                                  </div>
                                </div>                    
                              </div>
                              <div class="data-wrap" data-graph-year="2022">
                                <div class="year m_etc">2022</div>
                                <div class="graph lego">
                                  <div class="box dark">
                                    <span class="count">19,979</span>
                                    <span class="bar"></span>
                                    <span class="rate">57.35%</span>
                                  </div>
                                  <div class="box gray">
                                    <span class="count">34,835</span>
                                    <span class="bar"></span>
                                  </div>
                                </div>                    
                              </div>
                              <div class="data-wrap" data-graph-year="2022">
                                <div class="year m_etc">2023</div>
                                <div class="graph lego">
                                  <div class="box dark">
                                    <span class="count">23,793</span>
                                    <span class="bar"></span>
                                    <span class="rate">59.62%</span>
                                  </div>
                                  <div class="box gray">
                                    <span class="count">39,907</span>
                                    <span class="bar"></span>
                                  </div>
                                </div>                    
                              </div>
                              <div class="data-wrap" data-graph-year="2024">
                                <div class="year m_etc">2024(Target)</div>
                                <div class="graph lego">
                                  <div class="box dark">
                                    <span class="count">28,839</span>
                                    <span class="bar"></span>
                                    <span class="rate">61.05%</span>
                                  </div>
                                  <div class="box gray">
                                    <span class="count">47,239</span>
                                    <span class="bar"></span>
                                  </div>
                                </div>                    
                              </div>
                              <div class="data-wrap" data-graph-year="2030">
                                <div class="year m_etc">2030(Target)</div>
                                <div class="graph lego">
                                  <div class="box dark">
                                    <span class="count">31,698</span>
                                    <span class="bar"></span>
                                    <span class="rate">67.10%</span>
                                  </div>
                                  <div class="box gray">
                                    <span class="count">47,239</span>
                                    <span class="bar"></span>
                                  </div>
                                </div>                    
                              </div>
                            </div>
                          </div>
                          <div class="icon-swipe"></div>
                        </div>
                      </div> -->
                      <ul class="common-line-list in_sec_box">
                        <li class="m_desc">The data was compiled based on the Okpo Shipyard.</li>
                      </ul>
                  </div>
                  <div class="content-box in_sec_box_area">
                    <div class="common-grid">
                        <div class="title-wrap">
                            <div class="title m_h3 in_sec_copy">Special Case</div>
                            <div class="desc">
                              <div class="accordion-item">
                                <div class="common-accordion-list">
                                  <ul>
                                    <li>
                                      <div class="head">
                                        <div class="tit m_h8"><span class="hash">#1</span>Recycling wood</div>
                                        <button type="button" class="accordion-toggle-btn"></button>
                                      </div>
                                      <div class="body">
                                        <p class="desc">As an example of waste recycling, <span class="m_hanwhaL">Hanwha Ocean</span> selects various types of wastes by property such as synthetic resin, synthetic rubber, wood, and household waste and sends them to recycling companies to produce solid refuse fuel (SRF) and wood chips, plywood, and square timber. The SRF produced by recycling companies using our waste as a raw material serves as a renewable energy source. They are supplied as an auxiliary fuel for power plants, district heating, and industrial use, contributing as a green energy source  to replace bituminous coal. Additionally, we promote the circulation of resources and take the lead in environmental protection by producing wood chips, plywood, and square timber from waste wood, and converting them into high-value products.</p>
                                        <div class="slide">
                                          <div class="swiper">
                                            <div class="swiper-wrapper">
                                              <div class="swiper-slide">
                                                <picture class="img-wrap">
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cnt_slide_01-1-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cnt_slide_01-1-mo.webp">
                                                    <img class="core" src="/resources/images/hse/env/env_cnt_slide_01-1-pc.webp" alt="Images">
                                                </picture>
                                              </div>
                                              <div class="swiper-slide">
                                                <picture class="img-wrap">
                                                      <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cnt_slide_01-2-pc.webp">
                                                      <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cnt_slide_01-2-mo.webp">
                                                      <img class="core" src="/resources/images/hse/env/env_cnt_slide_01-2-pc.webp" alt="Images">
                                                  </picture>
                                              </div>
                                              <div class="swiper-slide">
                                                <picture class="img-wrap">
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cnt_slide_01-3-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cnt_slide_01-3-mo.webp">
                                                    <img class="core" src="/resources/images/hse/env/env_cnt_slide_01-3-pc.webp" alt="Images">
                                                </picture>
                                              </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                          </div>
                                          <div class="swiper-button-next"></div>
                                          <div class="swiper-button-prev"></div>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="head">
                                        <div class="tit m_h8"><span class="hash">#2</span>Recycling slag and dust</div>
                                        <button type="button" class="accordion-toggle-btn"></button>
                                      </div>
                                      <div class="body">
                                        <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> sorts slag and dust by property, which are then sent to competitive recycling companies.
                                          Recycling companies use these materials to produce cement additives, fillers, and other products as well as moldings that are used as raw materials for metal and steel products.
                                          Such recycling process is considered an important example of promoting efficient use of resources and contributing to environmental protection.
                                          Our approach contributes to sustainable environmental management and resource circulation by turning industrial waste to valuable resources.
                                          </p>
                                        <div class="slide swiper">
                                          <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                              <picture class="img-wrap">
                                                  <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cnt_slide_02-1-pc.webp">
                                                  <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cnt_slide_02-1-mo.webp">
                                                  <img class="core" src="/resources/images/hse/env/env_cnt_slide_02-1-pc.webp" alt="Images">
                                              </picture>
                                            </div>
                                          </div>
                                          <!-- <div class="swiper-button-next"></div>
                                          <div class="swiper-button-prev"></div>
                                          <div class="swiper-pagination"></div> -->
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="head">
                                        <div class="tit m_h8"><span class="hash">#3</span>Recycling paint waste and used oil</div>
                                        <button type="button" class="accordion-toggle-btn"></button>
                                      </div>
                                      <div class="body">
                                        <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> separates waste paint cans and oil drums and sends them to recycling companies for environmental protection and resource recycling.
                                          Waste paint cans are converted into raw materials for steel products, and they serve as important resources in the steel industry.
                                          On the other hand, waste oil drums are used to produce recycling tubes, adding value as crucial resources.
                                          Such recycling activities go beyond the simple activity of reducing waste; they contribute to sustainable environmental management and promote the efficient use of resources. 
                                          </p>
                                        <div class="slide">
                                          <div class="swiper">
                                            <div class="swiper-wrapper">
                                              <div class="swiper-slide">
                                                <picture class="img-wrap">
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cnt_slide_03-1-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cnt_slide_03-1-mo.webp">
                                                    <img class="core" src="/resources/images/hse/env/env_cnt_slide_03-1-pc.webp" alt="Images">
                                                </picture>
                                              </div>
                                              <div class="swiper-slide">
                                                <picture class="img-wrap">
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cnt_slide_03-2-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cnt_slide_03-2-mo.webp">
                                                    <img class="core" src="/resources/images/hse/env/env_cnt_slide_03-2-pc.webp" alt="Images">
                                                </picture>
                                              </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                          </div>
                                          <div class="swiper-button-next"></div>
                                          <div class="swiper-button-prev"></div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
  
                                </div>
  
                              </div>
                            </div>
                        </div> 
                    </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                    <div class="common-grid">
                        <div class="title-wrap">
                            <div class="title m_h3 in_sec_copy">Water Pollution <br>Management</div>
                            <div class="desc">
                              <p class="in_sec_copy">In an effort to promote sustainable environment, <span class="m_hanwhaL">Hanwha Ocean</span> has established internal management standards that are about 30% stricter than the existing legal discharge level under the Water Environment Conservation Act and the Sewerage Act, taking the lead in the management of water pollutants. Our efforts do not only meet legal requirements but also are designed to implement our corporate responsibility and commitment to environmental protection. Our proactive approach contributes to controlling water pollution effectively and maintaining a clean and healthy water environment.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="table-wrap t01">
                      <div class="common-table-wrap">
                        <table class="common-table">
                          <caption>Water Pollution Management</caption>
              
                          <thead>
                            <tr>
                              <th colspan="2" class="p-l-44 left">Indicator</th>
                              <th class="center">Unit</th>
                              <th class="right p-r-84">2020</th>
                              <th class="right p-r-84">2021</th>
                              <th class="right p-r-84">2022</th>
                              <th class="right p-r-84 or">2023</th>
                            </tr>
                          </thead>
              
                          <tbody>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">TOC</th>
                              <td class="p-l-44 left">Total organic carbon (TOC) emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">0</td>
                              <td class="right p-r-84">0</td>
                              <td class="right p-r-84">0.145</td>
                              <td class="right p-r-84 or">0.259</td>
                            </tr>
                            <tr>
                              <td class="p-l-44 left">TOC emissions <br>intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0</td>
                              <td class="right p-r-84">0</td>
                              <td class="right p-r-84">0.000003</td>
                              <td class="right p-r-84 or">0.000003</td>
                            </tr>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">COD</th>
                              <td class="p-l-44 left">Chemical oxygen demand (COD) emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">0.25</td>
                              <td class="right p-r-84">0.16</td>
                              <td class="right p-r-84">Changed to TOC</td>
                              <td class="right p-r-84 or">Changed to TOC</td>
                            </tr>
                            <tr>
                              <td class="p-l-44 left">COD emissions intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0.0000036</td>
                              <td class="right p-r-84">0.0000036</td>
                              <td class="right p-r-84">Changed to TOC</td>
                              <td class="right p-r-84 or">Changed to TOC</td>
                            </tr>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">SS</th>
                              <td class="p-l-44 left">Suspended solid (SS) emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">0.04</td>
                              <td class="right p-r-84">0.035</td>
                              <td class="right p-r-84">0.031</td>
                              <td class="right p-r-84 or">0.019</td>
                            </tr>
                            <tr>
                              <td class="p-l-44 left">SS emissions intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0.00000058</td>
                              <td class="right p-r-84">0.00000078</td>
                              <td class="right p-r-84">0.00000064</td>
                              <td class="right p-r-84 or">0.00000026</td>
                            </tr>
              
              
                           
                          </tbody>
              
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                    <div class="common-grid">
                        <div class="title-wrap">
                            <div class="title m_h3 in_sec_copy">Chemical Substance <br>Management</div>
                            <div class="desc">
                              <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> strives to minimize the negative impact of chemical substances used to construct ships on the health of our  employees and the environment. Accordingly, we thoroughly manage the entire process from procurement to disposal to ensure the safety of chemical use. In addition, we apply and promote multiple options to reinforce the management of chemical substances, including establishing an automatic check system, developing AI-based research and alarm functions, investigating shipowner and vendor customs clearance items, and manually managing chemical substances.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="table-wrap t02">
                      <div class="common-table-wrap">
                        <table class="common-table">
                          <caption>Chemical Substance Management</caption>
              
                          <thead>
                            <tr>
                              <th class="p-l-44 left">Indicator</th>
                              <th class="center">Unit</th>
                              <th class="right p-r-84">2020</th>
                              <th class="right p-r-84">2021</th>
                              <th class="right p-r-84">2022</th>
                              <th class="right p-r-84 or">2023</th>
                            </tr>
                          </thead>
              
                          <tbody>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">Amount of hazardous <br class="pc">chemicals used</th>
                              <td class="center">ton</td>
                              <td class="right p-r-84">0</td>
                              <td class="right p-r-84">0</td>
                              <td class="right p-r-84">0.05</td>
                              <td class="right p-r-84 or">913.8</td>
                            </tr>
                          </tbody>
              
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                    <div class="common-grid">
                        <div class="title-wrap">
                          <div class="title m_h3 in_sec_copy">Air Pollution Management¹⁾</div>
                        </div> 
                    </div>
                    <div class="table-wrap t03">
                      <div class="common-table-wrap">
                        <table class="common-table">
                          <caption>Air Pollution Management</caption>
              
                          <thead>
                            <tr>
                              <th colspan="2" class="p-l-44 left">Indicator</th>
                              <th class="center">Unit</th>
                              <th class="right p-r-84">2020²⁾</th>
                              <th class="right p-r-84">2021</th>
                              <th class="right p-r-84">2022</th>
                              <th class="right p-r-84 or">2023</th>
                            </tr>
                          </thead>
              
                          <tbody>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">NOx</th>
                              <td class="left p-l-44">Nitrogen oxide <br>(NOx) <br class="pc">emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">8.793</td>
                              <td class="right p-r-84">6.896</td>
                              <td class="right p-r-84">8.107</td>
                              <td class="right p-r-84 or">8.878</td>
                            </tr>
                            <tr>
                              <td class="left p-l-44">NOx emissions 
                                intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0.000125</td>
                              <td class="right p-r-84">0.000154</td>
                              <td class="right p-r-84">0.000167</td>
                              <td class="right p-r-84 or">0.000119</td>
                            </tr>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">SOx</th>
                              <td class="left p-l-44">Sulfur oxide (SOx) 
                                emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">1.138</td>
                              <td class="right p-r-84">0.023</td>
                              <td class="right p-r-84">0.124</td>
                              <td class="right p-r-84 or">0.47</td>
                            </tr>
                            <tr>
                              <td class="left p-l-44">SOx emissions 
                                intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0.000016</td>
                              <td class="right p-r-84">0.000001</td>
                              <td class="right p-r-84">0.000003</td>
                              <td class="right p-r-84 or">0.000006</td>
                            </tr>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">VOCs</th>
                              <td class="left p-l-44">Volatile organic 
                                compound (VOC) 
                                emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">3,245</td>
                              <td class="right p-r-84">1,871</td>
                              <td class="right p-r-84">1,257</td>
                              <td class="right p-r-84 or">1,375</td>
                            </tr>
                            <tr>
                              <td class="left p-l-44">VOC emissions 
                                intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0.046158</td>
                              <td class="right p-r-84">0.041702</td>
                              <td class="right p-r-84">0.025863</td>
                              <td class="right p-r-84 or">0.01856</td>
                            </tr>
                            <tr>
                              <th rowspan="2" class="p-l-44 left">PM</th>
                              <td class="left p-l-44">Particulate matter 
                                (PM10) emissions</td>
                              <td class="center">ton</td>
                              <td class="right p-r-84">21.86</td>
                              <td class="right p-r-84">13.54</td>
                              <td class="right p-r-84">13.5</td>
                              <td class="right p-r-84 or">13.36</td>
                            </tr>
                            <tr>
                              <td class="left p-l-44">PM10 emissions 
                                intensity</td>
                              <td class="center">ton/ <br>KRW 100 million</td>
                              <td class="right p-r-84">0.00031</td>
                              <td class="right p-r-84">0.000302</td>
                              <td class="right p-r-84">0.000278</td>
                              <td class="right p-r-84 or">0.00018</td>
                            </tr>
                          </tbody>
              
                        </table>
                      </div>
                      <ul class="refer">
                        <li class="m_desc">1&#41; Calculated based on Okpo, Siheung, Anjeong business sites.</li>
                        <li class="m_desc">2&#41; Data modified due to changes in calculation criteria.</li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>