<%- include('./src/include/header.ejs', { title: 'HOST 2030' }) %>

<main id="HOST2030" class="host2030 osa">
  <div class="main-inner" data-path="host2030">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">HOST 2030</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">HOST 2030</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                  <source media="(min-width: 769px)" srcset="/resources/images/osa/host_kv-pc.webp">
                  <source media="(max-width: 768px)" srcset="/resources/images/osa/host_kv-mo.webp">
                  <img class="core" src="/resources/images/osa/host_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="host-area osa-area">
          <div class="common-grid inner">
            <div class="title-wrap">
              <p class="desc mt-0 in_sec_copy">2023년 12월 <span class="m_hanwhaL">한화오션</span>의 ESG위원회는 ESG경영 목표에 대한 안건을 승인하였습니다. <br><span class="m_hanwhaL">한화오션</span>은 ESG HOST 2030의 핵심지표로 온실가스 배출 감축, 친환경 선박으로의 전환, 안전사고 예방, 공급망 ESG평가, 준법 및 윤리경영 실천 평가로 5개 항목을 설정하였으며, 이를 통해 지속가능성과 사회적 책임을 강화하고자 합니다.</p>
            </div>
          </div>
          <div class="esg-con">
            <div class="esg-ct">
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>핵심지표</span></p></div>
                  <div class="tit m_h5"><p><span>온실가스 감축율</span></p></div>
                  <div class="desc m_desc"><p><span>REC 구매 활용 및 에너지 관리 시스템 구축을 통해 <br class="mobile">2030 목표 달성 및 <br class="pc">2050 온실가스 배출 제로 달성</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>현재수준</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="71.28" data-moHei="70"><!--디자인 기준 높이값 data-pcHei::Pc 배경 높이값 -->
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">3.1</div>
                        <span class="odometer-unit">%</span>
                      </div>
                      
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="data-wrap">
                    <p><span>2030목표</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="432" data-moHei="324">
                        <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">40</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                    <div class="refer"><p><span>(2050 Net Zero)</span></p></div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="bg-txt"><span>E</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>핵심지표</span></p></div>
                  <div class="tit m_h5"><p><span>친환경 선박 수주 잔량 비율</span></p></div>
                  <div class="desc m_desc"><p><span>친환경 선박 수주 잔량 <br>: 87척 / 99척 (2023년 12월 말 기준)</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>현재수준</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="930.96" data-moHei="649">
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">87.9</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                    
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030목표</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="1080" data-moHei="812">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">100</div>
                        <span class="odometer-unit">%</span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="bg-txt"><span>E</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>핵심지표</span></p></div>
                  <div class="tit m_h5"><p><span>안전사고</span></p></div>
                  <div class="desc m_desc"><p><span>스마트 안전 시스템, HSE 체험관 및 VR 교육</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>중대재해 건수</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="72" data-moHei="49">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">1</div>
                        <span class="odometer-unit">건</span>
                    </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030목표</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="10" data-moHei="4">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">0</div>
                        <span class="odometer-unit">건</span>
                    </div>
                    </div>
                   
                  </div>
                </div>
                <div class="bg-txt"><span>S</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>핵심지표</span></p></div>
                  <div class="tit m_h5"><p><span>안전사고</span></p></div>
                  <div class="desc m_desc"><p><span>스마트 안전 시스템,<br> HSE 체험관 및 VR 교육</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>근로손실재해율(LTIR)</span></p>
                    <div class="target-ct common-odometer">
                        <div class="target odometer-wrap odometer-float" data-pcHei="154" data-moHei="80">
                            <div class="odometer-zero">0</div>
                            <div class="odometer odometer-auto-theme">0</div>
                            <div class="odometer-tobe">0.19</div>
                        </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030목표</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap odometer-float" data-pcHei="105" data-moHei="60">
                          <div class="odometer-zero">0</div>
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">0.15</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-txt"><span>S</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>핵심지표</span></p></div>
                  <div class="tit m_h5"><p><span>공급망 ESG평가 적용비율</span></p></div>
                  <div class="desc m_desc"><p><span>EU 공급망실사법 대응</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>현재수준</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="10" data-moHei="10">
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">0</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030목표</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="1080" data-moHei="812">
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">100</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-txt"><span>S</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>핵심지표</span></p></div>
                  <div class="tit m_h5"><p><span>준법윤리경영 실천평가</span></p></div>
                  <div class="desc m_desc"><p><span>반부패, 규범준수 ISO인증 및 내재화 추진</span></p></div>
                </div>
                <div class="info-box esg-box">
                 
                  <div class="data-wrap">
                    <p><span>현재수준</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="10" data-moHei="10">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">0</div>
                        <span class="odometer-unit">점</span>
                      </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030목표</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="1080" data-moHei="812">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">5</div>
                        <span class="odometer-unit">점 ¹⁾</span>
                      </div>
                    </div>
                    <p class="ie m_desc"><span>1&#41; 5점 척도 : 세부 과제 정량/정성 혼합평가</span></p>
                  </div>
                </div>
                <div class="bg-txt"><span>G</span></div>
              </div>
            </div>
          </div>
          <div class="common-grid inner">
            <div class="title-wrap">
              <p class="desc in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 지속가능경영을 내재화하고 ESG비전체계를 달성하기 위해 <span class="m_hanwhaL">Hanwha Ocean</span><br class="pc"> Step-Up Target 2030 을 수립하였습니다. 5가지 핵심 목표를 설정하고 구체적 성과 지표 달성하기 위한 전사의 체계적인 과제 실행을 통해 지속 가능한 경제 발전과 사회적 가치 창출에 기여하고자 합니다.</p>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>