<%- include('./src/include/header.ejs', { title: '' }) %>
<%- include('./src/include/pop_layer.ejs') %>

<main id="MAIN" class="main" data-landscape="true">
  <div class="main-inner">
    <section id="KV01" class="sec">
      <div class="sec_inner">
        <div class="sticky-wrap">
          <div class="text-wrap">
            <div class="text-wrap-inner 01">
              <strong class="m_h9">
                <span>The most trusted company enabling <br class="mobile">sustainable voyage</span>
              </strong>
              <div class="m_h3 txt_ef_up">
                  지속가능한 항해를 <br class="mobile">가능케 하는 <br class="pc"><br class="tablet"><br class="mobile">
                  가장 믿을 수 있는 기업
              </div>
            </div>
            <div class="text-wrap-inner 02">
              <strong class="m_h9">
                <span>Go Great Ocean, Go Green Builder</span>
              </strong>
              <div class="m_h3 txt_ef_up">
                  새로운 미래를 여는 <br class="pc"><br class="tablet"><br class="mobile">
                  친환경 신기술을 연구하며 <br class="pc"><br class="tablet"><br class="mobile">
                  혁신을 주도합니다 <br class="pc"><br class="tablet"><br class="mobile">
              </div>
              </p>
            </div>
          </div>
        </div>
        <div class="bg-wrap">
          <div class="bg">
            <picture class="picture bg-img">
              <source media="(min-width:769px)" src="/resources/images/main/main-kv01.webp">
              <source media="(max-width:768px)" src="/resources/images/main/main-kv01.webp">
              <img src="/resources/images/main/main-kv01.webp" alt="Images">
            </picture>

            <!-- 퍼블 참고 : 구름만 webp 보다 png 가 용량이 더 적어서 아래와 같이 적용함 -->
            <div class="picture-cloud-wrap">
              <picture class="cloud-img top">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_top.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_top.png">
                <img src="/resources/images/main/cloud_top.png" alt="Images">
              </picture>
              <picture class="cloud-img right-1">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_right.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_right.png">
                <img src="/resources/images/main/cloud_right.png" alt="Images">
              </picture>
              <picture class="cloud-img left">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_left.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_left.png">
                <img src="/resources/images/main/cloud_left.png" alt="Images">
              </picture>
              <picture class="cloud-img bottom">
                <source media="(min-width:769px)" src="/resources/images/main/cloud_bottom.png">
                <source media="(max-width:768px)" src="/resources/images/main/cloud_bottom.png">
                <img src="/resources/images/main/cloud_bottom.png" alt="Images">
              </picture>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="MAINZOOMIN-1" class="sec sec_zoomin">
      <div class="sec_inner">
          <div class="zoomin-inner">
            <div class="title-wrap">
              <h2 class="title-eyebrow sec_cnt_nav m_h9"><strong>Our Sustainability Approach</strong></h2>
              <div class="title-video pc">
                <span class="text1">
                  <strong>
                    <span class="m_hanwhaR">한화오션</span>은 다양한 선박 제조 분야에서
                  </strong>
                </span> <br>
                <span class="text1-1">
                  <strong>선도적인 역할을 수행해 왔습니다.</strong> 
                </span>
              </div>
              <div class="title-video mobile">
                <span class="text1">
                  <strong>
                    <span class="m_hanwhaR">한화오션</span>은 다양한 선박
                  </strong>
                </span> <br>
                <span class="text1-1">
                  <strong>제조 분야에서 선도적인</strong> 
                </span> <br>
                <span class="text1-2">
                  <strong>역할을 수행해 왔습니다.</strong> 
                </span>
              </div>
              <div class="vid-container">
                <!-- <div class="video-wrap">
                  <video title="" playsinline muted loop preload="none" >
                    <source media="(min-width:769px)" src="/resources/images/main/whoweare.mp4">
                    <source media="(max-width:768px)" src="/resources/images/main/whoweare_m.mp4">
                    <source src="/resources/images/main/whoweare.mp4" type="video/mp4">
                  </video>
                </div> -->
                <div class="img-wrap">
                  <picture>
                    <source media="(min-width:769px)" srcset="/resources/images/main/main_zoomin_01_pc.webp">
                    <source media="(max-width:768px)" srcset="/resources/images/main/main_zoomin_01_mo.webp">
                    <img src="/resources/images/main/main_zoomin_01_pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="title-kr-wrap">
                  <div class="title-kr">
                    <p>
                      수많은 ‘최초, 최대, 유일’<br class="mobile">이라는 기록과 함께 <br class="pc">
                      대한민국이 세계 1위 조선 강국으로 <br class="pc">
                      자리매김하는 데 기여하였습니다.</p>
                      <div class="sec_btn_more">
                        <a href="./osa/ceo/" class="m_btn ex_btn5 in_sec_copy" data-btntype="text" icon="left" hover="arrow" bg="w">
                          <span class="icon"></span>
                          <span class="txt" data-txt="자세히 보기">자세히 보기</span>
                        </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </section>
    <section id="MAIN_HSE" class="sec sec_mainhse">
      <div class="sec_inner">
        <div class="sticky-section">

          <div class="sticky-inner">
            <div class="text-wrap">
              <div class="text-wrap-inner">
                <h2 class="title-eyebrow sec_cnt_nav m_h9 in_sec_copy">HSE</h2>
                <h3 class="title m_h5 txt_ef_up in_sec_copy">
                  우리는 동료의 생명과<br class="pc"><br class="tablet"><br class="mobile">
                  안전, 보건, 환경을 돌보는<br class="pc"><br class="tablet"><br class="mobile">
                  가치있는 일을 합니다.
                </h3>
                <a href="./hse/hsemge/ov/" class="m_btn ex_btn5 in_sec_copy" data-btntype="text" icon="left" hover="arrow" bg="w">
                  <span class="icon"></span>
                  <span class="txt" data-txt="자세히 보기">자세히 보기</span>
                </a>
              </div>
            </div>
            <div class="bg-wrap">
              <div class="bg-wrap-inner 01">
                <div class="bg-text-wrap">
                  <div class="left">
                    <span class="m_h9 txt_ef_up">2030 목표</span>
                    <strong class="m_h5 txt_ef_up">온실가스 감축율</strong>
                  </div>
                  <div class="right">
                    <div class="common-odometer">
                      <div class="odometer-wrap">
                        <div class="odometer odometer-auto-theme m_h1">0</div>
                        <div class="odometer-tobe">40</div>
                        <span class="odometer-unit">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_hse_01.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_hse_01.webp">
                    <img src="/resources/images/main/main_hse_01.webp" alt="Images">
                  </picture>
                </div>
              </div>
              <div class="bg-wrap-inner 02">
                <div class="bg-text-wrap">
                  <div class="left">
                    <span class="m_h9 txt_ef_up">2030 목표</span>
                    <strong class="m_h5 txt_ef_up">중대재해 건수</strong>
                  </div>
                  <div class="right">
                    <!-- <div class="common-odometer">
                      <div class="odometer-wrap odometer-txt">
                        <div class="odometer odometer-auto-theme m_h1">0</div>
                        <div class="odometer-tobe">ZERO</div>
                      </div>
                    </div> -->
                    <strong class="m_h1 txt_ef_up">ZERO</strong>
                  </div>
                </div>
                <div class="bg">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_hse_02.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_hse_02.webp">
                    <img src="/resources/images/main/main_hse_02.webp" alt="Images">
                  </picture>
                </div>
              </div>
              <div class="bg-wrap-inner 03">
                <div class="bg-text-wrap">
                  <div class="left">
                    <span class="m_h9 txt_ef_up">2030 목표</span>
                    <strong class="m_h5 txt_ef_up">근로손실재해율</strong>
                  </div>
                  <div class="right">
                    <!-- <div class="common-odometer">
                      <div class="odometer-wrap odometer-float">
                        <div class="odometer odometer-auto-theme m_h1">0</div>
                        <div class="odometer-tobe">0.15</div>
                      </div>
                    </div> -->
                    <strong class="m_h1 txt_ef_up">0.15</strong>
                  </div>
                </div>
                <div class="bg">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_hse_03.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_hse_03.webp">
                    <img src="/resources/images/main/main_hse_03.webp" alt="Images">
                  </picture>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <seciton id="MAIN_CLIP" class="sec sec_mainclip">
      <div class="sec_inner">
        <div class="sticky-section">
            <div class="sticky-inner">
              <div class="mainclip-img-wrap">
                <picture>
                  <source media="(min-width:769px)" src="/resources/images/main/main_clip.webp">
                  <source media="(max-width:768px)" src="/resources/images/main/main_clip.webp">
                  <img src="/resources/images/main/main_clip.webp" alt="Images">
                </picture>
              </div>
            </div>
        </div>
      </div>
    </seciton>

    <section id="MAIN_SIDESCROLL" class="sec sec_mainsidescroll">
      <div class="sec_inner">

        <div class="sticky-section">
          <div class="sticky-inner">
            <h2 class="title-eyebrow sec_cnt_nav m_h9 txt_ef_up">Social Responsibility</h2>
            <div class="sidescroll-textwrap">
              <div class="inner">
                <div class="slide-text-wrap txt_ef_op active">
                  <strong class="slide-title m_h5 txt_ef_up">노사상생협력</strong>
                  <p class="slide-desc txt_ef_up">
                      2023년 <em class="m_hanwhaL">한화오션</em> 출범 이후, <em class="m_hanwhaL">한화오션</em>은 노사간의 신뢰와
                      협력을 강화하기 위하여 『근로자참여 및 협력증진에 관한 법률』에 근거한 노사협의회를 개최하고 있습니다.
                      <br><br>
                      <span class="m_hanwhaL">한화오션</span>은 모든 직원에게 적법한 근로 조건과 기준을
                      제시하는 형태로 인사 규정을 적용하고 있으며, 채용, 인사,
                      평가 등 인사 관리 전반에서 차별을 금지하고 있습니다.
                  </p>
                </div>
                <div class="slide-text-wrap txt_ef_op">
                  <strong class="slide-title m_h5 txt_ef_up">인재 & 인권경영</strong>
                  <p class="slide-desc txt_ef_up">
                    <em class="m_hanwhaL">한화오션</em>은 사업운영으로 인한 인권침해를 예방하고 관련
                    인권리스크를 완화하기 위해 노력하고 있습니다.
                    <br><br>
                    모든 이해관계자들의 인권을 존중하며 전 사업장을 대상으로
                    인권 영향평가를 실시하고 있습니다.
                  </p>
                </div>
                <div class="slide-text-wrap txt_ef_op">
                  <strong class="slide-title m_h5 txt_ef_up">사회공헌</strong>
                  <p class="slide-desc txt_ef_up">
                    <em class="m_hanwhaL">한화오션</em>은 적극적이고 지속적인 사회공헌 활동을 통해 상생의 가치를 실천하고 모범기업시민으로서의 책임을 다하고 있습니다. 특히 임직원이 나눔 활동에 동참하는 참여형 공헌활동, 사회적 책임과 진정성을 가치로 삼는 공감형 공헌활동을 추진하며 더불어 살아가는 공동체 구현을 위해 노력하고 있습니다.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="mainsidescroll-img-wrap">
                    <picture>
                      <source media="(min-width:769px)" src="/resources/images/main/main_sidescroll_01.webp">
                      <source media="(max-width:768px)" src="/resources/images/main/main_sidescroll_01.webp">
                      <img src="/resources/images/main/main_sidescroll_01.webp" alt="Images">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="mainsidescroll-img-wrap">
                    <picture>
                      <source media="(min-width:769px)" src="/resources/images/main/main_sidescroll_02.webp">
                      <source media="(max-width:768px)" src="/resources/images/main/main_sidescroll_02.webp">
                      <img src="/resources/images/main/main_sidescroll_02.webp" alt="Images">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="mainsidescroll-img-wrap">
                    <picture>
                      <source media="(min-width:769px)" src="/resources/images/main/main_sidescroll_03.webp">
                      <source media="(max-width:768px)" src="/resources/images/main/main_sidescroll_03.webp">
                      <img src="/resources/images/main/main_sidescroll_03.webp" alt="Images">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-acc">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="MAINZOOMIN-2" class="sec sec_zoomin">
      <div class="sec_inner">
          <div class="zoomin-inner">
            <div class="title-wrap">
              <h2 class="title-eyebrow sec_cnt_nav m_h9"><strong>Governance</strong></h2>
              <div class="title-video pc">
                <span class="text1">
                  <strong><span class="m_hanwhaR">한화오션</span>은 건전한 지배구조를 확립하고자</strong> 
                </span>
                <span class="text1-1">
                  <strong>공정하고 투명하게 이사회를 운영하고 있습니다.</strong> 
                </span>
              </div>
              <div class="title-video mobile">
                <span class="text1">
                  <strong><span class="m_hanwhaR">한화오션</span>은 건전한 지배구조를</strong> 
                </span> <br>
                <span class="text1-1">
                  <strong>확립하고자 공정하고 투명하게</strong> 
                </span> <br>
                <span class="text1-2">
                  <strong>이사회를 운영하고 있습니다.</strong> 
                </span>
              </div>
              <div class="vid-container">
                <div class="img-wrap">
                  <picture>
                    <source media="(min-width:769px)" src="/resources/images/main/main_zoomin_02_pc.webp">
                    <source media="(max-width:768px)" src="/resources/images/main/main_zoomin_02_mo.webp">
                    <img src="/resources/images/main/main_zoomin_02_pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="title-kr-wrap">
                  <div class="title-kr">
                    <p><span class="m_hanwhaL">한화오션</span>의 이사는 관련 법령 및 <br class="pc">
                      정관 등에서 요구하는 자격요건을 <br class="pc">
                      모두 충족하고 있습니다.</p>
                      <div class="sec_btn_more">
                        <a href="./gov/bod/" class="m_btn ex_btn5 in_sec_copy" data-btntype="text" icon="left" hover="arrow" bg="w">
                          <span class="icon"></span>
                          <span class="txt" data-txt="자세히 보기">자세히 보기</span>
                        </a>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </section>

    <section id="HIGHLIGHT2023" class="sec sec_highlight2023">
      <div class="sec_inner in_sec_box_area">
        <div class="title in_sec_box">
          <!-- 유지보수 시 퍼블 참고사항::
          메인 페이지 내 'txt_ef_up' 클래스가 붙은 텍스트에서 줄바꿈(br)이 필요하다면,
          br 태그에 pc, tablet, mobile 중 한 개의 클래스가 꼭 들어가야합니다.
          줄바꿈 필요한 구간의 br 및 클래스를 '모두 추가'해주셔야 합니다. (예:  <br class="pc"><br class="tablet"> -> pc,tablet 구간에서 줄바꿈)
          class = "pc" - pc 에서만 줄바꿈
          class = "tablet" - tablet에서만 줄바꿈
          class = "mobile" - mobile에서만 줄바꿈 -->
          <h4 class="m_h3 txt_ef_up">HIGHLIGHTS <br class="pc"><br class="tablet">2023</h4>
        </div>

        <div class="desc in_sec_box">
          <div class="common-accordion-list">

            <!-- <h4 class="title m_h6" style="margin-bottom: 20px;">아코디언 메뉴</h4>
            <div class="all-control">
              <button type="button" class="toggle-switch all-toggle-btn" style="margin-right: 10px;"></button>
              <span>전체 열기</span>
            </div>
             -->
            <ul>
              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>ESG HOST 2030 발표</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    2023년 12월 <span class="m_hanwhaL">한화오션</span>의 ESG위원회는 ESG경영 목표에 대한 안건을 승인하였습니다. <br><br> <span class="m_hanwhaL">한화오션</span>은 ESG HOST 2030의 핵심지표로 온실가스 배출 감축, 친환경 선박으로의 전환, 안전사고 예방, 공급망 ESG평가, 준법 및 윤리경영 실천 평가로 5개 항목을 설정하였으며, 이를 통해 지속가능성과 사회적 책임을 강화하고자 합니다.
                  </div>
                </div>
              </li>
        
              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>지배구조 헌장 제정</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 2023년 '기업지배구조헌장'을 제정하였습니다. 기업지배구조헌장에는 주주 권리 보호, 임직원 복지 증진, 협력업체와의 파트너십 증진 등 이해관계자에 대한 사회적 책임 내용이 포함되었으며 이를 통해 모든 이해관계자들로부터 신뢰를 확보하고 성실한 경영활동을 수행하겠다는 의지를 밝혔습니다.
                  </div>
                </div>
              </li>
        
              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>선박용 이산화탄소 포집장치 개념승인</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 자체 개발한 선박용 이산화탄소 포집장치(OCCS)에 대한 개념승인을 받았습니다. 미국선급(ABS)과 한국선급(KR)으로부터 광물화공정(NaOH 사용) OCCS에 대한 AIP를, 프랑스선급(BV)로부터 아민공정 OCCS에 대한 AIP를 각각 획득했습니다. <span class="m_hanwhaL">한화오션</span>의 OCCS 기술은 다른 이산화탄소 포집기술에 비해 에너지 소모가 적고 장치 가동으로 추가 발생하는 이산화탄소 발생 량도 상대적으로 적은 것이 특징으로 이산화탄소 감축에 있어 큰 기여를 할 것으로 기대하고 있습니다.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>조선산업 온실가스 배출량 산정 표준화 프로젝트</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 국내 조선사 및 선급과 손잡고 조선업계 최초로 탄소발자국 원팀을 구성하여 Scope 3 배출량에 대한 표준화를 추진하고 있습니다. 이러한 표준화는 국제 해운 및 조선 분야의 온실가스 배출량 관리와 감축 노력에 기여할 뿐만 아니라 국제 사회에서의 지속 가능한 발전 목표 달성으로 한걸음 나아가게 하는 중요한 단계가 될 것입니다.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>세계 최대 규모 암모니아 운반선 수주</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 2023년 11월 암모니아를 연료로 쓸 수 있는 세계 최대 규모의 암모니아 운반선(VLAC)을 수주하였습니다. 해당 운반선은 9만 3000㎥을 운송할 수 있으며 지금까지 발주된 암모니아 운반선 중에서 세계에서 가장 큰 규모입니다. 암모니아는 연소 시 이산화탄소가 전혀 배출되지 않는 친환경 연료로 해당 선박은 암모니아를 운반하는 한편, 암모니아를 연료로 쓰는 추진선으로도 전환할 수 있는 친환경 선박입니다. 
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>Mwh급 에너지저장장치(ESS) 개발 완료</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 2023년 8월 <span class="m_hanwhaL">한화에어로스페이스</span>와 함께 대형 선박에 적용할 수 있는 MWh급의 ESS개발을 완료했습니다. 해당 ESS에는 제어 시스템을 하나로 묶어 크기를 최소화할 수 있는 ‘컨테이너 타입 패키징 기술’과 화재를 즉시 감지하고 진화하는 ‘자동소화 기술’이 적용되었습니다. 선박용ESS는 보조 에너지 공급원 역할을 하며, 내연기관과 연동하여 연료 절감과 오염물질 배출 감소 효과가 있습니다.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>한국 기업 최초 FMC 가입</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 2023년 11월 국내 기업 최초로 다보스포럼의 퍼스트무버연합(FMC, First Movers Coalition)에 가입하였습니다. FMC는 철강, 화학, 항공 등 탄소배출이 많은 산업의 유관 기업들이 탈 탄소 잠재 기술 수요를 창출해 시장에 안착하는 게 목표로 창설된 단체입니다. 또한 2024년 다보스포럼의 세계 최초 탈 화석연료 선박(The First Fossil-Free Ship on the Water) 세션에서 <span class="m_hanwhaL">한화</span>의 해양 탈 탄소 비전을 밝혔습니다. 앞으로도 글로벌 기업들과 협업을 강화하고 지속적인 탈 탄소 기술을 개발해 탄소중립을 선도해 나갈 것입니다.
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>노사 상생 선언식 개최</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>과 전국금속노동조합 대우조선지회는 지난 2023년 5월 거제사업장에서 '노사 상생 선언식'을 개최하였습니다. <span class="m_hanwhaL">한화오션</span>은 기존 단체협약을 승계하고 노동 조건과 처우 향상에 노력하기로 하였으며, 노동조합 또한 합리적 노사 관계 구축을 약속했습니다. 또한 상호 산업재해 예방, 스마트 현장 구현에 노력할 것을 약속하였습니다. 앞으로도 합리적 노사 관계를 기반으로 지역사회 동반 성장 및 지속 가능한 발전의 기반을 마련하겠습니다
                  </div>
                </div>
              </li>

              <li>
                <div class="head">
                  <span class="m_h8"><em class="sharp">#</em><span>HSE 경영방침 선포</span></span>
                  <button type="button" class="accordion-toggle-btn"></button>
                </div>
                <div class="body">
                  <div class="desc">
                    <span class="m_hanwhaL">한화오션</span>은 2023년 10월 안전·보건·환경(HSE)을 경영 최우선 가치로 여기고 전 구성원 안전보건과 행복을 지키기 위한 체계인 'HSE 경영방침'을 개정하였습니다. 모든 직원 및 이해관계자에 적용되는 해당 경영방침은 총 7개 언어로 번역 ·배포되었으며 새로 개정한 경영방침을 철저히 준수해 중대재해 제로(ZERO), 환경규범 100% 준수 등을 이루어 나갈 계획입니다. 
                  </di>
                </div>
              </li>
        
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="MAINNEWS" class="sec sec_news">
      <div class="sec_inner">
        <div class="media_contain in_sec_box_area">
          <div class="sec_tit_top in_sec_box">
            <h2 class="sec_tit">NEWS</h2>
            <a class="btn_enter_media" href="/osa/news/"><img src="/resources/images/common/icon_arrow_next_b_42x42.svg" alt="Icon"></a>
          </div>
          <div class="common-tab-looking-a-wrap in_sec_box">
            <div class="tab-looking-a line-tab">
              <a href="javascript:void(0)" class="active tab-item">전체</a>
              <a href="javascript:void(0)" class="tab-item">사외</a>
              <a href="javascript:void(0)" class="tab-item">사내</a>
            </div>
          </div>
          <div class="cnt_media in_sec_box">
            <div class="feed-wrapper feedSwiper 01 active">
              <ul class="feed-list swiper-wrapper">
                <!-- 이미지가 없는 경우  -->
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap default">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/common/hanwha_default.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/common/hanwha_default.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/common/hanwha_default.webp">
                        <img src="/resources/images/common/hanwha_default.webp" alt="Default images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <img src="/resources/images/osa/news/news-content-04-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <img src="/resources/images/osa/news/news-content-01-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <img src="/resources/images/osa/news/news-content-02-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <img src="/resources/images/osa/news/news-content-05-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <img src="/resources/images/osa/news/news-content-04-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <img src="/resources/images/osa/news/news-content-01-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-scrollbar"></div>
            </div>
            <div class="feed-wrapper feedSwiper 02">
              <ul class="feed-list swiper-wrapper">
                <!-- 이미지가 없는 경우  -->
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap default">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/common/hanwha_default.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/common/hanwha_default.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/common/hanwha_default.webp">
                        <img src="/resources/images/common/hanwha_default.webp" alt="Default images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <img src="/resources/images/osa/news/news-content-04-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <img src="/resources/images/osa/news/news-content-01-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <img src="/resources/images/osa/news/news-content-02-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <img src="/resources/images/osa/news/news-content-05-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <img src="/resources/images/osa/news/news-content-04-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <img src="/resources/images/osa/news/news-content-01-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사외</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-scrollbar"></div>
            </div>
            <div class="feed-wrapper feedSwiper 03">
              <ul class="feed-list swiper-wrapper">
                <!-- 이미지가 없는 경우  -->
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap default">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/common/hanwha_default.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/common/hanwha_default.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/common/hanwha_default.webp">
                        <img src="/resources/images/common/hanwha_default.webp" alt="Default images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <img src="/resources/images/osa/news/news-content-04-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <img src="/resources/images/osa/news/news-content-01-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-02-pc.webp">
                        <img src="/resources/images/osa/news/news-content-02-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-05-pc.webp">
                        <img src="/resources/images/osa/news/news-content-05-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-04-pc.webp">
                        <img src="/resources/images/osa/news/news-content-04-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="feed-item swiper-slide">
                  <a href="../news10/" class="link-viewer" id="linkViewer">
                    <div class="img-wrap">
                      <picture>
                        <source media="(min-width:1024px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:768px) and (max-width:1023px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <source media="(min-width:0px) and (max-width:767px)" src="/resources/images/osa/news/news-content-01-pc.webp">
                        <img src="/resources/images/osa/news/news-content-01-pc.webp" alt="Images">
                      </picture>
                    </div>
                    <div class="txt-wrap">
                      <div class="info-box">
                        <span class="topic m_desc">사내</span>
                        <span class="info-tit m_h9"><span class="m_hanwhaL">한화오션</span> 최신 활동 사외 뉴스</span>
                        <span class="date m_desc">2024.06.12</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./src/include/common-floating.ejs') %>


  </div>
</main>

<%- include('./src/include/footer.ejs') %>