  <%- include('./src/include/header-en.ejs', { title: 'Ethics and Compliance Activities' }) %>

<main id="CEA" class="ce cea">
  <div class="main-inner" data-path="ce">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Ethics and Compliance</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Ethics and Compliance</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/gov/ce/kv.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/gov/ce/kv_mo.webp">
              <img class="core" src="/resources/images/gov/ce/kv.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
        <div class="common-tab-looking-a-wrap" id="cea-tab">
            <div class="tab-looking-a line-tab">
                <a href="/en/gov/ce/ce/#ce-tab" class="tab-item">Ethics and Compliance</a>
                <a href="/en/gov/ce/cea/#cea-tab" class="active tab-item">Ethics and Compliance Activities</a>
                <a href="https://www.hanwhaocean.com/en/ft/cu40/" class="tab-item" target="_blank" title="Move to the reporting center and open in a new window.">Reporting Center<span class="outlink-icon">icon</span></a>
            </div>
        </div>

        <div class="main_content">
          <div class="common-grid">
            <div class="title-wrap">
                <div class="title m_h3 in_sec_copy">Ethics and <br class="pc"><br class="tablet">Compliance Activities</div>
                <div class="desc">
                  <div class="item">
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> requests our employees to sign a pledge of compliance, conducts ethics counseling, and provides ethics and compliance education. We work to respond to legal risks in advance and establish a culture of compliance through periodic inspections of legal risks.</p>
                  </div>
                  <div class="item">
                    <strong class="m_h6 in_sec_copy">Pledge of Ethical Conduct</strong>
                    <p class="intro in_sec_copy">Each year, <span class="m_hanwhaL">Hanwha Ocean</span> requests our employees to sign a pledge of compliance to check their compliance awareness.</p>
                    <div class="docum in_sec_copy">
                      <strong class="m_h7">Pledge of Compliance</strong>
                      <p>As a member of <span class="m_hanwhaL">Hanwha Ocean</span>, I pledge to clearly recognize the core values and ethics and compliance policy of the company and comply with the following in performing my duties.</p>
                      <ol>
                        <li><span class="num">1.</span>I will fully understand and comply with domestic and international laws and regulations such as the Improper Solicitation and Graft Act as well as company regulations in relation to my duties, and will not instruct, approve, aid, or condone any behavior that violate them.</li>
                        <li><span class="num">2.</span>I will faithfully perform my duties based on the principle of good faith, and will give priority to the legitimate interests of the company in the event of a conflict between the company’s and personal interests.</li>
                        <li><span class="num">3.</span>I will not provide unfair money or entertainment to stakeholders, including public officials and clients, both at home and abroad for the company’s business or interests.</li>
                        <li><span class="num">4.</span>I will not receive or request any profit in property, whether tangible or intangible, such as graft, gifts, favors, entertainment, and convenience, from suppliers or potential business partners, and will not be a direct or indirect party to any monetary transactions or solicitations.</li>
                        <li><span class="num">5.</span>I clearly understand the laws governing transactions with suppliers, vendors, partners, and the like, acknowledge them as equal parties to contracts, and will not take any actions against them.</li>
                        <li><span class="num">6.</span>I will not disclose the company’s critical information, trade secrets, management data, and personal data of employees and stakeholders without permission or use it for purposes other than business.</li>
                        <li><span class="num">7.</span>I will respect the personality and human rights of all employees, will not spread false rumors related to the company or individuals, and will not act or use words that may pose reputational damage to the company.</li>
                        <li><span class="num">8.</span>I will actively participate and cooperate with the company’s policies, guidelines, training, and practice programs so as toestablish an ethics and compliance order.</li>
                        <li><span class="num">9.</span>I will immediately notify the company (including business assessment organizations or relevant organizations) if I become aware of employee corruption or hear allegations of irregularities from employees or stakeholders.</li>
                        <li><span class="num">10.</span>I will do my best to cooperate, such as providing relevant materials and expressing my opinions, in the event of an investigation into an act that violates or is suspected of violating the Code of Ethics or the Code of Ethics Practice Guidelines.</li>
                        <li><span class="num">11.</span>Should I breach the provisions above, I will accept and not object to any reasonable actions taken under applicable laws or company rules.</li>
                      </ol>
                      <div>
                        <span>January 4, 2023</span>
                        <p>Head of Legal Planning Section, Legal Department<span>[Pledged]</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="item in_sec_copy">
                    <strong class="m_h6">Ethics counseling</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span>’s employees are free to ask questions about the company’s Code of Ethics, ethics policy, and other systems, and receive counseling on situations facing ethical dilemmas. Employees can choose to get counseling in public or private under their real name or anonymously through the ethics consultation website.</p>
                  </div>
                  <div class="item in_sec_copy">
                    <strong class="m_h6">Ethics and compliance education</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> conducts ethics and compliance education each year to raise compliance awareness among employees. The programs provided in 2023 are listed in the table below. The contents of education include topics related to the Fair Trade Act, the Subcontracting Act, the Unfair Competition Prevention and Trade Secret Protection Act, and anti-corruption and compliance. All the programs are tailored to the characteristics and needs of each organization, and we strive to ensure fair competition throughout our business activities.</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="content-box in_sec_box_area">
              <div class="table-wrap in_sec_box">
                  <div class="common-table-wrap in_mob_scr">
                      <table class="common-table">
                        <caption>Ethics and compliance education</caption>
                        <thead>
                          <tr>
                            <th class="left">Content</th>
                            <th class="left">Eligible Organization</th>
                            <th class="left">Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="left">
                              <strong>[Fair Trade Act]</strong>
                              <ul class="hypen_list">
                                <li>Unfair support behavior</li>
                                <li>Precautions on internal transactions among affiliates</li>
                                <li>Unfair collaborative acts (collusion)</li>
                                <li>Precautions on consultation with companies in the same industry, etc.</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>
                                  Key organizations requesting internal transaction review
                                  <ul class="hypen_list">
                                    <li>Procurement, naval and specialty ships, research and planning, HR, support, business management, IT, etc.</li>
                                  </ul>
                                </li>
                                <li>Organizations for consultation with companies in the same industry</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              Conducted in Nov. 2023<br>
                              112 persons completed the program                       
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[Subcontracting Act]</strong>
                              <ul class="hypen_list">
                                <li>Legal risk related to the Subcontracting Act</li>
                                <li>Delivery price indexation system</li>
                                <li>Precautions on the introduction of the delivery price indexation system</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>
                                  Organizations under subcontracting agreement
                                  <ul class="hypen_list">
                                    <li>Procurement, shared growth, outside contracting, etc.</li>
                                  </ul>
                                </li>
                              </ul>                             
                            </td>
                            <td class="left">
                              Conducted in Nov. 2023<br>
                              107 persons completed the program                        
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[Unfair Competition Prevention and Trade Secret Protection Act]</strong>
                              <ul class="hypen_list">
                                <li>Protection of trade secrets</li>
                                <li>Trade secret guidelines</li>
                                <li>HR-related (recruitment, in-service, resignation) precautions on compliance with the Unfair Competition Prevention and Trade Secret Protection Act</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>Information security office</li>
                                <li>HR departments</li>
                                <li>Central Research Institute, etc.</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              Conducted in Nov. 2023<br>
                              28 persons completed the program                      
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[Anti-corruption and compliance]</strong>
                              <ul class="hypen_list">
                                <li>Matters regarding risk assessment</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>Internal auditors</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              Conducted in Nov. 2023 <br>
                              49 persons completed the program                      
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[Educational broadcasting on the Subcontracting Act]</strong>                        
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>All companies (self-attendance)</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              Broadcasted throughout the year; <br>
                              456 persons completed the program                   
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <div class="icon-swipe"></div>
                  </div>
              </div>
          </div>
          <div class="common-grid">
            <div class="title-wrap">
                <div class="desc">
                  <div class="item in_sec_copy">
                    <strong class="m_h6">Legal risk inspection activities</strong>
                    <p class="intro"><span class="m_hanwhaL">Hanwha Ocean</span> checks on the legal risks of the company on a regular basis through subcontractor surveys, review of subsidiaries’ legal systems, and voluntary checks on unfair collaborative acts under the Fair Trade Act. In 2023, we early detected risks of violations of the Subcontracting Act through a subcontractor survey and took preventive measures deemed necessary. In addition, we inspected the legal collaboration system between the headquarters and subsidiaries and distributed a checklist for unfair collaborative acts under the Fair Trade Act.</p>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
  </section>


  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>