<%- include('./src/include/header.ejs', { title: '산업안전보건' }) %>

<main id="OSH" class="sh osh">
  <div class="main-inner" data-path="sh-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">안전보건</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">안전보건</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_kv-mo.webp">
                <img class="core" src="/resources/images/hse/sh/sh_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area osh-area" id="shOsh">
                <div class="osh-con in_sec_box_area">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/hse/sh/ov/#shOv" class="tab-item">Overview</a>
                            <a href="/hse/sh/osh/#shOsh" class="active tab-item">산업안전보건</a>
                            <a href="/hse/sh/smart/#shSmart" class="tab-item">스마트 안전</a>
                        </div>
                    </div>
                    <div class="content-box in_sec_box sec-01">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3">산업안전보건 교육</div>
                                <div class="desc">
                                    <p class="intro"><span class="m_hanwhaL">한화오션</span>은 자체적으로 신규 협력사 및 협력사 신입사원 등을 위험 발생 가능 그룹으로 분리하여 집중 관리하고 그에 필요한 사항을 지원함으로써 중대재해를 예방하기 위해 노력합니다. 야드 내에 위치한 교육 시설은 추락 체험, 곤돌라 사용, VR체험시설 등 다양한 교육경험을 위해 실내 및 실외에 설치되어 있습니다. 교육과정은 법정교육, 비법정교육 등 총 13개 과정으로 나뉘며 2023년까지 608차 수 동안 27,713명이 교육에 참여하였습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="in_mob_scr scr-wide">
                            <div class="card-wrap picture">
                                <div class="card">
                                    <div class="tit m_h9">최적의 교육 환경 조성</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_01-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>22년 HSE교육환경 개선 계획(안) 지속 추진(사내 건물 최대한 활용)</li>
                                            <li>HSE교육시설 공간구성 계획</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="tit m_h9">안전취약계층 체험형 교육 개편</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_02-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>수주 급증에 따른 신규인력 급증</li>
                                            <li>대상 : 신규입사자 + 외국인근로자</li>
                                            <li>목적 : 현장 중심 안전교육 강화</li>
                                            <li>방법: 고소, 밀폐, 가스, 소방 등 위험요소 체험형 교육 시행</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="tit m_h9">아르곤 질식 예방교육 강화</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_03-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>아르곤 교육강의 전문성 강화</li>
                                            <li>아르곤 교육주기 강화</li>
                                            <li>일괄 이력관리/이수 스티커 배포</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="tit m_h9">지게차 안전교육 신설 운영</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_04-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>중대재해 기인물 1위 지게차</li>
                                            <li>지게차운전자 특별안전보건교육</li>
                                            <li>강의 : 안전보건교육 전문기관</li>
                                            <li>대상 : 사내 지게차운전자 전원</li>
                                            <li>주기 : 1회/반기</li>
                                            <li>일괄 이력관리/이수 스티커 배포</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="icon-swipe"></div>
                        </div>
                        <div class="point-wrap">
                            <div class="point">
                                <div class="icon"><span class="ic_bg"></span><span class="blind">VR 체험시설 아이콘</span></div>
                                <div class="txt-wrap">
                                    <span>VR 체험시설</span>
                                    <strong class="m_h7">50개</strong>
                                </div>
                            </div>
                            <div class="point">
                                <div class="icon"><span class="ic_bg"></span><span class="blind">CPR 실습인형 아이콘</span></div>
                                <div class="txt-wrap">
                                    <span>CPR 실습인형</span>
                                    <strong class="m_h7">10개</strong>
                                </div>
                            </div>
                            <div class="point">
                                <div class="icon"><span class="ic_bg"></span><span class="blind">교육용 태블릿 PC 아이콘</span></div>
                                <div class="txt-wrap">
                                    <span>교육용 태블릿 PC</span>
                                    <strong class="m_h7">50개</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box in_sec_box sec-02">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3">산업안전보건 활동</div>
                                <div class="desc">
                                    <p class="intro">외국인 근로자의 안전 인프라 개선을 위해 회사의 안전 수칙, 생활정보, 한국어 등을 손쉽게 익힐 수 있도록 안전, 생활복지, 문화, 게시판으로 구성된 외국인 근로자 전용 모바일 APP을 개발하여 8개 국어로 지원하고 있습니다. 가상현실(VR) 안전교육을 위해 외국인 근로자를 위해 번역된 교육컨텐츠를 제작하여 활용하고 있으며 야드 곳곳에 부착되어 있는 안전 표지의 시인성 개선을 통해 시각적으로 위험요소를 즉시 알 수 있도록 하였습니다.<br><br>외국인 근로자의 안전교육을 위해 8개국으로 번역한 신규입사자 안전교육 교재, 안전가이드북, 설명이 필요 없는 OX교육자료 등 외국인 전용 안전교육 컨텐츠를 지속적으로 개발하고 있습니다.</p>
                                    <div class="grid-item">
                                        <div class="grid-box">
                                            <div class="grid-elm elm-full">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_01-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_01-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_content_01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <span>외국인 모바일 APP</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_02-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_02-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_content_02-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <span>외국인 가상현실(VR) 교육</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_03-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_03-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_content_01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <span>외국인 근로자를 위한 <br>기초안전가이드북,<br>OX안전교육 교재 예시</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc-item">
                                        <div class="item-tit m_h6"><span class="m_hanwhaR">한화오션</span>은 사내뿐만 아니라 <br>협력사와의 안전보건체계 <br class="mobile">구축을 위해 <br class="pc">다음과 같은 활동을 <br class="mobile">진행하고 있습니다.</div>
                                        <ol>
                                            <li class="item">
                                                <span class="m_caption">01</span>
                                                <div class="m_h6">협력사 안전보건적격심사 수행</div>
                                                <p><span class="m_hanwhaL">한화오션</span>은 사내 및 사외협력사와의 계약 시 산업재해 예방을 위한 조치능력과 기술에 관한 평가를 통해 계약 전 사전안전보건적격 심사를 진행하고 있습니다.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">02</span>
                                                <div class="m_h6">안전진단 컨설팅</div>
                                                <p><span class="m_hanwhaL">한화오션</span>은 협력사 안전역량 강화를 위해 매년 약 5억 원을 투자하여 고용노동부가 안전관리전문기관으로 지정한 전문진단기관과의 계약을 통해 사내에 상주하면서 사내협력사에 대한 안전진단 컨설팅을 제공하고 있습니다.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">03</span>
                                                <div class="m_h6">안전교육 지원</div>
                                                <p><span class="m_hanwhaL">한화오션</span>은 고용노동부 안전보건교육 등록기관으로 지정된 전문 교육기관과의 계약을 통해 사내 협력사 직원을 포함하여 전체 구성원에 대해 전문 교육기관을 통한 양질의 안전교육을 제공하고 있습니다. 특히 글로벌 외국인 코디를 보유하여 외국인근로자의 75%에 해당하는 주요 7개국 통/번역 가능 코디네이터를 통해 안전교육과 현장 번역지원 등 협력사 외국인 근로자를 위해 노력하고 있습니다.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">04</span>
                                                <div class="m_h6">안전보건 수준평가</div>
                                                <p><span class="m_hanwhaL">한화오션</span>은 주기적으로 협력사 내부 안전의식을 진단하고 현장을 파악하기 위해 협력사 안전 보건 수준 평가를 진행하고 있습니다. HSE경영성과와 전문기관의 협력사 안전진단, 기타의 항목으로 평가를 수행하여 평가 결과가 저조한 조직에 대해 안전컨설팅과 집중 안전진단, 실무가이드 제공 등을 통해 협력사의 안전 자율역량 강화에 힘쓰고 있습니다.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">05</span>
                                                <div class="m_h6">안전보건 간담회</div>
                                                <p><span class="m_hanwhaL">한화오션</span>은 협력사 대표와 안전 및 보건에 관한 협의체를 구성하여 매월 정기회의를 통해 안전보건환경에 관한 내용을 공유하고 토론하는 자리를 가집니다. 뿐만 아니라 매월 협력사 안전실무자를 대상으로 안전간담회를 개최하여 안전보건환경에 관한 애로사항을 청취하고 해결방안을 모색하는 등 모든 구성원이 안전한 사업장을 위해 상생협력체계를 구축하고 있습니다.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">06</span>
                                                <div class="m_h6">포상제도 운영</div>
                                                <p><span class="m_hanwhaL">한화오션</span>은 모든 구성원(협력사 직원 포함)의 안전보건환경 개선활동 참여를 독려하고 장려하기 위해 2023년 1.2억 원을 직원 개인에게 포상하였고 약 1,600명의 협력사 직원들이 안전보건환경 개선활동에 참여하였습니다.</p>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="card-item">
                                        <p><span class="m_hanwhaL">한화오션</span>은 안전보건 강화 정책에 따라 적극적인 안전관리 활동을 추진하고 있습니다. 2023년 정기 위험성평가를 실시하였으며 수행조직은 234개 조직으로 직영 129팀, 협력사 105개사 대상이었습니다. 위험성 평가를 통해 5,041건의 작업에 대해 88,003건의 위험요인을 발굴하여 개선이 필요한 5,121건의 위험요인을 지속 개선 중입니다</p>
                                        <div class="in_mob_scr scr-wide">
                                            <div class="card-wrap picture">
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>1단계</span>
                                                        <strong class="m_h9">사전준비</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>실시규정/계획작성</li>
                                                            <li>판단자료 등 설정</li>
                                                            <li>안전보건정보자료 <br>수집 등</li>
                                                            <li>위험성평가 교육 실시</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>2단계</span>
                                                        <strong class="m_h9">유해·위험 요인파악</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>사업장 순회점검</li>
                                                            <li>근로자 의견청취</li>
                                                            <li>작업표준 기반의 <br>브레인스토밍</li>
                                                            <li>4M기법 및 재해형태에 따른 분류</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>3단계</span>
                                                        <strong class="m_h9">위험성 결정</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>미리 설정한 기준을 토대로 위험성 수준 등 판단 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>4단계</span>
                                                        <strong class="m_h9">위험성 감소대책 <br>수립 및 실행</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>우선순위에 따라 <br>감소대책 검토 </li>
                                                            <li>모든 고위험 감소대책 수립·실행 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>5단계</span>
                                                        <strong class="m_h9">결과공유</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>평가결과 게시·주지</li>
                                                            <li>일상 JSA 리스트 </li>
                                                            <li>TMB 등을 통해 공유 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>6단계</span>
                                                        <strong class="m_h9">기록·보존</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>평가결과 및 조치사항 기록 / 3년간 보존</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-swipe"></div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="item-tit m_h6">4대 기초 안전 수칙</div>
                                        <div class="grid-box basic-box">
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_01-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_01-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">휴대폰 안전 준수</strong>
                                                    <span class="m_desc">작업, 차량/자전거 운행 및 <br calss="mobile">야드 내 보행 시 <br class="pc">휴대폰, <br calss="mobile">이어폰 사용 금지</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_02-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_02-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_02-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">자전거 바로타기</strong>
                                                    <span class="m_desc">과속 금지, 한 손으로 운전 금지. <br>헬멧착용(턱끈 매기), 경사로 하차</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_03-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_03-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_03-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">흡연 에티켓</strong>
                                                    <span class="m_desc">지정장소 외 금연 <br>(재떨이가 없는 곳은 금연)</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_04-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_04-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_04-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">안전복장 착용</strong>
                                                    <span class="m_desc">올바른 안전보호구 착용 <br>(안전모, 보안경, 안전화 등)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box in_sec_box sec-03">
                        <div class="infogram-wrap">
                            <div class="tit m_h6">12대 중대 안전 수칙</div>
                            <div class="in_mob_scr scr-wide">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_infogram.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_infogram_mo.webp">
                                    <img src="/resources/images/hse/sh/sh_osh_safe_infogram.webp" alt="Images">
                                </picture>
                                <div class="icon-swipe"></div>
                            </div>

                            <div class="graph-txt">
                               <ul>
                                    <li>고소작업시 안전벨트 고리 체결</li>
                                    <li>발판 설치 및 해체,사용 기준 준수</li>
                                    <li>밀폐구역 출입 전 가스농도 측정</li>
                                    <li>위험작업 작업승인 규정 준수</li>
                                    <li>화기작업 시 불받이 설치, 이면 확인</li>
                                    <li>화기작업 시 불받이 설치, 이면 확인</li>
                                    <li>전기작업 전 경고 및 잠금 조치</li>
                                    <li>조양중인 블록/자재 하부 출입금지</li>
                                    <li>작동중인 기계/장비 작업반경 내 접금금지</li>
                                    <li>안전장치 임의 해체 금지</li>
                                    <li>도장/화기 혼재작업 금지</li>
                                    <li>차량/중장비 운전 중 과속, 휴대폰 사용금지</li>
                                    <li>무자격자 운전/작동금지</li>
                               </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>