<%- include('./src/include/header-en.ejs', { title: 'HOST 2030' }) %>

<main id="HOST2030" class="host2030 osa">
  <div class="main-inner" data-path="host2030">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">HOST 2030</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">HOST 2030</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                  <source media="(min-width: 769px)" srcset="/resources/images/osa/host_kv-pc.webp">
                  <source media="(max-width: 768px)" srcset="/resources/images/osa/host_kv-mo.webp">
                  <img class="core" src="/resources/images/osa/host_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="host-area osa-area">
          <div class="common-grid inner">
            <div class="title-wrap">
              <p class="desc mt-0 in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span>’s ESG Committee approved the agenda for ESG management goals in December 2023. The five core indicators  selected for ESG HOST 2030 are GHG reduction, conversion to eco-friendly ships, accident prevention, supply chain ESG assessment, and compliance and ethical management assessment. Based on our commitment, we intend to strengthen our efforts for sustainability and social responsibility.</p>
            </div>
          </div>
          <div class="esg-con">
            <div class="esg-ct">
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>Core Indicators</span></p></div>
                  <div class="tit m_h5"><p><span>GHG reduction rate</span></p></div>
                  <div class="desc m_desc"><p><span>Achieve the goals of Net Zero by 2030 and <br class="pc"><br class="tablet"><br class="mobile">
                    realize zero greenhouse gas emissions by <br class="pc"><br class="tablet"><br class="mobile">
                    2050 by utilizing REC purchases and <br class="pc"><br class="tablet"><br class="mobile">
                    establishing an energy management system</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>Current Level</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="71.28" data-moHei="70"><!--디자인 기준 높이값 data-pcHei::Pc 배경 높이값 -->
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">3.1</div>
                        <span class="odometer-unit">%</span>
                      </div>
                      
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="data-wrap">
                    <p><span>2030 Goals</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="432" data-moHei="324">
                        <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">40</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                    <div class="refer"><p><span>(2050 Net Zero)</span></p></div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="bg-txt"><span>E</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>Core Indicators</span></p></div>
                  <div class="tit m_h5"><p><span>Percentage of eco-friendly 
                    ship order backlog</span></p></div>
                  <div class="desc m_desc"><p><span>Eco-friendly ship order backlog <br>: 87 ships / 99 ships  (As of the end of Dec. 2023)</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>Current Level</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="930.96" data-moHei="649">
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">87.9</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                    
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030 Goals</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="1080" data-moHei="812">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">100</div>
                        <span class="odometer-unit">%</span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="bg-txt"><span>E</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>Core Indicators</span></p></div>
                  <div class="tit m_h5"><p><span>Accidents</span></p></div>
                  <div class="desc m_desc"><p><span>Smart safety system, <br>HSE Experience Center, VR Training</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>Number of serious accidents</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="72" data-moHei="49">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">1</div>
                        <!-- <span class="odometer-unit">건</span> -->
                    </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030 Goals</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="10" data-moHei="4">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">0</div>
                        <!-- <span class="odometer-unit">건</span> -->
                    </div>
                    </div>
                   
                  </div>
                </div>
                <div class="bg-txt"><span>S</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>Core Indicators</span></p></div>
                  <div class="tit m_h5"><p><span>Accidents</span></p></div>
                  <div class="desc m_desc"><p><span>Smart safety system, <br>HSE Experience Center, VR Training</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>Lost time incident rate</span></p>
                    <div class="target-ct common-odometer">
                        <div class="target odometer-wrap odometer-float" data-pcHei="154" data-moHei="80">
                            <div class="odometer-zero">0</div>
                            <div class="odometer odometer-auto-theme">0</div>
                            <div class="odometer-tobe">0.19</div>
                        </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030 Goals</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap odometer-float" data-pcHei="105" data-moHei="60">
                          <div class="odometer-zero">0</div>
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">0.15</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-txt"><span>S</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>Core Indicators</span></p></div>
                  <div class="tit m_h5"><p><span>Supply chain ESG evaluation <br>
                    application rate</span></p></div>
                  <div class="desc m_desc"><p><span>Response to the EU’s Corporate <br>
                    Sustainability Due Diligence Directive <br>
                    (CSDDD)</span></p></div>
                </div>
                <div class="info-box esg-box">
                  <div class="data-wrap">
                    <p><span>Current Level</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="10" data-moHei="10">
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">0</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030 Goals</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="1080" data-moHei="812">
                          <div class="odometer odometer-auto-theme">0</div>
                          <div class="odometer-tobe">100</div>
                          <span class="odometer-unit">%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-txt"><span>S</span></div>
              </div>
              <div class="esg-item">
                <div class="tit-wrap">
                  <div class="cate m_h9"><p><span>Core Indicators</span></p></div>
                  <div class="tit m_h5"><p><span>Compliance and ethical <br>
                    management assessment</span></p></div>
                  <div class="desc m_desc"><p><span>Promoting anti-corruption, compliance with <br class="pc"><br class="tablet"><br class="mobile">
                    ISO certification, and internalization</span></p></div>
                </div>
                <div class="info-box esg-box">
                 
                  <div class="data-wrap">
                    <p><span>Current Level</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="10" data-moHei="10">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">0</div>
                        <!-- <span class="odometer-unit">점</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="bg-img"></div>
                </div>
                <div class="target-box esg-box">
                  <div class="bg-img"></div>
                  <div class="data-wrap">
                    <p><span>2030 Goals</span></p>
                    <div class="target-ct common-odometer">
                      <div class="target odometer-wrap" data-pcHei="1080" data-moHei="812">
                        <div class="odometer odometer-auto-theme">0</div>
                        <div class="odometer-tobe">5</div>
                        <span class="odometer-unit">-point scale ¹⁾</span>
                      </div>
                    </div>
                    <p class="ie m_desc"><span>1&#41; 5-point scale: Quantitative/qualitative assessment for specific tasks</span></p>
                  </div>
                </div>
                <div class="bg-txt"><span>G</span></div>
              </div>
            </div>
          </div>
          <div class="common-grid inner">
            <div class="title-wrap">
              <p class="desc in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> established <span class="m_hanwhaL">Hanwha Ocean</span> Step-Up Target 2030 to internalize sustainable management and realize our ESG vision framework. We intend to contribute to sustainable economic development and social value creation by setting five core goals and implementing company-wide tasks systematically to achieve specific performance indicators.</p>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>