<%- include('./src/include/header-en.ejs', { title: '' }) %>

<main id="ERRORINSPECTION" class="ocean_error error_inspection">
  <div class="main-inner">
    <section>
      <div class="err_copy in_sec_box_area">
        <h2 class="m_h6 err_tit in_sec_box">Service under maintenance.</h2>
        <p class="err_txt in_sec_box">The server is under maintenance so we can provide better service. <br>We apologize for the inconvenience.</p>
      </div>
    </section>
  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>