<%- include('./src/include/header.ejs', { title: '노사협력' }) %>

  <main id="CO" class="ww co">
    <div class="main-inner" data-path="co">

      <div class="sub_top top_img">
        <div class="top_tit_area sticky">

          <div class="top_tit-inner static">
            <h2 class="sub_top_tit m_h2 in_sec_copy">노사상생협력</h2>
          </div>

          <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2 in_sec_copy">노사상생협력</h2>
          </div>

        </div>

        <div class="overflow-ct">
          <div class="top_kv_area">
            <div class="core-wrap">
              <!-- video면 video 클래스 붙여주세요, 스크롤에따라 영상재생 -->
              <picture class="core-wrap-inner">
                <!-- dim 필요하면 dim 클래스 붙여주세요 -->
                <source media="(min-width:769px)" srcset="/resources/images/sr/ww/ww_kv-pc.webp">
                <source media="(max-width:768px)" srcset="/resources/images/sr/ww/ww_kv-mo.webp">
                <img class="core" src="/resources/images/sr/ww/ww_kv-pc.webp" alt="Key Visual">
              </picture>
            </div>
          </div>
        </div>

      </div>

      <section class="sub_container">
        <div class="sec_inner">
          <div class="title-con common-grid" id="wwCo">

            <div class="common-tab-looking-a-wrap">
              <div class="tab-looking-a line-tab">
                <a href="/sr/ww/co/#wwCo" class="active tab-item">노사협력</a>
                <a href="/sr/ww/sg/#wwSg" class="tab-item">공급망 관리 및 동반성장</a>
              </div>
            </div>
        
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">노사협의회 운영</h4>
        
              <div class="desc in_sec_copy">
                <div class="item">
                  <p class="">2023년 <span class="m_hanwhaL">한화오션</span> 출범 이후, <span class="m_hanwhaL">한화오션</span>은 노사간의 신뢰와 협력을 강화하기 위하여 『근로자참여 및 협력증진에 관한 법률』에 근거한 노사협의회를 개최하고 있습니다. 노사협의회에서는 경영실적 현황, 인력운영 계획 등 사안들에 대해 논의하고 있으며, 회사측 안건 및 노동조합에서 논의한 안건에 관하여 협의가 이루어지고 있습니다. 또한 임직원의 복리후생을 개선하기 위한 안건도 협의하는 등 노사 관계를 개선하기 위해 노력하고 있습니다. 노사 간 협의가 이루어진 사항은 전 임직원을 대상으로 적용되고 있습니다.</p>
                </div>
              </div>
        
            </div>
          </div>

        </div>

        <div class="common-table-wrap in_sec_box_area">
          <table class="common-table in_sec_box" data-table="1">
            <caption>노사협의회</caption>

            <colgroup>
              <col width="30%">
              <col width="*">
              <col width="30%">
            </colgroup>

            <thead>
              <tr>
                <th class="p-l-44 left">노사협의 기구체 종류</th>
                <th class="left p-l-84">주요 논의항목</th>
                <th class="left p-l-84">실시 주기</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="left p-l-44">단체 교섭</td>
                <td class="left p-l-84">임금, 복지 및 근로조건과 관련된 <br class="mobile">사항</td>
                <td class="left p-l-84">단체교섭: 1회/2년 <br class="mobile">임금교섭: 매년</td>
              </tr>

              <tr>
                <td class="left p-l-44">노사협의회</td>
                <td class="left p-l-84">근로자 참여 및 협력증진에 관한 법률 제20조(협의사항)에 따른 내용 <br class="pc">(생산성향상과 성과배분, 근로자 채용배치 및 교육훈련 등)</td>
                <td class="left p-l-84">분기 1회</td>
              </tr>

              <tr>
                <td class="left p-l-44">중대고충처리위원회</td>
                <td class="left p-l-84">중대고충처리에 관한 제반사항</td>
                <td class="left p-l-84">상시</td>
              </tr>

              <tr>
                <td class="left p-l-44">노사관계개선위원회</td>
                <td class="left p-l-84">생산 안전 및 복지 개선 노사관계 및 제도 개선</td>
                <td class="left p-l-84">상시</td>
              </tr>

              <tr>
                <td class="left p-l-44">복지향상추진위원회</td>
                <td class="left p-l-84">임직원 복지후생(급식, 기숙사, 근무복, 통근버스, 휴게실, 샤워장 <br>등)에 관한 일반적인 노사협의 사항</td>
                <td class="left p-l-84">상시</td>
              </tr>

              <tr>
                <td class="left p-l-44">산업안전보건위원회</td>
                <td class="left p-l-84">산업안전 및 보건 증진 관련 협의</td>
                <td class="left p-l-84">분기 1회</td>
              </tr>
            </tbody>

          </table>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">노사 상생 선언식 개최</h4>
        
              <div class="desc in_sec_copy">
                <div class="item">
                  <p><span class="m_hanwhaL">한화오션</span>은 노사간 상호 신뢰와 이해를 바탕으로 회사의 지속가능한 발전 및 직원들의 고용안정을 위해 2023년 5월 전국금속노동조합 대우조선지회와 함께 거제사업장에서 ‘노사 상생 선언식’을 개최하였습니다. <span class="m_hanwhaL">한화오션</span>은 기존 단체협약을 승계하고 <span class="m_hanwhaL">한화그룹</span>의 장기근속제도를 시행하기로 했으며, 중장기 회사발전을 위한 정책의 성과를 공유하기로 했습니다. 또한 근로 조건 및 처우 향상을 약속했습니다. 노동조합 또한 합리적인 노사 관계를 구축할 것을 약속했으며, 노사는 함께 산업재해 예방, 스마트 현장 구현을 위해 노력할 것을 약속했습니다. <span class="m_hanwhaL">한화오션</span>은 이처럼 합리적 노사 관계를 기반으로 회사와 직원, 지역사회가 동반 성장할 수 있도록 노동조합과 함께 협력하고 있습니다.</p>
                </div>
              </div>
        
            </div>
          </div>

        </div>


        <div class="common-fixed-wrap">
          <div class="core">
            <picture>
              <source media="(min-width:769px)" srcset="/resources/images/sr/ww/co/co_content1-pc.webp">
              <source media="(max-width:768px)" srcset="/resources/images/sr/ww/co/co_content1-mo.webp">
              <img src="/resources/images/sr/ww/co/co_content1-pc.webp" alt="Images">
            </picture>
          </div>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">노동조합</h4>
        
              <div class="desc in_sec_copy">
                <div class="item">
                  <p><span class="m_hanwhaL">한화오션</span>은 임직원의 결사 및 단체교섭의 자유를 보장하여 노사 간 신뢰를 강화하고 있습니다. 
                    임직원의 근로 조건 개선을 위해 2년 단위로 단체 협약을 갱신하고 있고 매년 임금 협상을 위한 
                    교섭을 실시하고 있으며, 소통과 협의를 위한 노사협의회를 운영하고 있습니다.</p>
                </div>
              </div>
        
            </div>
          </div>
        </div>

        <div class="common-table-wrap in_sec_box_area">
          <table class="common-table in_sec_box" data-table="2">
            <caption>노동조합</caption>

            <thead>
              <tr>
                <th class="p-l-44 left">지표</th>
                <th class="center">단위</th>
                <th class="p-r-84 right">2020</th>
                <th class="p-r-84 right">2021</th>
                <th class="p-r-84 right">2022</th>
                <th class="p-r-84 right">2023</th>

              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="p-l-44 left">노조가입대상</td>
                <td class="center">명</td>
                <td class="p-r-84 right">5,478</td>
                <td class="p-r-84 right">4,925</td>
                <td class="p-r-84 right">4,783</td>
                <td class="p-r-84 right">4,737</td>
              </tr>

              <tr>
                <td class="p-l-44 left">노조가입률</td>
                <td class="center">%</td>
                <td class="p-r-84 right">100</td>
                <td class="p-r-84 right">100</td>
                <td class="p-r-84 right">100</td>
                <td class="p-r-84 right">100</td>
              </tr>

              <tr>
                <td class="p-l-44 left">단체협약 적용비율</td>
                <td class="center">%</td>
                <td class="p-r-84 right">59</td>
                <td class="p-r-84 right">57</td>
                <td class="p-r-84 right">58</td>
                <td class="p-r-84 right">60</td>
              </tr>

              <tr>
                <td class="p-l-44 left">노사협의회 개최</td>
                <td class="center">건</td>
                <td class="p-r-84 right">1</td>
                <td class="p-r-84 right">1</td>
                <td class="p-r-84 right">-</td>
                <td class="p-r-84 right">1</td>
              </tr>
            </tbody>

          </table>
        </div>


      </section>

    </div>
  </main>

  <%- include('./src/include/footer.ejs') %>