<%- include('./src/include/header.ejs', { title: '규정 및 정책' }) %>

<main id="REG" class="dl reg">
  <div class="main-inner" data-path="reg">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">규정 및 정책</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">규정 및 정책</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/dl/dl_reg_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/dl/dl_reg_kv-mo.webp">
                <img class="core" src="/resources/images/dl/dl_reg_kv-pc.webp" alt="kv">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="dl-area reg-area">
              <div class="reg-con">
                  <div class="content-box in_sec_box_area">
                    <div class="file-wrap in_sec_box">
                      <div class="file-info">
                        <div class="info-num">번호</div>
                        <div class="info-name">제목</div>
                        <div class="info-down">다운로드</div>
                      </div>
                      <!-- 번호 :: .file-num 클래스 안의 <span> 태그에 적용-->
                      <!-- 제목 :: .file-name 클래스 안의 <span> 태그에 적용-->
                      <!-- 다운로드명 :: .file-data 클래스 안의 <span class="txt"> 에 적용-->
                      <!-- 업로드명 :: .file-data 클래스 안의 <a download="업로드명"> 에 적용-->
                      <ol class="file-list">
                        <li class="file-item">
                          <div class="file-num"><span>1</span></div>
                          <div class="file-name"><span>정관</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>2</span></div>
                          <div class="file-name"><span>이사회 운영규정</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>3</span></div>
                          <div class="file-name"><span>감사위원회 운영규정</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>4</span></div>
                          <div class="file-name"><span>사외이사추천위원회 운영규정</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>5</span></div>
                          <div class="file-name"><span>내부거래위원회 운영규정</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>6</span></div>
                          <div class="file-name"><span>ESG위원회 운영규정</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>7</span></div>
                          <div class="file-name"><span>내부회계관리규정</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>8</span></div>
                          <div class="file-name"><span><span>기업지배구조헌장</span></span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>9</span></div>
                          <div class="file-name"><span>보안 선언문</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>10</span></div>
                          <div class="file-name"><span>HSE경영방침</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>11</span></div>
                          <div class="file-name"><span>4대 기초안전수칙</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>12</span></div>
                          <div class="file-name"><span>12대 중대안전수칙</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>13</span></div>
                          <div class="file-name"><span>윤리규범</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>14</span></div>
                          <div class="file-name"><span>윤리규범</span> 실천지침</div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>15</span></div>
                          <div class="file-name"><span><span>기업지배구조헌장</span></span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>16</span></div>
                          <div class="file-name"><span>부패방지 및 규범준수 방침</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>17</span></div>
                          <div class="file-name"><span>사회적 책임 헌장</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>18</span></div>
                          <div class="file-name"><span>품질방침</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                      </ol>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

  

  </div>
</main>

<%- include('./src/include/footer.ejs') %>