<%- include('./src/include/header.ejs', { title: 'CEO 메시지' }) %>

<main id="CEO" class="ceo osa">
  <div class="main-inner" data-path="ceo">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">CEO 메시지</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">CEO 메시지</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/osa/ceo_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/osa/ceo_kv-mo.webp">
                <img class="core" src="/resources/images/osa/ceo_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="ceo-area osa-area">
                <div class="title-con common-grid">
                    <div class="title-wrap in_sec_box_area">
                      <div class="title m_h6 in_sec_box"> <span class="m_hanwhaR">한화오션</span>은 지구와 생명의 근원인 대양을 통해 인류의 삶을 더욱 풍요롭게 만들어 나갈 것입니다. <br class="mobile">지속가능한 미래를 위해  <span class="m_hanwhaR">한화오션</span>이 함께 합니다.</div>
                      <div class="desc in_sec_box">
                        <div class="sub-tit m_h7">존경하는 이해관계자 여러분 <br><span class="m_hanwhaR">한화오션</span>에 대한 관심과 믿음에 감사드립니다.</div>
                        <p>  
                          지난해 5월 <span class="m_hanwhaL">한화오션</span>은 새롭게 <span class="m_hanwhaL">한화</span>의 가족이 되었습니다. <span class="m_hanwhaL">한화오션</span>의 새 사명인 ‘오션’은 
                          지속가능성’과 ‘도전’을 의미합니다. 미지의 영역이 95%에 달하는 대양을 무대로 개척정신과 지속적인 혁신을 통하여 조선업의 본질적인 경쟁력을 극대화하는 것을 넘어 미래 해양산업의 패러다임 전환을 통해 전 세계가 직면한 안보와 기후 위기에 해결책을 제시하는 글로벌 혁신기업으로 나아가고자 합니다.<br><br>
                          <span class="m_hanwhaL">한화오션</span>은 ‘지속가능한 항해를 가능케 하는 가장 믿을 수 있는 기업’이라는 ESG 경영비전 하에 
                          지난해 많은 성과를 달성하였습니다.<br><br>
                          먼저 지난해 '기업지배구조헌장'을 제정하였습니다. 기업지배구조헌장에는 주주 권리 보호, 임직원 복지 증진, 협력업체와의 파트너십 증진 등 이해관계자에 대한 사회적 책임 내용이 포함되었으며 이를 통해 모든 이해관계자들로부터 신뢰를 확보하고 성실한 경영활동을 수행하겠다는 <span class="m_hanwhaL">한화오션</span>의 의지를 밝혔습니다.<br><br>
                          특히 지난해 12월에는 ESG 추진체계를 확립하고 구체적인 지표를 마련해 지속가능한 기업으로서 성장을 위하여 ESG HOST 2030을 승인하였습니다. ESG HOST 2030의 핵심지표로는 온실가스 감축, 친환경 선박 전환, 안전사고 예방, 공급망 ESG 평가, 준법윤리경영 실천 평가로가 선정되어, 각각에 대한 세부추진 과제를 발굴하고, 체계적인 실행이 이루어질 예정입니다. 온실가스 감축의 경우 동종업계 최고 수준인 2018년 대비 2030년 40%까지 감축을 계획하였으며,  저탄소•무탄소 연료로 추진하는 친환경 선박을 100% 건조하고, 친환경 해양제품도 확장할 계획입니다.<br><br>
                          <span class="m_hanwhaL">한화오션</span>은 앞으로도 지구와 생명의 근원인 대양을 통해 인류의 삶을 더욱 풍요롭게 만들어 나가고자 합니다. 지속가능한 미래를 위한 <span class="m_hanwhaL">한화오션</span>의 항해에 이해관계자 여러분들의 많은 지지와 성원을 부탁드립니다.
                        </p>
                        <div class="sign-box">
                          <div class="name">
                              <span class="m_hanwhaR">한화오션</span> 대표이사 권혁웅
                          </div>
                          <div class="sign">
                              <picture class="img-wrap">
                                  <source media="(min-width: 769px)" srcset="/resources/images/osa/ceo_sign-pc.webp">
                                  <source media="(max-width: 768px)" srcset="/resources/images/osa/ceo_sign-pc.webp">
                                  <img src="/resources/images/osa/ceo_sign-pc.webp" alt="Images">
                              </picture>
                          </div>

                      </div>
                      </div>

                      
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>