<%- include('./src/include/header-en.ejs', { title: 'Composition of Board of Directors' }) %>

<main id="BOD" class="bod">
  <div class="main-inner" data-path="bod">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Board of Directors</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Board of Directors</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/gov/kv.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/gov/kv-mo.webp">
                <img class="core" src="/resources/images/gov/kv.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="common-tab-looking-a-wrap" id="bod-tab">
              <div class="tab-looking-a line-tab">
                  <a href="/en/gov/bod/#bod-tab" class="active tab-item">Composition of Board of Directors</a>
                  <a href="/en/gov/rs/#rs-tab" class="tab-item">Deliberations by the BoD</a>
              </div>
          </div>
          <div class="content-box ct01 in_sec_box_area">
              <div class="common-grid">
                  <div class="title-wrap">
                      <div class="title m_h3 in_sec_copy">Sound Corporate Governance</div>
                      <div class="desc">
                        <div class="item">
                          <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> operates the BoD fairly and transparently to establish sound corporate governance. Matters concerning the BoD, such as the appointment of directors, resolutions, and committees, are handled in accordance with the Articles of Incorporation and the BoD regulations, and all board activities are disclosed in our business report. Our BoD of <span class="m_hanwhaL">Hanwha Ocean</span> is chaired by the CEO in order to resolve various issues discussed by the board efficiently and incorporate them into management. The board, as the highest decision-making body, also makes decisions on the company’s mid-to-long-term strategy, major investment agenda items, and ESG, among others.</p>
                        </div>
                        <div class="item">
                          <strong class="m_h6 in_sec_copy">Composition of Board of Directors</strong>
                          <p class="intro in_sec_copy">All directors of <span class="m_hanwhaL">Hanwha Ocean</span> meet the qualifications required by relevant laws and regulations, and the Articles of Incorporation. Outside directors consist of experts with practical experience and expertise in respective fields such as accounting, shipbuilding, law, and management.</p>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="table-wrap in_sec_box">
                  <div class="common-table-wrap">
                      <table class="common-table">
                        <caption>Composition of Board of Directors table</caption>
                        <thead>
                          <tr>
                            <th class="center">Name</th>
                            <th class="center">Classification</th>
                            <th class="center">Gender</th>
                            <th class="center">Age</th>
                            <th class="center">Position*</th>
                            <th class="center">Duration of Service (Months)</th>
                            <th class="center">Expected Expiration Date of Term</th>
                            <th class="center">Expertise</th>
                            <th class="center">Career</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="center">Kwon Hyek-woong</td>
                            <td class="center">Inside <br>director</td>
                            <td class="center">M</td>
                            <td class="center">63</td>
                            <td class="center">CEO & <br>Chairperson of the BoD</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">General management</td>
                            <td class="left">Former Support Division Manager, <span class="m_hanwhaL">Hanwha</span> Corporation</td>
                          </tr>

                          <tr>
                            <!-- 개발 참고 :: 텍스트를 sup 태그로 감싸면 윗 첨자가 됩니다. -->
                            <td class="center">Kim Jong-seo </td>
                            <td class="center">Inside <br>director</td>
                            <td class="center">M</td>
                            <td class="center">56</td>
                            <td class="center">Representative member of the Outside Director Recommendation Committee</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">General corporate management</td>
                            <td class="left">Former director in charge of <span class="m_hanwhaL">Hanwha Aerospace</span></td>
                          </tr>

                          <tr>
                            <!-- 개발 참고 :: 텍스트를 sup 태그로 감싸면 윗 첨자가 됩니다. -->
                            <td class="center">Jung In-seop¹⁾ </td>
                            <td class="center">Inside <br>director</td>
                            <td class="center">M</td>
                            <td class="center">58</td>
                            <td class="center">ESG Committee member</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">General corporate management</td>
                            <td class="left">Former director in charge of <span class="m_hanwhaL">Hanwha Aerospace</span></td>
                          </tr>

                          <tr>
                            <td class="center">Kim Dong-kwan</td>
                            <td class="center">Non-executive director</td>
                            <td class="center">M</td>
                            <td class="center">40</td>
                            <td class="center">-</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">General corporate management</td>
                            <td class="left">Former Strategy Division Director, <span class="m_hanwhaL">Hanwha</span> Corporation</td>
                          </tr>

                          <tr>
                            <td class="center">Lee Sin-hyeong</td>
                            <td class="center">Outside director</td>
                            <td class="center">M</td>
                            <td class="center">56</td>
                            <td class="center">Audit Committee member, Outside Director Recommendation Committee <br>member, Internal Transaction Committee Chairperson</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">Shipbuilding</td>
                            <td class="left">Professor at the Dept. of Naval Architecture and Ocean Engineering, Seoul National University <br>Former President of the Society of Naval Architects of Korea <br> Former Lead Engineer, Fluent Inc. (USA)</td>
                          </tr>

                          <tr>
                            <td class="center">Kim Bong-hwan</td>
                            <td class="center">Outside director</td>
                            <td class="center">M</td>
                            <td class="center">54</td>
                            <td class="center">Audit Committee Chairperson, <br>Outside Director Recommendation Committee member, Internal Transaction Committee member</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">Accounting</td>
                            <td class="left">Professor at the Graduate School of Public Administration, Seoul National University <br>Former Financial City Director, Seoul Metropolitan Government <br>Former Assistant Professor at the Dept. of Business Administration, American University (USA)</td>
                          </tr>

                          <tr>
                            <td class="center">George P. Bush</td>
                            <td class="center">Outside director</td>
                            <td class="center">M</td>
                            <td class="center">47</td>
                            <td class="center">-</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">Law</td>
                            <td class="left">Currently Partner at Michael Best & Friedrich LLP <br>Former Founder, St. Augustine Partners <br>Former Texas General Land Office Commissioner</td>
                          </tr>

                          <tr>
                            <td class="center">Hyun Nak-hui</td>
                            <td class="center">Outside director</td>
                            <td class="center">F</td>
                            <td class="center">44</td>
                            <td class="center">Audit Committee member, ESG Committee Chairperson, Internal Transaction Committee member</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">Law</td>
                            <td class="left">Associate Professor, Sungkyunkwan University Law School (34th class of the Judicial Research and Training Institute) / New York State Attorney (USA) <br>Former Judicial Researcher, Supreme Court of Korea</td>
                          </tr>

                          <tr>
                            <td class="center">Kim Jae-ik</td>
                            <td class="center">Outside director</td>
                            <td class="center">M</td>
                            <td class="center">61</td>
                            <td class="center">ESG Committee member</td>
                            <td class="center">7</td>
                            <td class="center">25th AGM</td>
                            <td class="center">Management</td>
                            <td class="left">Outside director at Dong In Entech Co., Ltd. <br>Former CEO of KDB Infrastructure Asset Management <br>Former Head of Risk Management Division, Korea Development Bank</td>
                          </tr>

                        </tbody>
                      </table>
                  </div>
                  <ol class="refer">
                    <li>
                      <span class="m_desc">
                        1) Inside director Ryu Du-hyeong took the position of Inside director Jeong In-seop in March 2024.
                        <br> * As of December 2023, our BoD is composed of nine members in total (3 Inside directors, 1 non-executive director, and 5 outside directors) and meets the minimum statutory standards for outside directors under Article 542-8(1) of the Commercial Act.
                      </span>
                    </li>
                  </ol>
              </div>
          </div>
          <div class="content-box ct02 in_sec_box_area">
            <strong class="title m_h8 in_sec_box">Board skills Matrix</strong>
            <div class="table-wrap in_sec_box">
              <div class="common-table-wrap">
                  <table class="common-table">
                    <caption>Board skills Matrix</caption>
                    <thead>
                      <tr>
                        <th class="center" rowspan="2" colspan="2">Classification</th>
                        <th class="center" colspan="4">Inside <br>directors</th>
                        <th class="center" colspan="5">Outside Directors</th>
                      </tr>
                      <tr>
                        <th class="center">Kwon Hyek-woong</th>
                        <th class="center">Kim Jong-seo</th>
                        <th class="center">Jeong In-seop</th>
                        <th class="center">Kim Dong-kwan</th>
                        <th class="center">Lee Sin-hyeong</th>
                        <th class="center">Kim Bong-hwan</th>
                        <th class="center">George P. Bush</th>
                        <th class="center">Hyun Nak-hui</th>
                        <th class="center">Kim
                          Jae-ik</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="left" rowspan="7">Competence</td>
                        <td class="left">Leadership</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">CEO experience</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">Global</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left">Industry</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left">Management & accounting</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">Policy & administration</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left">Law & regulation</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left" rowspan="4">Diversity</td>
                        <td class="left">Year of appointment</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                      </tr>

                      <tr>
                        <td class="left">Independence</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">Nationality</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                        <td class="center">Korea</td>
                      </tr>

                      <tr>
                        <td class="left">Gender</td>
                        <td class="center">M</td>
                        <td class="center">M</td>
                        <td class="center">M</td>
                        <td class="center">M</td>
                        <td class="center">M</td>
                        <td class="center">M</td>
                        <td class="center">M</td>
                        <td class="center">F</td>
                        <td class="center">M</td>
                      </tr>

                      <tr>
                        <td class="left" colspan="2">Activity Committee</td>
                        <td class="center">BoD Chairperson</td>
                        <td class="center">Representative member of Outside Director Recommendation Committee</td>
                        <td class="center">ESG Committee</td>
                        <td class="center"></td>
                        <td class="center">Audit Committee member, <br>Internal Transaction Committee Chairperson, <br>Outside Director Recommendation Committee member</td>
                        <td class="center">Audit Committee Chairperson, <br>Internal Transaction Committee member, <br>Outside Director Recommendation Committee member</td>
                        <td class="center"></td>
                        <td class="center">Audit Committee member, <br>Internal Transaction Committee member, <br>ESG Committee Chairperson</td>
                        <td class="center">ESG Committee</td>
                      </tr>

                    </tbody>
                  </table>

              </div>
            </div>
          </div>

          <div class="common-grid">
            <div class="title-wrap">
                <div class="desc">
                  <div class="item">
                    <strong class="m_h6 in_sec_copy">Ensuring board independence and diversity</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> reviews the qualifications of directors under Article 382(3) (Appointment of Directors, Relationship with Company and Outside Directors) and Article 542-8(2) (Appointment of Outside Directors) of the Commercial Act. Accordingly, we take actions to ensure fairness and independence by appointing directors through the AGM. In terms of ensuring board diversity, we comply with Article 165(20) (Special Cases concerning Submission of Business Reports) of the Financial Investment Services and Capital Markets Act. Moreover, we do not set qualification restrictions on gender, age, region, nationality, and other factors when appointing directors. We appointed one female outside director at the 2023 AGM to ensure diversity and secured expertise and accountability in various fields encompassing accounting, shipbuilding, law, and management.</p>
                  </div>
                </div>
                
            </div>
        </div>
      </div>
  </section>


  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>