<%- include('./src/include/header.ejs', { title: '이해관계자 소통' }) %>

<main id="SC" class="sc osa">
  <div class="main-inner" data-path="sc">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">이해관계자 소통</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">이해관계자 소통</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/osa/sc_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/osa/sc_kv-mo.webp">
              <img class="core" src="/resources/images/osa/sc_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="osa-area sc-area">
          <div class="sc-con">
            <div class="common-grid inner">
              <div class="title-wrap">
                  <p class="desc in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 이해관계자를 고객, 주주 및 투자기관, 임직원, 협력사 및 공급사, 지역사회, 정부 및 산업체로 구분하고 있습니다. 각 이해관계자의 특성을 고려한 그룹별 커뮤니케이션 채널을 개설하여 운영 중에 있으며, 이를 통하여 이해관계자의 <span class="m_hanwhaL">한화오션</span>에 대한 기대사항을 파악하고 있습니다. 앞으로도 적극적인 소통을 통해 이해관계자의 기대사항이 지속가능경영 전략에 반영될 수 있도록 노력하겠습니다.</p>
              </div>
            </div>
            <div class="infogram-wrap in_sec_box_area">
              <div class="infogram in_sec_box scr-center">
                <div class="graph-img">
                  <picture>
                    <source media="(min-width: 769px)" srcset="/resources/images/osa/sc_info_diagram-pc.webp">
                    <source media="(max-width: 768px)" srcset="/resources/images/osa/sc_info_diagram-pc.webp">
                    <img src="/resources/images/osa/sc_info_diagram-pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="sr-only">
                 <dl>
                  <dt>이해관계자 그룹</dt>
                  <dd>
                    <ul>
                      <li>
                        <dl>
                          <dt>고객</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>커뮤니케이션 채널</dt>
                                  <dd>
                                    <ul>
                                      <li>VOC </li>
                                      <li>고객만족도 조사</li>
                                      <li>국제박람회 및 컨퍼런스 </li>
                                      <li>고객사 방문(지사 운영)</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>관심 이슈</dt>
                                  <dd>
                                    <ul>
                                      <li>환경경영체계</li>
                                      <li>안전보건</li>
                                      <li>품질경영</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>정부 및 규제기관 </dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>커뮤니케이션 채널</dt>
                                  <dd>
                                    <ul>
                                      <li>각종 협회 및 학회 활동</li>
                                      <li>컨퍼런스 및 간담회</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>관심 이슈</dt>
                                  <dd>
                                    <ul>
                                      <li>공정한 시장경쟁</li>
                                      <li>산업경쟁력 강화</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>지역사회 및 NGO</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>커뮤니케이션 채널</dt>
                                  <dd>
                                    <ul>
                                      <li>각종 지역설명회 및 간담회</li>
                                      <li>각종 지역사회 공헌 활동</li>
                                      <li>지자체 및 지역 기반 동일 산업체(거제시청, 삼성중공업 교류회)</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>관심 이슈</dt>
                                  <dd>
                                    <ul>
                                      <li>환경경영체계</li>
                                      <li>친환경 제품 및 기술 개발</li>
                                      <li>기후변화 대응</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>투자자</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>커뮤니케이션 채널</dt>
                                  <dd>
                                    <ul>
                                      <li>주주총회 및 공시활동</li>
                                      <li>기업설명회</li>
                                      <li>사업보고서, 지속가능경영보고서</li>
                                      <li>투자자 컨퍼런스 콜</li>
                                      <li>기술 시연회</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>관심 이슈</dt>
                                  <dd>
                                    <ul>
                                      <li>친환경 제품 및 기술개발</li>
                                      <li>기후변화 대응</li>
                                      <li>공급망 관리 및 동반성</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>임직원</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>커뮤니케이션 채널</dt>
                                  <dd>
                                    <ul>
                                      <li>경영설명회, 카드뉴스, 오션뷰</li>
                                      <li>공무소식통</li>
                                      <li>B&CP(Business&Culture Partner)</li>
                                      <li>노사협의회 및 단체교섭</li>
                                      <li>타운홀 미팅</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>관심 이슈</dt>
                                  <dd>
                                    <ul>
                                      <li>친환경제품 및 기술개발</li>
                                      <li>기후변화 대응</li>
                                      <li>안전보건</li>
                                      <li>근무환경 개선</li>
                                      <li>복리후생</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>협력사 및 공급사</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>커뮤니케이션 채널</dt>
                                  <dd>
                                    <ul>
                                      <li>사내 협력사 대표협의회</li>
                                      <li>글로벌탑(공급사 협의회)</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>관심 이슈</dt>
                                  <dd>
                                    <ul>
                                      <li>안전보건</li>
                                      <li>근무환경 개선</li>
                                      <li>인재채용 및 성과보상</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                    </ul>
                  </dd>
                 </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>