<%- include('./src/include/header-en.ejs', { title: 'Environmental Policy' }) %>

<main id="PL" class="pl env">
  <div class="main-inner" data-path="pl">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_kv-mo.webp">
                <img class="core" src="/resources/images/hse/env/env_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="hse-area pl-area" id="envPl">
              <div class="pl-con">
                  <div class="common-tab-looking-a-wrap">
                      <div class="tab-looking-a line-tab">
                          <a href="/en/hse/env/pl/#envPl" class="active tab-item">Environmental Policy</a>
                          <a href="/en/hse/env/st/#envSt" class="tab-item">Laws/Regulations and Response Strategies</a>
                          <a href="/en/hse/env/cert/#envCert" class="tab-item">Eco-friendly Certification Status</a>
                          <a href="/en/hse/env/cnt/#envCnt" class="tab-item">Pollutant Management</a>
                          <a href="/en/hse/env/bio/#envBio" class="tab-item">Biodiversity Protection</a>
                      </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                      <div class="common-grid">
                          <div class="title-wrap">
                              <div class="title m_h3 in_sec_copy">Environmental Policy</div>
                              <div class="desc">
                                  <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> considers that environmental management is a core value of our  business operations. In this regard, we carry out a wide range of activities based on our environmental policy. We strictly comply with environmental laws and regulations in all our business activities. Beyond regulatory compliance, we encourage our employees to engage in diverse activities actively for environmental protection and sustainable development. In addition, we operate education programs to raise employees’ environmental awareness and provide them with opportunities for active participation in environmental protection activities.
                                    <br><br class="mo-either">
                                    Furthermore, we disclose environmental management-related information transparently to build trust with our stakeholders, and constantly make efforts to achieve our shared environmental protection goals. We update our environmental protection performance, environmental management plans and activities, and our responses to environment-related issues on a regular basis, and collect opinions from our stakeholders actively.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="step-wrap in_sec_box">
                        <div class="title m_h6">Environmental Policy</div>
                        <ul class="step-list">
                          <li class="step">
                            <div class="icon-box">
                              <div class="step-ic"><span class="blind">icons</span></div>
                            </div>
                            <div class="info-box">
                              <div class="tit">
                                <span class="num m_desc">1</span>
                                <strong>Participation in global ESG management by complying with domestic and international environmental regulations</strong>
                              </div>
                              <p class="desc">We take part in sustainability management and independently prevent and inspect potential environmental pollution factors in all processes</p>
                            </div>
                          </li>
                          <li class="step">
                            <div class="icon-box">
                              <div class="step-ic"><span class="blind">icons</span></div>
                            </div>
                            <div class="info-box">
                              <div class="tit">
                                <span class="num m_desc">2</span>
                                <strong>Constant technology development and practices <br class="pc">to achieve carbon neutrality</strong>
                              </div>
                              <p class="desc">We constantly develop environmental technologies to use less energy</p>
                            </div>
                          </li>
                          <li class="step">
                            <div class="icon-box">
                              <div class="step-ic"><span class="blind">icons</span></div>
                            </div>
                            <div class="info-box">
                              <div class="tit">
                                <span class="num m_desc">3</span>
                                <strong>Active adoption of <br class="pc">renewable energy sources and relentless 4R practices</strong>
                              </div>
                              <p class="desc">We carry out activities to achieve RE100 and reduce and recycle waste to promote constant environmental improvement</p>
                            </div>
                          </li>
                          <li class="step">
                            <div class="icon-box">
                              <div class="step-ic"><span class="blind">icons</span></div>
                            </div>
                            <div class="info-box">
                              <div class="tit">
                                <span class="num m_desc">4</span>
                                <strong>Encouraging employee participation and leadership</strong>
                              </div>
                              <p class="desc">We provide constant environmental education and practices for all employees</p>
                            </div>
                          </li>
                          <li class="step">
                            <div class="icon-box">
                              <div class="step-ic"><span class="blind">icons</span></div>
                            </div>
                            <div class="info-box">
                              <div class="tit">
                                <span class="num m_desc">5</span>
                                <strong>Transparent disclosure of environmental information</strong>
                              </div>
                              <p class="desc">We disclose information regularly to ensure transparency in implementing our environmental policy</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>