<%- include('./src/include/header.ejs', { title: '저감 활동' }) %>

<main id="RD" class="nz rd">
  <div class="main-inner" data-path="rt">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">탄소중립</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">탄소중립</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/nz/nz_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/nz/nz_kv-mo.webp">
                <img class="core" src="/resources/images/hse/nz/nz_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area rd-area" id="nzRd">
                <div class="rd-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/hse/nz/rt/#nzRt" class="tab-item">감축 목표</a>
                            <a href="/hse/nz/rd/#nzRd" class="active tab-item">저감 활동</a>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">Net Zero, <br>무탄소 선박을 위한 항해</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 디지털 트랜스포메이션에 맞추어 스마트야드를 실현하고 에너지 전환을 리딩하는 친환경 저·무탄소 솔루션을 선제적으로 갖출 것입니다. 또한 탄소중립 실현에 기여하기 위해 고망간강탱크, 로터세일 등 다양한 그린십 솔루션을 적용한 친환경 선박과 신선종 건조, 무탄소 연료 추진선을 개발하고 있습니다. 2024년 2월 <span class="m_hanwhaL">한화엔진</span> 인수를 통하여 친환경 선박건조에 대한 토탈 솔루션을 완성하였으며, 자체 해운사인 <span class="m_hanwhaL">한화쉬핑</span>을 통한 해상실증으로 친환경 기술개발에 토대를 선제적으로 구축하겠습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="in_mob_scr scr-center scr-wide">
                          <div class="picture in_sec_box_area">
                            <div class="point-wrap in_sec_box">
                              <div class="point">
                                  <div class="icon"><span class="blind">그린십 솔루션 아이콘</span></div>
                                  <div class="txt-wrap">
                                      <span>그린십 솔루션</span>
                                  </div>
                              </div>
                              <div class="point">
                                  <div class="icon"><span class="blind">스마트 야드 아이콘</span></div>
                                  <div class="txt-wrap">
                                      <span>스마트 야드</span>
                                  </div>
                              </div>
                              <div class="point">
                                <div class="icon"><span class="blind">해상 실증 아이콘</span></div>
                                <div class="txt-wrap">
                                    <span>해상 실증</span>
                                </div>
                              </div>
                            </div>
                            <div class="sub-wrap in_sec_box">
                              <div class="tit">미래 선박 시대 전환을 위한 솔루션</div>
                            </div>
                            <div class="card-wrap in_sec_box_area">
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">가스로그와 파트너십, 선상 탄소 포집·저장장치 기술 개발</div>
                                  <div class="info">
                                      <p><span class="m_hanwhaL">한화오션</span>은 2022년 그리스 해운 사 가스로그와 파트너십을 맺고 본 격적으로 선상 탄소 포집·저장장 치 기술 개발에 착수하였습니다. 2023년 10월 한국선급(KR)으로 부터 수산화나트륨 기반 OCCS에 대한 개념승인을 획득했습니다.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">세계 최대 규모 <br>암모니아선 <br>수주</div>
                                  <div class="info">
                                      <p><span class="m_hanwhaL">한화오션</span>은2023년에 이어 2024년에도 세계 최대 규모인 93K급 암모니아 운반선을 수주하였습니다. 오세아니아 지역 선주로부터 수주한 해당 암모니아 운반선에는 <span class="m_hanwhaL">한화오션</span>이 자체 개발한 스마트십 플랫폼 HS4를 비롯해 최신 탄소 저감기술인 축발전기모터(SGM) 등 친환경 기술이 적용됩니다.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">세계 최초 암모니아 <br>추진 LNG 운반선에 <br>대한 기본인증 획득</div>
                                  <div class="info">
                                    <p>2022년 프랑스 선급협회, 영국 로이드선급 등으로부터 암모니아 추진 컨테이너선/초대형 원유운반선(VLCC) 등에 대한 기본인증을 획득한데 이어, 2023년 9월 세계 최초로 암모니아 추진 LNG 운반선에 대한 기본인증을 획득 했습니다.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                  <div class="tit m_h9"><span class="m_hanwhaL">한화엔진</span> 인수를 통한 <br>친환경 선박 기술 개발 <br>시너지 극대화, 토탈 건조 솔루션 완성</div>
                                  <div class="info">
                                    <p>2024년 2월 선박용 저속엔진 세계 2위 기업인 <span class="m_hanwhaL">한화엔진</span>(구, HSD 엔진) 친환경 선박기술 개발 시너지를 극대화할 뿐 아니라, 고객들에게 선박 관련 토탈 솔루션을 제공할 수 있게 되었습니다.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                <div class="tit m_h9">해상실증을 통한 선제적 친환경 기술개발, <span class="m_hanwhaR">한화해운</span></div>
                                <div class="info">
                                  <p>친환경·디지털 선박 기술 검증을 위한 플랫폼 역할을 수행할 해운사 <span class="m_hanwhaL">한화해운</span>을 설립하였습니다. 자체 해운사를 통하여 무탄소 선박의 건조를 넘어 실증까지 수행할 수 있는 선제적인 친환경 기술개발의 토대를 구축했습니다.</p>
                                </div>
                              </div>
                            </div>
                            <div class="icon-swipe"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>