<%- include('./src/include/header.ejs', { title: '인증서' }) %>

<main id="CERTI" class="dl certi">
  <div class="main-inner" data-path="certi">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">인증서</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">인증서</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/dl/dl_certi_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/dl/dl_certi_kv-mo.webp">
                <img class="core" src="/resources/images/dl/dl_certi_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="dl-area certi-area">
              <div class="certi-con">
                  <div class="content-box in_sec_box_area">
                    <div class="title m_h3 in_sec_copy">인증서</div>
                    <div class="file-wrap in_sec_box">
                      <div class="file-tit m_h6">인증서 다운로드</div>
                      <div class="file-info">
                        <div class="info-num">번호</div>
                        <div class="info-name">제목</div>
                        <div class="info-down">다운로드</div>
                      </div>
                      <!-- 번호 :: .file-num 클래스 안의 <span> 태그에 적용-->
                      <!-- 제목 :: .file-name 클래스 안의 <span> 태그에 적용-->
                      <!-- 다운로드명 :: .file-data 클래스 안의 <span class="txt"> 에 적용-->
                      <!-- 업로드명 :: .file-data 클래스 안의 <a download="업로드명"> 에 적용-->
                      <ol class="file-list">
                        <li class="file-item">
                          <div class="file-num"><span>1</span></div>
                          <div class="file-name"><span>2023년 Scope1, 2 온실가스 검증 의견서</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>2</span></div>
                          <div class="file-name"><span>환경경영시스템(ISO 14001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>3</span></div>
                          <div class="file-name"><span>에너지경영시스템(ISO 50001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>4</span></div>
                          <div class="file-name"><span>안전보건경영시스템(ISO 45001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>5</span></div>
                          <div class="file-name"><span>품질경영시스템(ISO 9001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>6</span></div>
                          <div class="file-name"><span>품질경영시스템(ISO 29001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>7</span></div>
                          <div class="file-name"><span>품질경영시스템(ISO 3834)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>8</span></div>
                          <div class="file-name"><span>부패방지 및 규범준수 경영시스템(ISO 37001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>9</span></div>
                          <div class="file-name"><span>부패방지 및 규범준수 경영시스템(ISO 37001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>10</span></div>
                          <div class="file-name"><span>정보보호 ISO/IEC 인증(27001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                        <li class="file-item">
                          <div class="file-num"><span>11</span></div>
                          <div class="file-name"><span>정보보호 ISO/IEC 인증(27001)</span></div>
                          <div class="file-data">
                            <a href="#" class="m_btn" type="button" hover="ripple" size="l" line="round" color="white" icon="right" download="자료">
                                <span class="txt">자료</span>
                                <span class="icon"></span>
                            </a>
                          </div>
                        </li>
                      </ol>
                    </div>
                    <div class="level-wrap in_sec_box">
                      <div class="level-tit m_h6">ESG 평가 현황</div>
                      <ul class="level-list">
                        <li class="level-item">
                          <div class="company">
                            <div class="logo">
                              <picture>
                                    <source media="(min-width: 769px)" srcset="/resources/images/dl/dl_certi_logo_01-pc.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/dl/dl_certi_logo_01-mo.webp">
                                    <img class="core" src="/resources/images/dl/dl_certi_logo_01-pc.webp" alt="한국 ESG 기준원 로고 이미지">
                              </picture>
                            </div>
                          </div>
                          <div class="rank">B+ <br>(E환경: B+, S사회: <br class="mobile">B+, G지배구조: B+)</div>
                        </li>
                        <li class="level-item">
                          <div class="company">
                            <div class="logo">
                              <picture>
                                    <source media="(min-width: 769px)" srcset="/resources/images/dl/dl_certi_logo_02-pc.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/dl/dl_certi_logo_02-mo.webp">
                                    <img class="core" src="/resources/images/dl/dl_certi_logo_02-pc.webp" alt="MSCI 로고 이미지">
                              </picture>
                            </div>
                          </div>
                          <div class="rank">CCC</div>
                        </li>
                        <li class="level-item">
                          <div class="company">
                            <div class="logo">
                              <picture>
                                    <source media="(min-width: 769px)" srcset="/resources/images/dl/dl_certi_logo_03-pc.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/dl/dl_certi_logo_03-mo.webp">
                                    <img class="core" src="/resources/images/dl/dl_certi_logo_03-pc.webp" alt="CDP 로고 이미지">
                              </picture>
                            </div>
                          </div>
                          <div class="rank">B</div>
                        </li>

                      </ul>
                   
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </section>


  </div>
</main>

<%- include('./src/include/footer.ejs') %>