<%- include('./src/include/header-en.ejs', { title: 'Eco-friendly Certification Status' }) %>

<!-- dummy -->
<main id="CERT" class="cert env">
  <div class="main-inner" data-path="pl">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_kv-mo.webp">
                <img class="core" src="/resources/images/hse/env/env_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="hse-area cert-area" id="envCert">
              <div class="cert-con">
                  <div class="common-tab-looking-a-wrap">
                      <div class="tab-looking-a line-tab">
                        <a href="/en/hse/env/pl/#envPl" class="tab-item">Environmental Policy</a>
                        <a href="/en/hse/env/st/#envSt" class="tab-item">Laws/Regulations and Response Strategies</a>
                        <a href="/en/hse/env/cert/#envCert" class="active tab-item">Eco-friendly Certification Status</a>
                        <a href="/en/hse/env/cnt/#envCnt" class="tab-item">Pollutant Management</a>
                        <a href="/en/hse/env/bio/#envBio" class="tab-item">Biodiversity Protection</a>
                      </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                      <div class="common-grid">
                          <div class="title-wrap">
                              <div class="title m_h3 in_sec_copy">Third-party Eco- <br class="pc">friendly Certifications</div>
                              <div class="desc">
                                  <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> ensures the systematic management of environmental indicators corresponding to international standards. We obtained and renewed ISO 14001 (environmental management system) and ISO 50001 (energy management system) certifications. We are committed to promoting and internalizing environmental management practices across our management.</p>
                                  <div class="cert-item">
                                    <div class="tit in_sec_copy">ISO 14001 (Environmental management system) Certification</div>
                                    <ul class="cert-list in_sec_box_area">
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_01-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_01-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_01-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_02-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_02-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_02-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_03-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_03-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_03-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_04-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_04-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_04-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                    </ul>

                                  </div>
                                  <div class="cert-item">
                                    <div class="tit in_sec_copy">ISO 50001(Energy management system) Certification</div>
                                    <ul class="cert-list in_sec_box_area">
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_50001_01-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_50001_01-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_50001_01-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                    </ul>

                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>