<%- include('./src/include/header.ejs', { title: '인권경영' }) %>

  <main id="HM" class="hrm hm">
    <div class="main-inner" data-path="hr">

      <div class="sub_top top_img">
        <div class="top_tit_area sticky">

          <div class="top_tit-inner static">
            <h2 class="sub_top_tit m_h2 in_sec_copy">인재&인권경영</h2>
          </div>

          <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2 in_sec_copy">인재&인권경영</h2>
          </div>

        </div>

        <div class="overflow-ct">
          <div class="top_kv_area">
            <div class="core-wrap">
              <!-- video면 video 클래스 붙여주세요, 스크롤에따라 영상재생 -->
              <picture class="core-wrap-inner">
                <!-- dim 필요하면 dim 클래스 붙여주세요 -->
                <source media="(min-width:769px)" srcset="/resources/images/sr/hrm/hm/hm_kv-pc.webp">
                <source media="(max-width:768px)" srcset="/resources/images/sr/hrm/hm/hm_kv-mo.webp">
                <img class="core" src="/resources/images/sr/hrm/hm/hm_kv-pc.webp" alt="Key Visual">
              </picture>
            </div>
          </div>
        </div>

      </div>

      <section class="sub_container">
        <div class="sec_inner">
          <div class="title-con common-grid" id="hrmHm">
      
            <div class="common-tab-looking-a-wrap">
              <div class="tab-looking-a line-tab">
                <a href="/sr/hrm/hr/#hrmHr" class="tab-item">인재경영</a>
                <a href="/sr/hrm/hm/#hrmHm" class="active tab-item">인권경영</a>
              </div>
            </div>
      
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">인권경영</h4>
      
              <div class="desc">
      
                <div class="item in_sec_copy">
                  <p><span class="m_hanwhaL">한화오션</span>은 모든 임직원들의 인권이 보호될 수 있도록 사내에 인권 존중 문화를 구축하기 위해 익명 신고센터 운영, 인권 교육 운영,
                    인권리스크 관리 등의 다양한 방법으로 노력하고 있습니다. <span class="m_hanwhaL">한화오션</span>은 직장 내 괴롭힘 및 성희롱 문제 발생시 임직원, 협력사 직원 등
                    누구나 안심하고
                    신고할 수 있는 익명 신고센터(신문고)를 운영하고 있습니다. 또한 피해 직원에 대한 지원 및
                    회복을 위해 사내 심리상담을 상시 지원하고 있으며, 사건의 공정한 해결을 위해 노동조합 추천위원·변호사 등으로 구성된 심의위원회를 운영하고 있습니다.</p>
                </div>
      
                <div class="item">
                  <strong class="m_h6 in_sec_copy">인권교육</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 사내에 인권 존중 문화를 구축하고 모든 임직원이 인권 경영을 실천할 수 있도록
                    다양한 인권 교육 프로그램을 운영하고 있습니다. 이를 통해 회사 전반에 걸쳐 인권을 존중하는
                    분위기가 자리잡도록 하고 있으며, 성희롱 예방, 직장 내 괴롭힘 방지, 장애인 인식 개선에 관련된 인권 교육 프로그램을 운영하고 있습니다. 법정교육을 포함한 직원 1인당 인권교육 시간은
                    4시간입니다.</p>
                </div>
      
                <div class="item">
                  <strong class="m_h6 in_sec_copy">외국인 인권 교육</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 다국적 근로자의 증가에 따라 내국인 근로자와 외국인 근로자와의 상호 존중 및 이해를 돕기 위해, 법정 인권 교육 이외에도
                    별도로 외국인 인권에 관한 교육을 실시하고 있습니다. 내국인 근로자들이 다문화를 이해하고 외국인 근로자들에게 가질 수 있는 선입견들을 없앨 수 있도록 외국인 근로자들이 낯선 환경에서 직면할
                    수 있는 고충에 관하여 주로 교육하고 있습니다. 2023년에는 4회에 걸쳐 총 273명의 팀장/본부장들과 사내 협력사 대표/총무들을 대상으로 대면 교육을 진행하였으며, 이를 확장하여
                    <span class="m_hanwhaL">한화오션</span> 및 협력사 전직원들을 대상으로 정기교육을 진행하고 있습니다. <span class="m_hanwhaL">한화오션</span>은
                    이를 통해 당사뿐 아니라 협력사들까지 외국인 인권 교육에 참여할 수 있도록 지원하고 있습니다.</p>
                </div>
      
                <div class="item">
                  <strong class="m_h6 in_sec_copy">인권리스크 관리</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 사업운영으로 인한 인권침해를 예방하고 관련 인권리스크를 완화하기 위해 노력하고 있습니다. 모든 이해관계자들의 인권을
                    존중하며 전 사업장을 대상으로 인권 영향평가를 실시하고 있습니다. 조직 내 소수그룹에 대한 차별이 발생하지 않도록 점검하며 특히 외국인, 장애인 직원들의 권리를 보장하기 위해 노력하고
                    있습니다. 또한, 모든 구성원이 안전하고 존중받는 환경에서
                    일할 수 있도록 성희롱 및 모든 형태의 괴롭힘을 엄격히 금지하고 있습니다. 인권침해 사건이
                    발생할 경우 피해자의 신원을 철저히 보호하며, 가해자에게는 적절한 시정 조치나 징계를 인사
                    규정화하고 있습니다. 인신매매, 강제노동, 아동노동, 비인도적 대우 등의 행위를 엄격히 금지하고 있으며 임산부, 장애인 등 인권 취약 이해관계자들을 보호하고, 현지 사업장의 경우 현지 국가의
                    근로규정과 노동법을 준수하고 있습니다. 또한 <span class="m_hanwhaL">한화오션</span>은 인권·안전 취약계층인 다국적
                    근로자들의 안정적인 생활과 조기 적응을 지원하기 위해 다양한 지원책을 실시하고 있습니다.</p>
                </div>
      
              </div>
      
            </div>
      
          </div>
        </div>

        <div class="common-table-wrap in_sec_box_area">
          <table class="common-table in_sec_box" data-table="1">
            <caption>다국적 근로자 생활지원활동</caption>

            <thead>
              <tr>
                <th class="center">다국적 근로자 생활지원활동</th>
                <th class="center">세부 내용</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="center">주거시설 개선</td>
                <td class="center">거제사업장 내 기숙사 9개동 전면 리모델링</td>
              </tr>

              <tr>
                <td class="center">조선소 생활백서 배포</td>
                <td class="center">조선소 내 은행, 의무실 등 각종 편의시설 안내 <br class="mobile">생활백서를 7개 언어로 제작 및 배포</td>
              </tr>

              <tr>
                <td class="center">식사메뉴 다양성 개선</td>
                <td class="center">기숙사 식당에서 7개 국가의 현지메뉴 제공 <br class="mobile">및 식단표에 육류 종류 표시(돼지, 소 등)</td>
              </tr>

            </tbody>

          </table>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
      
            <div class="title-wrap">
      
              <div class="desc">
                <div class="item">
                  <strong class="m_h6 in_sec_copy">인권보호 프로그램</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 코디네이터 프로그램을 통해 낯선 문화와 환경에서 작업하며 안전사고 노출위험 및 인권리스크가 높은 상황에 처해 있는 다국적 근로자를 돕고 있습니다. 코디네이터 프로그램이란, 이미 한국 문화와 언어에 능숙한 다국적 근로자들과 최근 입사한 다국적 근로자들을 서로 매칭하여 다양한 멘토 역할을 수행하는 활동입니다. 현재 <span class="m_hanwhaL">한화오션</span>은 네팔, 우즈베키스탄, 베트남 등 7개국에서 총 8명의 코디네이터를 임명하였습니다. 임명된 코디네이터는 한국어 교육, 문화교육 및 안전교육을 실시하며 다국적 근로자들이 안전하고 건강하게 생활할 수 있도록 밀착 지원하고 있습니다. 또한 안전 교육시 다국어 근로자를 대상으로 통역 및 안전 자료 번역을 수행하며, 현장에서 반 단위 멘토로서 활동하며 다국적 근로자들의 안전을 적극적으로 지원하고 있습니다. 또한 코디네이터들은 다국적 근로자들의 고충을 회사에 전달하는 소통창구 역할도 수행하며 이들의 정착을 위한 다양한 의견도 제시하고 있습니다. 이를 통해 다국적 근로자들과의 원활한 소통과 안전교육에 대한 접근성을 확대하여, 인권과 안전 측면에서 긍정적인 영향을 확대하고 있습니다.</p>
                </div>
      
              </div>
      
            </div>
      
          </div>
        </div>
      </section>

    </div>
  </main>

  <%- include('./src/include/footer.ejs') %>