<%- include('./src/include/header-en.ejs', { title: 'Safety and Health' }) %>

<main id="OV" class="sh ov">
  <div class="main-inner" data-path="sh-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Safety and Health</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Safety and Health</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_kv-mo.webp">
                <img class="core" src="/resources/images/hse/sh/sh_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area sh-ov-area" id="shOv">
                <div class="ov-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/sh/ov/#shOv" class="active tab-item">Overview</a>
                            <a href="/en/hse/sh/osh/#shOsh" class="tab-item">Occupational Safety and Health</a>
                            <a href="/en/hse/sh/smart/#shSmart" class="tab-item">Smart Safety</a>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">Safety and Health-First Management</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy">To make a fresh start as a member of the <span class="m_hanwhaL">Hanwha Group</span>, <span class="m_hanwhaL">Hanwha Ocean</span> newly established the HSE Management Policy that outlines basic management principles and general guidelines for decision-making based on the opinions of the Safety Management Advisory Committee consisting of external members, as well as all members of the company (including management, executives team leaders, managers, field workers, and suppliers). With the announcement of the HSE Management Policy, we set our HSE goals clearly and revealed the commitment of our executives to constantly improve and implement HSE management and provide a safe and healthy working environment for all employees.
                                      <br><br class="mo-either">
                                      We held a joint labor-management HSE management policy declaration ceremony (Oct. 12, 2023) and renewed our commitment to implementing HSE as a top priority. The HSE Management Policy was translated into eight languages including Nepalese, Vietnamese, and Thai, in consideration of the growing number of foreign workers. Employees can find the policy in their language immediately by scanning the QR code at the bottom of the HSE Management Policy. To raise awareness and understanding of the HSE Management Policy among all employees, we created about 3,000 frames and posters with the HSE Management Policy and held an event to submit group photos with the HSE Management Policy in the background, as well as photos proving their pledge to the policy. Through such initiatives, we ensured the quick spread of the policy among our employees</p>
                                    <div class="content-item in_sec_copy">
                                        <div class="img-wrap">
                                            <picture>
                                                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_01-pc.webp">
                                                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_01-mo.webp">
                                                <img src="/resources/images/hse/sh/sh_ov_01-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <div class="txt-wrap">
                                            <strong>HSE Management Policy Declaration Ceremony held on Oct. 12, 2023</strong>
                                        </div>
                                    </div>
                                    <div class="policy-item in_sec_copy">
                                        <div class="policy-box">
                                            <div class="img-wrap">
                                                <picture>
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_policy-01-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_policy-01-mo.webp">
                                                    <img src="/resources/images/hse/sh/sh_ov_policy-01-pc.webp" alt="Images">
                                                </picture>
                                            </div>
                                            <div class="img-wrap">
                                                <picture>
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_policy-02-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_policy-02-mo.webp">
                                                    <img src="/resources/images/hse/sh/sh_ov_policy-02-pc.webp" alt="Images">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="txt-wrap">
                                            <strong>Key opinions on the HSE Management Policy by position</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">Safety and Health <br>Management System</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> is committed to engaging in faithful communication with each stakeholder. We formed a safety control tower encompassing the team-level safety and health committee, company-wide HSE management meeting, and the Safety Management Advisory Committee composed of external experts to actively discuss and communicate on safety issues and make the best decision on them.</p>
                                    <div class="list-item in_sec_copy">
                                        <ul>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-01-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-01-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <div class="tit">Shipowners’ Joint Regular Safety Council H.O.M.E (monthly)</div>
                                                    <div class="ad m_desc">(<span class="m_hanwhaL">Hanwha Ocean</span> Management Engagement)</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-02-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-02-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-02-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>Company-wide HSE management meeting (monthly)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-03-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-03-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-03-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>Safety Management Advisory Committee (quarterly)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-04-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-04-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-04-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>Team-level Safety and Health Committee (monthly)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-05-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-05-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-05-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>Subcontractor Safety and Health Council (monthly)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-06-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-06-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-06-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>Labor-Management Occupational Safety and Health Committee (monthly)</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">Efforts to Improve HSE <br>Fundamentals</div>
                                <div class="desc in_sec_copy">
                                    <p class="intro"><span class="m_hanwhaL">Hanwha Ocean</span> is the first company in the Korean shipbuilding industry to adopt the International Safety Rating System organized by DNV, and we strive to improve the HSE fundamentals after facing the reality as it is. Based on a cool-headed assessment consisting of 500 questions in 15 categories by an external agency regarding our safety and health management level, we recognized the current status of health and safety and provided feedback to lead innovation in the safety and health level.
                                      <br><br>
                                      Also, we constantly monitor our HSE management system and execution capabilities as we identified and improved approx. 50 detailed tasks to innovate people, facilities, and systems.</p>
                                </div>
                            </div>
                        </div>
                        <div class="infogram-wrap in_sec_copy">
                            <div class="tit m_h6">50 tasks for HSE improvement identified from self-assessment</div>
                            <div class="in_mob_scr scr-wide scr-center">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_infogram-01_en.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_infogram-01_en.webp">
                                    <img src="/resources/images/hse/sh/sh_ov_infogram-01_en.webp" alt="Images">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="sr-only">
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>Strengthening monitoring</dt>
                                            <dd>
                                                <ul>
                                                    <li>Operating special inspection teams and internal safety audits</li>
                                                    <li>Managing safety ratings by organization and place after diagnosis</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>Facility improvement</dt>
                                            <dd>
                                                <ul>
                                                    <li>Promptly implementing HSE facility investments</li>
                                                    <li>Reorganizing shipyards through facility investment including prevention</li>
                                                    <li>Simplifying HSE-related investments and adjusting the work processing authority</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>SMART Safety</dt>
                                            <dd>
                                                <ul>
                                                    <li>Establishing smart safety infrastructure</li>
                                                    <li>Switching dangerous machines to smart devices (heavy equipment, cranes, etc.)</li>
                                                    <li>Smart control of vulnerable and dangerous places</li>
                                                    <li>Using smart personal devices</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>Safety leadership</dt>
                                            <dd>
                                                <ul>
                                                    <li>Implementing safety-first 
                                                      management, with C-suite 
                                                      setting an example</li>
                                                    <li>Field safety personnel running Safety Talks at every meeting</li>
                                                    <li>Operating the Labor-Management Safety Committee</li>
                                                    <li>Fostering safety experts</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>Compliance</dt>
                                            <dd>
                                                <ul>
                                                    <li>Implementing regulatory compliance activities</li>
                                                    <li>Strengthening rewards and penalties for organizational/individual safety </li>
                                                    <li>Leveling up the HSE 
                                                      knowledge of all employees</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>System improvement</dt>
                                            <dd>
                                                <ul>
                                                    <li>Reorganizing HSE standards and regulations, and work standards</li>
                                                    <li>Strengthening safety key performance indicators (KPIs) within the organization (50% or more)</li>
                                                    <li>Strengthening the process of verifying the implementation of work</li>
                                                    <li>Reinforcing the safety of foreign workers</li>
                                                    <li>Safety rating by safety diagnosis by organization</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>Establishing a safety culture</dt>
                                            <dd>raising safety awareness</dd>
                                            <dd>
                                                <ul>
                                                    <li>Safety leadership</li>
                                                    <li>Compliance</li>
                                                    <li>System
                                                      improvement</li>
                                                    <li>SMART
                                                      Safety</li>
                                                    <li>Facility
                                                      improvement</li>
                                                    <li>Strengthening
                                                      monitoring</li>
                                                </ul>
                                            </dd>
                                        </dl>

                                    </li>
                                    <li>
                                        <ul>
                                            <li>Strengthening HSE
                                              capabilities at all levels</li>
                                            <li>HSE management
                                              system reorganization
                                              /Level-UP</li>
                                            <li>Establishment of smart
                                              safety infrastructure</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>People</li>
                                            <li>Systems</li>
                                            <li>Facilities</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>