<%- include('./src/include/header-en.ejs', { title: 'Smart Safety' }) %>

<main id="SMART" class="sh smart">
  <div class="main-inner" data-path="sh-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Safety and Health</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Safety and Health</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_kv-mo.webp">
                <img class="core" src="/resources/images/hse/sh/sh_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area smart-area" id="shSmart">
                <div class="smart-con in_sec_box_area">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/sh/ov/#shOv" class="tab-item">Overview</a>
                            <a href="/en/hse/sh/osh/#shOsh" class="tab-item">Occupational Safety and Health</a>
                            <a href="/en/hse/sh/smart/#shSmart" class="active tab-item">Smart Safety</a>
                        </div>
                    </div>
                    <div class="content-box in_sec_box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3">Establishing a Smart <br class="pc">Safety System</div>
                                <div class="desc">
                                    <p class="intro">At <span class="m_hanwhaL">Hanwha Ocean</span>, we work on digitizing occupational safety and health issues to create a smart safety system. Based on our large-scale investment plan, we carry out a three-year task to build an integrated smart safety control system that visualizes diverse data comprehensively and displays them on a large screen in real-time.</p>
                                    <div class="card-wrap">
                                        <div class="card">
                                            <div class="tit m_h9">Directions</div>
                                            <div class="info">
                                                <ul class="common-circle-list">
                                                    <li>Establish an integrated safety management platform and connect with diverse heterogeneous systems (fire detection, vision sensor, weather information, etc.)</li>
                                                    <li>Establish a real-time accident prevention system for workers by improving the infrastructure (network, etc.) and using IoT sensors (location information, biometric data, emergency calls, etc.)</li>
                                                    <li>Establish an advanced safety management system for workers through heavy equipment safety management systems (cranes, aerial platform trucks, forklifts, etc.) and smart devices</li>
                                                    <li>Strengthen safety monitoring of workers by monitoring high-risk area access, facilities, and vehicles by using AI vision sensors and replacing old cameras</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box in_sec_box">
                        <div class="title m_h6">Our integrated HSE management platform</div>
                        <div class="table-wrap platform-01">
                            <div class="in_mob_scr scr-wide scr-center">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_platform_01-pc_en.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_platform_01-pc_en.webp">
                                    <img src="/resources/images/hse/sh/sh_platform_01-pc_en.webp" alt="Images">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="sr-only">
                                <div class="list-box data-box">
                                    <div class="tit">Data</div>
                                    <ul class="info">
                                        <li>Thermal <br>
                                          vision sensors</li>
                                        <li>IoT sensors <br>
                                          (gas, temperature <br>
                                          /humidity)</li>
                                        <li>Fire protection <br>
                                          systems</li>
                                        <li>Ship location</li>
                                        <li>Ship entrants <br>
                                          information</li>
                                        <li>Work status</li>
                                        <li>Disaster &
                                          accident reports</li>
                                        <li>Weather
                                          information
                                          (wind speed
                                          /direction)</li>
                                    </ul>
                                </div>
                                <div class="platform-box">
                                    <div class="title m_h8">Our integrated HSE management platform</div>
                                    <div class="form-info">
                                        <div class="info grid">
                                            <div class="tit m_h9">Our integrated HSE management platform</div>
                                            <ul>
                                                <li>Fire alarm system</li>
                                                <li>Worker HSE monitoring</li>
                                                <li>Confined area management</li>
                                                <li>LNG carrier cargo yard monitoring</li>
                                                <li>VPS (vent fans, gas concentration)</li>
                                                <li>Vision sensors (facility, security, safety, traffic, etc.)</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">Safe work status</div>
                                            <ul>
                                                <li>Ship worker status</li>
                                                <li>Work status</li>
                                                <li>Outside worker status</li>
                                                <li>Work suspension status</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">Accident & HSE issue reports</div>
                                            <ul>
                                                <li>2119 emergency call</li>
                                                <li>Mobile HSE status</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">Natural disasters & facilities</div>
                                            <ul>
                                                <li>Wind & typhoon status</li>
                                                <li>Safety facility status</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">Disaster statistics & risk analysis</div>
                                            <ul>
                                                <li>Disaster status monitoring</li>
                                                <li>Risk assessment</li>
                                            </ul>
                                        </div>
                                        <div class="info list">
                                            <ul>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>2D/3D
                                                      Map DB</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>DSM/DEM</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>Live & pre-recorded videos</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>3D ship 
                                                      model</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>Accident information</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-info">
                                        <div class="info list">
                                            <ul>
                                                <li>Integrated
                                                  VMS for
                                                  vision sensors</li>
                                                <li>ISES</li>
                                                <li>Integrated
                                                  fire alarm
                                                  system</li>
                                                <li>SAP</li>
                                                <li>Ship
                                                  access
                                                  control</li>
                                                <li>Ship
                                                  location
                                                  information</li>
                                                <li>Heavy
                                                  equipment
                                                  driving permit</li>
                                                <li>Speed
                                                  enforcement
                                                  system</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-box user-box">
                                    <div class="tit">User</div>
                                    <div class="info">
                                        <ul class="user-list">
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>Integrated control center</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>Drivers</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>Safety manager</span>
                                            </li>
                                        </ul>
                                        <ul class="hd-list">
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>W/S</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>Tablet PC</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>Mobile phone</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-wrap platform-02">
                            <div class="in_mob_scr scr-wide scr-center">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_platform_02-pc_en.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_platform_02-pc_en.webp">
                                    <img src="/resources/images/hse/sh/sh_platform_02-pc_en.webp" alt="Images">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="sr-only">
                                <div class="list-box sensor-box">
                                    <div class="tit">Network
                                      vision sensors</div>
                                    <div class="info">
                                        <div class="infogram-box">
                                            <div class="graph-img">
                                                <div class="icon-swipe"></div>
                                            </div>
                                            <div class="sr-only">
                                            <ul>
                                                <li>General vision
                                                  sensor</li>
                                                <li>Explosion proof
                                                  sensor</li>
                                                <li>Pan-tilt-zoom vision sensor</li>
                                                <li>License plate
                                                  recognition</li>
                                                <li>Thermal vision
                                                  sensor</li>
                                                <li>AI BOX</li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="infogram-box">
                                    <div class="graph-img">
                                        <div class="icon-swipe"></div>
                                    </div>
                                    <div class="sr-only">
                                        <ul>
                                            <li>Operating console</li>
                                            <li>Operating console</li>
                                            <li>Operating console</li>
                                            <li>IP wall control</li>
                                            <li>IP wall control</li>
                                            <li>LED signboard control</li>
                                        </ul>
                                    <ul>
                                        <li>Duplexing</li>
                                        <li>IP Wall Controller</li>
                                        <li>Integrated safety management server</li>
                                        <li>Network</li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="list-box system-box">
                                    <div class="tit">Owned systems</div>
                                    <ul class="info">
                                        <li>
                                            <span class="sys-ic"><span class="blind">icon image</span></span>
                                            <span>Fire detection</span>
                                        </li>
                                        <li>
                                            <span class="sys-ic"><span class="blind">icon image</span></span>
                                            <span>Temperature & humidity detection</span>
                                        </li>
                                        <li>
                                            <span class="sys-ic"><span class="blind">icon image</span></span>
                                            <span>Process management</span>
                                        </li>
                                        <li>
                                            <span class="sys-ic"><span class="blind">icon image</span></span>
                                            <span>4Gas management</span>
                                        </li>
                                        <li class="abb">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        </li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>