<%- include('./src/include/header-en.ejs', { title: 'Talent Management' }) %>

  <main id="HR" class="hrm hr">
    <div class="main-inner" data-path="hr">

      <div class="sub_top top_img">
        <div class="top_tit_area sticky">

          <div class="top_tit-inner static">
            <h2 class="sub_top_tit m_h2 in_sec_copy">Talent & Human Rights Management</h2>
          </div>

          <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2 in_sec_copy">Talent & Human Rights Management</h2>
          </div>

        </div>

        <div class="overflow-ct">
          <div class="top_kv_area">
            <div class="core-wrap">
              <picture class="core-wrap-inner">
                <source media="(min-width:769px)" srcset="/resources/images/sr/hrm/hr/hr_kv-pc.webp">
                <source media="(max-width:768px)" srcset="/resources/images/sr/hrm/hr/hr_kv-mo.webp">
                <img class="core" src="/resources/images/sr/hrm/hr/hr_kv-pc.webp" alt="Key Visual">
              </picture>
            </div>
          </div>
        </div>

      </div>

      <section class="sub_container">
        <div class="sec_inner">
          <div class="title-con common-grid" id="hrmHr">
        
            <div class="common-tab-looking-a-wrap">
              <div class="tab-looking-a line-tab">
                <a href="/en/sr/hrm/hr/#hrmHr" class="active tab-item">Talent Management</a>
                <a href="/en/sr/hrm/hm/#hrmHm" class="tab-item">Human Rights Management</a>
              </div>
            </div>
        
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Talent Development</h4>
        
              <div class="desc">
        
                <div class="item">
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> developed an education and training system to achieve the company’s management goals under <span class="m_hanwhaL">Hanwha</span>’s core values of “challenge, dedication, and integrity.” We also secured a talent development model by linking the employee competency system with the training system. We will establish a systematic education and training roadmap to foster talented employees in the short- and medium-term. We conducted an employee satisfaction survey to assess their level of satisfaction every time we provide training by position. As such, we work hard to improve our training programs by managing the performance indicators of the programs.</p>
                </div>
        
              </div>
        
            </div>
        
          </div>
        </div>


        <div class="common-fixed-wrap">
          <div class="core">
            <picture>
              <source media="(min-width:769px)" srcset="/resources/images/sr/hrm/hr/hr_content1-pc.webp">
              <source media="(max-width:768px)" srcset="/resources/images/sr/hrm/hr/hr_content1-mo.webp">
              <img src="/resources/images/sr/hrm/hr/hr_content1-pc.webp" alt="Images">
            </picture>
          </div>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
        
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Improvement of <br>Organizational Culture</h4>
        
              <div class="desc">
        
                <div class="item in_sec_copy">
                  <p><span class="m_hanwhaL">Hanwha Ocean</span> strives to promote mutual understanding and communication between management and employees and among employees through diverse communication channels and programs. We renewed our previous activities, such as the Junior Board  and mutual understanding workshops, to improve corporate culture, and created new programs such as Business & Culture Partner (B&CP) and town hall meetings.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Work-life balance</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> supports our employees to strike a balance between work and family life through pre- and post-natal leave, parental leave for spouse’s childbirth, reduced working hours for childcare, and parental leave to ensure maternity protection as well as a staggered commute system.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Staggered commute system</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> operates a staggered commute system to create a flexible work culture, improve the autonomy and sense of responsibility among employees, and enhance their work engagement and work-life balance. The staggered commute program allows employees to arrive at work at 7, 8, or 9 AM instead of their conventional working hours, helping them strike a work-life balance and take control of their working hours. With the system in place, our employees feel more satisfied at work and can increase a sense of responsibility for their work. By giving them the flexibility to work when they are most productive, it can also contribute to increasing their work efficiency. The staggered commute system, which is available to all employees, was actively used by approx. 47% of our employees as of 2023.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Organizational culture assessment survey</strong>
                  <p class="in_sec_copy">The <span class="m_hanwhaL">Hanwha Group</span> conducts an organizational culture assessment survey for employees each year to identify the strengths and areas of improvement regarding the organizational culture. The survey largely consists of 56 diagnostic questions covering organizational commitment and eight areas affecting organizational commitment (leadership, atmosphere, awareness & attitude, relationship & communication, HR system, strategy, structure, and process).</p>
                </div>
        
              </div>
        
            </div>
        
          </div>
        </div>

        <div class="common-fixed-wrap">
          <div class="core">
            <picture>
              <source media="(min-width:769px)" srcset="/resources/images/sr/hrm/hr/hr_content2-pc.webp">
              <source media="(max-width:768px)" srcset="/resources/images/sr/hrm/hr/hr_content2-mo.webp">
              <img src="/resources/images/sr/hrm/hr/hr_content2-pc.webp" alt="Images">
            </picture>
          </div>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
        
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Welfare benefits</h4>
        
              <div class="desc in_sec_copy">
                <div class="item">
                  <p><span class="m_hanwhaL">Hanwha Ocean</span> provides various support and welfare systems as well as related facilities for the welfare of our employees.</p>
                </div>
              </div>
        
            </div>
          </div>
        </div>

        <div class="common-table-wrap in_sec_box_area">
          <table class="common-table in_sec_box" data-table="1">
            <caption>Welfare benefits</caption>

            <thead>
              <tr>
                <th class="p-l-44 left">Indicator</th>
                <th class="center">Unit</th>
                <th class="right p-r-84">2020</th>
                <th class="right p-r-84">2021</th>
                <th class="right p-r-84">2022</th>
                <th class="right p-r-84">2023</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="left p-l-44">Financial assistance for children’s tuition fees</td>
                <td class="center">KRW 1,000</td>
                <td class="right p-r-84">10,824,543</td>
                <td class="right p-r-84">10,143,124</td>
                <td class="right p-r-84">9,436,989</td>
                <td class="right p-r-84">9,380,131</td>
              </tr>

              <tr>
                <td class="left p-l-44">Medical expense <br>coverage</td>
                <td class="center">KRW 1,000</td>
                <td class="right p-r-84">8,557,247</td>
                <td class="right p-r-84">8,543,110</td>
                <td class="right p-r-84">8,780,223</td>
                <td class="right p-r-84">8,862,791</td>
              </tr>

              <tr>
                <td class="left p-l-44">Congratulations <br class="mobile">and condolence allowance</td>
                <td class="center">KRW 1,000</td>
                <td class="right p-r-84">722,300</td>
                <td class="right p-r-84">618,900</td>
                <td class="right p-r-84">745,460</td>
                <td class="right p-r-84">664,800</td>
              </tr>
            </tbody>

          </table>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">

            <div class="title-wrap benefit-con">
              <div class="benefit-title">
                <div class="m_h6 in_sec_copy">Housing support</div>
                <div class="benefit-icon house in_sec_copy"></div>
              </div>

              <ul class="benefit-list">
                <li class="benefit-item">
                  <span class="m_h8 in_sec_copy">Housing loans</span>
                  <p class="in_sec_copy">Assistance in connecting with financial institutions for home purchases and rentals</p>
                </li>
                <li class="benefit-item">
                  <span class="m_h8 in_sec_copy">Dormitory & Private residence</span>
                  <p class="in_sec_copy">Supporting dorms and rental apartments to help employees with housing costs</p>
                </li>
              </ul>
            </div>

            <div class="title-wrap benefit-con">
              <div class="benefit-title">
                <div class="m_h6 in_sec_copy">Family support</div>
                <div class="benefit-icon family in_sec_copy"></div>
              </div>

              <ul class="benefit-list">
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Financial assistance for children’s tuition fees</span>
                  <p>Financial assistance for preschool, middle school, high school, and college education of employees’ children</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Medical expenses</span>
                  <p>Support for hospitalization and surgical expenses, and dental prosthetics cost for employees and their family</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Group insurance</span>
                  <p>Subscription of group insurance for all employees to help them pay for 
                    future expenses caused by illness or disability (death, cancer, disability, 
                    guaranteed issue, etc.)</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Congratulations and condolence allowance</span>
                  <p>Provision of congratulatory/bereavement leave for employees who lot their spouse, relatives, and other family members; provision of vacation allowances</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Medical checkup</span>
                  <p>Annual medical checkup (comprehensive biannual checkup)</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Childcare facilities</span>
                  <p>Childcare center (2 locations)</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Joint wedding ceremony</span>
                  <p>Financial support for weddings and honeymoon; full payment for a gold ring</p>
                </li>
              </ul>
            </div>

            <div class="title-wrap benefit-con">
              <div class="benefit-title">
                <div class="m_h6 in_sec_copy">Leisure assistance</div>
                <div class="benefit-icon leisure in_sec_copy"></div>
              </div>

              <ul class="benefit-list">
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Long-term service</span>
                  <p>Provision of a long-term service leave and vacation allowances to boost the morale of employees who served for a long time; 37.5 g gold and 75 g gold are awarded to those who have worked for more than 10 years and 20 years, respectively</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Self-development</span>
                  <p>Provision of allowance for self-development and lectures for competency development</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Accommodation and recreational facilities</span>
                  <p>Support for condominiums and recreational facilities</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Labor Day</span>
                  <p>Provision of gifts</p>
                </li>
              </ul>
            </div>

            <div class="title-wrap benefit-con">
              <div class="benefit-title">
                <div class="m_h6 in_sec_copy">Others</div>
                <div class="benefit-icon etc in_sec_copy"></div>
              </div>

              <ul class="benefit-list">
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Operation of commuter buses <br>(Okpo Shipyard, Siheung R&D Campus)</span>
                  <p>buses during Seollal and Chuseok holidays, and Seoul-bound buses (weekends)</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">In-house employee welfare fund</span>
                  <p>Provision of in-house employee welfare funds to reduce their grievances, support the rehabilitation of their disabled children, and encourage sports and cultural activities</p>
                </li>
                <li class="benefit-item in_sec_copy">
                  <span class="m_h8">Employee Stock Ownership Association</span>
                  <p>Operation of an employee stock ownership plan to help them build wealth, participate in management, and foster a sense of ownership</p>
                </li>
              </ul>
            </div>

          </div>
        </div>

      </section>

    </div>
  </main>

  <%- include('./src/include/footer-en.ejs') %>