<%- include('./src/include/header-en.ejs', { title: 'CEO Message' }) %>

<main id="CEO" class="ceo osa">
  <div class="main-inner" data-path="ceo">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">CEO Message</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">CEO Message</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/osa/ceo_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/osa/ceo_kv-mo.webp">
                <img class="core" src="/resources/images/osa/ceo_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="ceo-area osa-area">
                <div class="title-con common-grid">
                    <div class="title-wrap in_sec_box_area">
                      <div class="title m_h6 in_sec_box"> 
                        <span class="m_hanwhaR">Hanwha Ocean</span> will strive to enrich the lives of humankind through the ocean, the origin of the Earth and life. <br>
<span class="m_hanwhaR">Hanwha Ocean</span> is committed to a <br class="pc">sustainable future.
                      </div>
                      <div class="desc in_sec_box">
                        <div class="sub-tit m_h7">
                          Dear esteemed stakeholders, <br>
Thank you for your interest and trust in <span class="m_hanwhaR">Hanwha Ocean</span>.
                        </div>
                        <p>  
                          <span class="m_hanwhaL">Hanwha Ocean</span> has become a new member of the <span class="m_hanwhaL">Hanwha</span> family in May last year. Our new name, “Ocean,” conveys “sustainability” and “challenge.” Through frontier spirit and constant innovation, we focus on maximizing the essential competitiveness of the shipbuilding industry while navigating the ocean with over 95% of it completely unexplored. Going further, we aspire to become a global innovator shifting the paradigm of the future maritime industry to provide solutions to the global security and climate crises.
                          <br><br>
                          Under the ESG management vision of the “most trusted company enabling sustainable voyage,”<span class="m_hanwhaL">Hanwha Ocean</span> has achieved many accomplishments last year.
                          <br><br>
                          First, we established the Corporate Governance Charter last year. Our Corporate Governance Charter covers social responsibilities for our stakeholders including protecting shareholder rights, promoting employee welfare, and fostering partnerships with suppliers. Through the charter, we affirmed our commitment to securing trust from all stakeholders and carrying out management activities with sincerity.
                          <br><br>
                          In particular, we approved ESG HOST 2030 last December to establish ESG initiatives and specific indicators to grow into a sustainable company. The core indicators selected for ESG HOST 2030 are greenhouse gas (GHG) reduction, conversion to eco-friendly ships, accident prevention, supply chain ESG assessment, and compliance and ethical management assessment. We intend to identify tasks for each indicator and implement them systematically. For greenhouse gas reduction, we plan to achieve a 40% reduction by 2030 compared to 2018 levels, which is the highest level in the industry. We also plan to construct 100% eco-friendly ships powered by low-carbon and zero-carbon fuels, and to expand our range of eco-friendly marine products.
                          <br><br>
                          <span class="m_hanwhaL">Hanwha Ocean</span> will strive to enrich the lives of humankind through the ocean, the origin of the Earth and life.We ask for your continued support and encouragement in our voyage to a sustainable future.
                        </p>
                        <div class="sign-box">
                          <div class="name">
                            CEO of <span class="m_hanwhaR">Hanwha Ocean</span> Kwon Hyek-woong
                          </div>
                          <div class="sign">
                              <picture class="img-wrap">
                                  <source media="(min-width: 769px)" srcset="/resources/images/osa/ceo_sign-pc.webp">
                                  <source media="(max-width: 768px)" srcset="/resources/images/osa/ceo_sign-pc.webp">
                                  <img src="/resources/images/osa/ceo_sign-pc.webp" alt="Images">
                              </picture>
                          </div>

                      </div>
                      </div>

                      
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>