<%- include('./src/include/header.ejs', { title: '지속가능경영 거버넌스' }) %>

<main id="OSA-GOV" class="gov osa">
  <div class="main-inner" data-path="osa-gov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">지속가능경영 거버넌스</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">지속가능경영 거버넌스</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/osa/gov_kv-pc.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/osa/gov_kv-mo.webp">
              <img class="core" src="/resources/images/osa/gov_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="osa-area gov-area">
          <div class="gov-con">
            <div class="common-grid inner">
              <div class="title-wrap">
                <p class="desc in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 기후변화로 인한 경영 환경 변화에 선제적으로 대응하기 위해 거버넌스 체계를 강화하고 있습니다. 환경정책 및 성과에 대한 최종 의사결정은 이사회 산하 ESG위원회에서 담당하고 있습니다. 기후변화, 에너지, 생물다양성, 물관리 등 다양한 환경 이슈를 안건으로 검토하며, ESG위원회는 연 4회 정기적으로 운영되어 다양한 환경 및 기후변화 관련 안건을 심의하고 의결합니다. 기후변화 대응 전략 수립과 이행 과제 발굴, 투자 집행 등의 주요 사안에 대한 책임과 권한은 CEO에게 있습니다.</p>
              </div>
            </div>
            <div class="infogram-wrap in_sec_box_area">
              <div class="infogram in_sec_box scr-center">
                <div class="graph-img">
                  <picture>
                    <source media="(min-width: 769px)" srcset="/resources/images/osa/gov_info_diagram-pc.webp">
                    <source media="(max-width: 768px)" srcset="/resources/images/osa/gov_info_diagram-pc.webp">
                    <img src="/resources/images/osa/gov_info_diagram-pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="sr-only">
                  <ul>
                    <li>
                      <dl>
                        <dt>ESG위원회</dt>
                        <dd> (ESG경영 관련 심의 및 의결)</dd>
                      </dl>
                    </li>
                    <li>
                    <ul>
                      <li>전략 수립 심의/검토</li>
                      <li>보고</li>
                      <li>지원</li>
                      <li>
                        <dl>
                          <dt>ESG사무국</dt>
                          <dd>(기획조정)</dd>
                          <dd>ESG 전략 및 기획, 추진과제 관리, 정보 공개, 이해관계자 대응 지원</dd>
                        </dl>
                      </li>
                    </ul>
                    </li>
                    <li>
                      <dl>
                        <dt>ESG추진협의회</dt>
                        <dd> (전사 ESG 실행 총괄)</dd>
                      </dl>
                    </li>
                    <li>
                      <ul>
                        <li>
                          <dl>
                            <dt>환경</dt>
                            <dd>
                              <ul>
                                  <li>환경정책</li>
                                  <li>공무운영</li>
                                  <li>설비건설</li>
                                  <li>인사기획</li>
                                  <li>연구기획</li>
                                  <li>구매기획</li>
                                  <li>상선사업기획</li>
                                  <li>해양사업기획</li>
                                  <li>특수선사업기획</li>
                                  <li>기획조정</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>안전·보건</dt>
                            <dd>
                              <ul>
                                    <li>안전보건기획</li>
                                    <li>HSE지원</li>
                                    <li>상선HSE</li>
                                    <li>해양HSE</li>
                                    <li>특수선HSE</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>인재·인권</dt>
                            <dd>
                              <ul>
                                  <li>인사기획</li>
                                  <li>인재개발</li>
                                  <li>인사운영</li>
                                  <li>기업문화혁신</li>
                                  <li>노사정책</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>동반성장</dt>
                            <dd>
                              <ul>
                                    <li>상생협력기획</li>
                                    <li>구매기획</li>
                                    <li>상생협력계약</li>
                                    <li>상생협력지원</li>
                                    <li>환경정책</li>
                                    <li>컴플라이언스</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>지역사회</dt>
                            <dd>
                              <ul>
                                    <li>지원</li>
                                    <li>대외홍보</li>
                                    <li>환경정책</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>고객·품질</dt>
                            <dd>
                              <ul>
                                    <li>품질기획</li>
                                    <li>상선사업기획</li>
                                    <li>해양사업기획</li>
                                    <li>특수선사업기획</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>정보보호</dt>
                            <dd>
                              <ul>
                                    <li>CISO</li>
                                    <li>지원</li>
                                    <li>서울지원</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>지배구조</dt>
                            <dd>
                              <ul>
                                    <li>기획조정</li>
                                    <li>금융</li>
                                    <li>연결회계</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                        <li>
                          <dl>
                            <dt>준법·윤리</dt>
                            <dd>
                              <ul>
                                    <li>컴플라이언스</li>
                                    <li>경영진단 1</li>
                                    <li>경영진단 2</li>
                              </ul>
                            </dd>
                          </dl>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>

          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>