<%- include('./src/include/header.ejs', { title: '안전보건' }) %>

<main id="OV" class="sh ov">
  <div class="main-inner" data-path="sh-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">안전보건</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">안전보건</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_kv-mo.webp">
                <img class="core" src="/resources/images/hse/sh/sh_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area sh-ov-area" id="shOv">
                <div class="ov-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/hse/sh/ov/#shOv" class="active tab-item">Overview</a>
                            <a href="/hse/sh/osh/#shOsh" class="tab-item">산업안전보건</a>
                            <a href="/hse/sh/smart/#shSmart" class="tab-item">스마트 안전</a>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">안전보건 최우선 경영</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 <span class="m_hanwhaL">한화그룹</span>의 일원으로서 새로운 출발과 함께 외부 전문가로 구성된 안전경영자문위윈회와 전 구성원(경영진, 임원, 팀장, 관리자, 현장근로자, 협력사 포함)의 의견을 반영하여 안전보건환경 기본 경영철학 및 의사결정의 일반적 지침을 포함한 HSE경영방침을 새롭게 수립하였습니다. 이를 통하여 안전보건경영의 목표를 명확히 하고 안전보건환경 확보를 위한 지속적인 개선 및 실행의지를 반영하여 사업장 내 모든 종사자에게 안전하고 건강한 환경을 제공하겠다는 경영책임자의 확고한 의지를 전달하였습니다.<br>회사는 노·사·협 합동으로 HSE경영방침 선포식(‘23.10.12)을 개최하여 HSE 최우선 가치 실천을 위한 의지를 다졌습니다. 증가하고 있는 외국인 근로자들을 위해 HSE경영방침은 네팔, 베트남, 태국 등 8개국 언어로 번역되었으며, 경영방침 하단부 QR코드를 통해 자국어로 번역된 HSE경영방침을 즉시 확인 할 수 있도록 했습니다. 전체 직원의 HSE경영방침에 대한 인식과 이해를 높이기 위해 현장에 새로운 HSE경영방침 액자/포스터 3,000여 점을 제작하여 부착하고 이를 배경으로 단체사진과 HSE경영방침 서약 인증사진을 제출하도록 하는 이벤트를 개최하여 HSE경영방침이 빠르게 자리 잡을 수 있도록 노력하였습니다.</p>
                                    <div class="content-item in_sec_copy">
                                        <div class="img-wrap">
                                            <picture>
                                                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_01-pc.webp">
                                                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_01-mo.webp">
                                                <img src="/resources/images/hse/sh/sh_ov_01-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <div class="txt-wrap">
                                            <strong>HSE경영방침 선포식 개최 '23.10.12</strong>
                                        </div>
                                    </div>
                                    <div class="policy-item in_sec_copy">
                                        <div class="policy-box">
                                            <div class="img-wrap">
                                                <picture>
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_policy-01-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_policy-01-mo.webp">
                                                    <img src="/resources/images/hse/sh/sh_ov_policy-01-pc.webp" alt="Images">
                                                </picture>
                                            </div>
                                            <div class="img-wrap">
                                                <picture>
                                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_policy-02-pc.webp">
                                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_policy-02-mo.webp">
                                                    <img src="/resources/images/hse/sh/sh_ov_policy-02-pc.webp" alt="Images">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="txt-wrap">
                                            <strong>HSE경영방침 수립에 관한 전 계층 의견 청취</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">안전보건 관리체계</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 이해관계자별 의사소통을 충실히 이행하고, 팀단위 안전보건위원회에서 전사 HSE 경영회의, 외부전문가로 이루어진 안전경영자문위원회로 이어지는 안전 컨트롤타워를 구성하여 안전 현안에 대한 활발한 토의와 전파, 최선의 의사결정을 도모하고 있습니다.</p>
                                    <div class="list-item in_sec_copy">
                                        <ul>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-01-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-01-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <div class="tit">선주합동 정기안전협의체 H.O.M.E (월 1회)</div>
                                                    <div class="ad m_desc">(<span class="m_hanwhaL">Hanwha Ocean</span> Management Engagement)</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-02-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-02-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-02-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>전사 HSE 경영회의 (월 1회)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-03-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-03-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-03-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>안전경영자문위원회 (분기 1회)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-04-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-04-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-04-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>팀 안전보건위원회 (월 1회)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-05-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-05-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-05-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>원하청 안전보건협의체 (월 1회)</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_list-06-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_list-06-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_ov_list-06-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong>노사 산업안전보건위원회 (월 1회)</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">안전보건 체질 개선</div>
                                <div class="desc in_sec_copy">
                                    <p class="intro"><span class="m_hanwhaL">한화오션</span>은 조선업 최초로 DNV에서 주관하는 국제안전등급심사제도(ISRS)를 도입을 추진하여 냉철한 현실직시를 통한 HSE체질 개선을 위해 노력하고 있습니다. 회사의 안전보건 관리 수준에 대해 15개 부문 500여 개의 평가문항을 통해 외부 전문기관의 냉정한 평가에 따라 안전보건 현상을 인지하고 피드백하여 안전보건 수준의 혁신을 이끌어가고 있습니다.<br><br> 또한 사람, 설비, 시스템의 혁신을 위해 50여 개 세부과제를 자체적으로 도출하고 개선함에 따라 HSE관리체계와 실행력 향상을 위해 지속 모니터링 중입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="infogram-wrap in_sec_copy">
                            <div class="tit m_h6">안전보건환경 개선을 위한 <br class="mobile">50여개 과제 자체 도출</div>
                            <div class="in_mob_scr scr-wide scr-center">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_ov_infogram-01.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_ov_infogram-01_mo.webp">
                                    <img src="/resources/images/hse/sh/sh_ov_infogram-01.webp" alt="Images">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="sr-only">
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>모니터링 강화</dt>
                                            <dd>
                                                <ul>
                                                    <li>특별 점검반 운영/내부 Safety Audit</li>
                                                    <li>진단 실시 후 조직/장소별 안전등급 관리</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>설비 개선</dt>
                                            <dd>
                                                <ul>
                                                    <li>HSE시설 투자 조속 실행</li>
                                                    <li>사전예방 등 설비투자를 통한 야드 재정비</li>
                                                    <li>HSE관련 투자 간소화, 업무처리권한 조정</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>SMART Safety</dt>
                                            <dd>
                                                <ul>
                                                    <li>스마트 안전 인프라 구축</li>
                                                    <li>위험기계기구 스마트화 (중장비, 크레인 등)</li>
                                                    <li>안전취약/위험장소 스마트 관제</li>
                                                    <li>개인형 스마트 장비 활용</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>안전 리더십</dt>
                                            <dd>
                                                <ul>
                                                    <li>안전 최우선 경영 실행, 경영진 솔선수범</li>
                                                    <li>현장 안전 인사, 모든 회의 시 Safety Talk 시행</li>
                                                    <li>노사 Safety Committee 운영</li>
                                                    <li>안전전문가 육성</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>규정 준수</dt>
                                            <dd>
                                                <ul>
                                                    <li>규정준수 활동 시행</li>
                                                    <li>조직/개인 안전 상벌 강화</li>
                                                    <li>전직원 HSE 지식 레벨업</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>체개 개선</dt>
                                            <dd>
                                                <ul>
                                                    <li>HSE기준/규정, 작업표준 재정비</li>
                                                    <li>조직 내 안전 KPI 강화(50% 이상)</li>
                                                    <li>작업 시 이행확인 프로세스 강화</li>
                                                    <li>외국인근로자 안전 강화</li>
                                                    <li>조직별 안전진단에 의한 안전 Rating</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>안전문화확립</dt>
                                            <dd>안전의식제고</dd>
                                            <dd>
                                                <ul>
                                                    <li>안전 리더십</li>
                                                    <li>규정 준수</li>
                                                    <li>체개 개선</li>
                                                    <li>SMART Safety</li>
                                                    <li>설비 개선</li>
                                                    <li>모니터링 강화</li>
                                                </ul>
                                            </dd>
                                        </dl>

                                    </li>
                                    <li>
                                        <ul>
                                            <li>전 계층 HSE역량 강화</li>
                                            <li>HSE관리 시스템의 재정비/Level-Up</li>
                                            <li>Smart Safety Infra 구축</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>사람</li>
                                            <li>시스템</li>
                                            <li>설비</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>