<%- include('./src/include/header.ejs', { title: '지속가능경영 전략체계' }) %>

<main id="SUS" class="sus osa">
  <div class="main-inner" data-path="sus">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">지속가능경영 전략체계</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">지속가능경영 전략체계</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/osa/sus_kv-pc.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/osa/sus_kv-mo.webp">
              <img class="core" src="/resources/images/osa/sus_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="osa-area sus-area">
          <div class="sus-con">
            <div class="common-grid inner">
              <div class="title-wrap">
                <div class="title m_h3 in_sec_copy">The most trusted <br>company enabling <br>sustainable voyage</div>
                <p class="desc in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 ‘지속가능한 항해를 가능케 하는 가장 믿을 수 있는 기업’이라는 비전을 수립했으며, 비전 달성을 위해 아래와 같이 3대 전략 방향과 7대 전략 과제를 설정했습니다. 또한 ESG 비전 체계 에 ‘GO PLUS+’라는 ESG 프레임워크를 도입했습니다. 이 프레임워크는 <span class="m_hanwhaL">한화오션</span>이 추구하는 핵심 요소들을 담았으며, 주요 전략과제로 기후변화 대응, 동반성장과 상생, 투명하고 공정한 지배구조 확립을 선정하였습니다.</p>
              </div>
            </div>
            <div class="infogram-wrap in_sec_box_area">
              <div class="infogram in_sec_box scr-center">
                <div class="graph-img">
                  <picture>
                    <source media="(min-width: 769px)" srcset="/resources/images/osa/sus_info_diagram-pc.webp">
                    <source media="(max-width: 768px)" srcset="/resources/images/osa/sus_info_diagram-pc.webp">
                    <img src="/resources/images/osa/sus_info_diagram-pc.webp" alt="Images">
                  </picture>
                </div>
                <div class="sr-only">
                  <ul>
                    <li>
                      <dl>
                        <dt>ESG 비전</dt>
                        <dd>The most trusted company enabling sustainable voyage</dd>
                        <dd>지속가능한 항해를 가능케 하는 가장 믿을 수 있는 기업</dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt>ESG 슬로건</dt>
                        <dd>Go Great Ocean,Go Green Builder</dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt>ESG 프레임 워크</dt>
                        <dd>
                          <ul>
                            <li>
                              <dl>
                                <dt>People</dt>
                                <dd>모든 것의 중심에 사람을 두고 소통하며 존중합니다.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Leadership</dt>
                                <dd>새로운 미래를 여는 신기술을 개발하고 연구하며 혁신을 주도합니다.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Upgrade</dt>
                                <dd>끊임없이 점검하고 향상시키며 초격차 품질을 확보합니다.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Safety</dt>
                                <dd>철저한 점검,빠른 실행으로 최우선의 가치,안전을 지킵니다.</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>Plus</dt>
                                <dd>지속가능한 바다와 인류를 위해 끊임없이 노력합니다.</dd>
                              </dl>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </li>
                    <li>
                      <dl>
                        <dt>전략방향 & ESG 전략 과제</dt>
                        <dd>
                          <ul>
                            <li>
                              <dl>
                                <dt>친환경/ 디지털 기술 고도화를 통한 기후변화 대응</dt>
                                <dd>환경경영 고도화 친환경 조선해양 기술 선도</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>소통과 신뢰를 통한 동반성장과 상생</dt>
                                <dd>협력사 및 지역사회 상생, 안전하고 행복한 일터 구현,인권경영 강화</dd>
                              </dl>
                            </li>
                            <li>
                              <dl>
                                <dt>투명하고 공정한 지배구조 확립</dt>
                                <dd>ESG 경영관리 고도화 컴플라이언스 체계 강화</dd>
                              </dl>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>