<%- include('./src/include/header-en.ejs', { title: 'Eco-friendly Products and Technologies' }) %>

<main id="ECO" class="eco">
  <div class="main-inner" data-path="eco">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Eco-friendly Products <br>and Technologies</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Eco-friendly Products <br>and Technologies</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_kv-pc.webp">
                <img class="core" src="/resources/images/hse/eco/eco_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="hse-area eco-area">
            <div class="eco-con">
                <div class="content-box">
                    <div class="common-grid">
                        <div class="title-wrap">
                            <div class="title m_h3 in_sec_copy">Constant Innovation for <br>a Sustainable Future</div>
                            <div class="desc">
                                <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> develops competitive green technologies by taking one step ahead in responding to the strict regulation of the International Maritime Organization (IMO) to achieve zero carbon emissions in the shipbuilding and marine sector by 2050. In June 2023, we achieved a meaningful accomplishment by obtaining an AIP for OCCS from the ABS at Nor-Shipping, a world-leading trade fair for the maritime industry. We will continue to be at the forefront of developing technologies that will lead the eco-friendly ship market.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                  <div class="common-grid">
                      <div class="title-wrap">
                          <div class="title m_h3 in_sec_copy">Eco-friendly Solutions <br class="pc">for Reducing Our <br class="pc">Carbon Footprint</div>
                          <div class="desc mgt_60">
                            <div class="list-item in_sec_box_area">
                              <ul class="in_sec_box">
                                <li>
                                  <div class="title m_h6">Onboard Carbon Capture System (OCCS¹⁾)</div>
                                  <div class="infogram-wrap">
                                    <picture>
                                      <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/en_eco_list_01-pc.webp">
                                      <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/en_eco_list_01-mo.webp">
                                      <img src="/resources/images/hse/eco/en_eco_list_01-pc.webp" alt="Images">
                                    </picture>
                                    <div class="infogram sr-only">
                                      <div class="tit m_desc sr-only">Process of the CO2 Capture Technology Using Amine</div>
                                      <div class="sub-tit m_caption sr-only">Capturing carbon with amine that binds to carbon</div>
                                      <div class="graph-img sr-only"></div>
                                    </div>
                                  </div>
                                  <p>Our OCCS involves capturing and storing carbon emissions from the ship’s exhaust gas. We developed a NaOH-based OCCS (KR AIP) that converts the CO2 absorbed into a type of mineral and stores it, while regenerating and reusing the absorbed liquid during the CO2 absorption process. 
                                    <br><br>
                                    Also, we obtained type approval for amine-based OCCS (BV AIP) that captures CO2 by using amine in December 2023. 
                                    <br><br>
                                    Our OCCS has been proven to be more cost-effective as it makes better use of space and consumes less energy.
                                  </p>
                                  <ul class="refer">
                                    <li class="m_desc">1) Onboard CO2 Capture System</li>
                                  </ul>
                                </li>
                                <li>
                                  <div class="title m_h6">Air Lubrication System(ALS)</div>
                                  <div class="img-wrap">
                                    <picture>
                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_list_02-pc.webp">
                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_list_02-mo.webp">
                                        <img class="core" src="/resources/images/hse/eco/eco_list_02-pc.webp" alt="Images">
                                    </picture>
                                  </div>
                                  <p>ALS is an energy-saving device that forms a layer of air between the hull and seawater, reducing frictional resistance during navigation and improving fuel efficiency. This system reduces fuel consumption by more than 5% compared to existing LNG carriers, and more than 60 LNG carriers and container ships have applied the system since the first delivery of ALS-equipped vessel in 2019.</p>
                                </li>
                                <li>
                                  <div class="title m_h6">Wind Assisted Propulsion System</div>
                                  <div class="img-wrap">
                                    <picture>
                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_list_03-pc.webp">
                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_list_03-mo.webp">
                                        <img class="core" src="/resources/images/hse/eco/eco_list_03-pc.webp" alt="Images">
                                    </picture>
                                  </div>
                                  <p>We seek to develop various wind-assisted propulsion systems, including the rotor sail system developed for the first time in Korea, in order to improve fuel efficiency of vessels. Wind-assisted propulsion systems can reduce fuel consumption by 6 to 9%, while cutting carbon emissions.</p>
                                </li>
                                <li>
                                  <div class="title m_h6">Shaft Generator Motor</div>
                                  <div class="img-wrap">
                                    <picture>
                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_list_04-pc.webp">
                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_list_04-mo.webp">
                                        <img class="core" src="/resources/images/hse/eco/eco_list_04-pc.webp" alt="Images">
                                    </picture>
                                  </div>
                                  <p>The shaft generator motor system (SGM) is an eco-friendly technology that generates electricity using the rotational force of a ship's propulsion engine shaft. <span class="m_hanwhaL">Hanwha Ocean</span> has successfully achieved the industry's first domestic production of this technology. This motor saves fuel and emits less CO2 and sulfur oxide, as well meets regulations for GHG emissions.</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="bg-con">
              <div class="common-fixed-wrap">
                  <div class="core">
                      <picture>
                          <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_bg_thum-pc.webp">
                          <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_bg_thum-mo.webp">
                          <img class="" src="/resources/images/hse/eco/eco_bg_thum-pc.webp" alt="Images">
                      </picture>
                  </div>
              </div>
            </div>
            <div class="eco-con">
              <div class="content-box">
                <div class="common-grid">
                    <div class="title-wrap">
                        <div class="title m_h3 in_sec_copy">
                          Our Technological Prowess Enhancing the Competitiveness of the Korean Shipbuilding Industry
                        </div>
                        <div class="desc mgt_60">
                          <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> invests boldly in R&D to maintain the world's best technology. We developed high-manganese steel LNG storage tanks and have been recognized for taking a giant step toward the technological independence of LNG cargo holds, a long-awaited goal of the Korean shipbuilding industry. Our LNG dual-fuel container ship with high manganese steel fuel tank won the Presidential Citation at the 2023 Korea Technology Awards.</p>
                          <div class="list-item in_sec_box_area">
                            <ul class="in_sec_box">
                              <li>
                                <div class="title m_h6">High-Manganese Steel LNG Fuel Tank</div>
                                <div class="img-wrap">
                                  <picture>
                                      <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_list_05-pc.webp">
                                      <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_list_05-mo.webp">
                                      <img class="core" src="/resources/images/hse/eco/eco_list_05-pc.webp" alt="Images">
                                  </picture>
                                </div>
                                <p>We developed a high-manganese steel cargo tank independent type B (MCTIB) with outstanding performance, strength, and wear resistance even at -163°C as a result of a decade of joint R&D with POSCO. MCTIB is a core equipment of green-fueled ships and is currently applied to more than 20 container ships.</p>
                              </li>
                              <li>
                                <div class="title m_h6">Reliquefaction System</div>
                                <div class="img-wrap">
                                  <picture>
                                      <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_list_06-pc.webp">
                                      <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_list_06-mo.webp">
                                      <img class="core" src="/resources/images/hse/eco/eco_list_06-pc.webp" alt="Images">
                                  </picture>
                                </div>
                                <p>Developed by our proprietary technology, our reliquefaction system applies an eco-friendly technology that boosts the operating efficiency of LNG carriers and prevents methane slip as well. Methane is a potent GHG with a global warming potential 25 times that of CO2. Furthermore, we received a BV certification for our reliquefaction system for liquefied CO2 (LCO2) carriers in December 2023. As such, we are taking the lead in developing technologies to cut GHG emissions. </p>
                              </li>
                              <li>
                                <div class="title m_h6">Our Unrivaled Carbon-Free Propulsion System</div>
                                <div class="img-wrap">
                                  <picture>
                                      <source media="(min-width: 769px)" srcset="/resources/images/hse/eco/eco_list_07-pc.webp">
                                      <source media="(max-width: 768px)" srcset="/resources/images/hse/eco/eco_list_07-mo.webp">
                                      <img class="core" src="/resources/images/hse/eco/eco_list_07-pc.webp" alt="Images">
                                  </picture>
                                </div>
                                <p>We are in the process of developing a 100% ammonia-capable gas turbine. To make this happen, we intend to secure a propulsion system with zero carbon emissions and zero methane slip in order to respond to the energy transition. Our initiative also includes developing a hybrid electric propulsion system embedded with fuel cells and ESS for power charge and discharge. At our newly built demonstration facility at the Siheung R&D Campus, we conduct simulations of onboard power systems of a marine vessel to test various functions of the hybrid electric propulsion system.</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="content-box">
                <div class="common-grid">
                    <div class="title-wrap">
                        <div class="title m_h3 in_sec_copy"><span class="m_hanwhaR">Hanwha Ocean</span>’s <br class="mobile">Mid-to-Long-Term <br class="mobile">Roadmap for Green Technology Development</div>
                    </div>
                </div>
                <div class="table-wrap in_sec_box_area">
                  <div class="common-table-wrap in_sec_box in_mob_scr scr-wide">
                    <table class="common-table">
                      <caption><span class="m_hanwhaL">Hanwha Ocean</span>’s 
                        Mid-to-Long-Term Roadmap for Green Technology Development</caption>
          
                      <thead>
                        <tr>
                          <th>Tech List /<br>Key  Goals & Directions</th>
                          <th class="m_h8">Eco-friendly Solutions</th>
                          <th class="m_h8">Smart Solutions</th>
                          <th class="m_h8">Smart Shipyard</th>
                        </tr>
                      </thead>
          
                      <tbody>
                        <tr>
                          <th>Short / <br>Medium Term</th>
                          <td>
                            <div class="tit m_h9">Commercialization of carbon-free solutions and electric propulsion systems</div>
                            <ul class="common-circle-list">
                              <li>Commercialization of ammonia and hydrogen propulsion and storage technology</li>
                              <li>Development of future energy carrier technology (ammonia and hydrogen carriers, CO2 carriers)</li>
                              <li>Development and commercialization of hybrid electric propulsion systems (fuel cells, batteries)</li>
                            </ul>
                          </td>
                          <td>
                            <div class="tit m_h9">Autonomous ships based on situational awareness and autonomous judgment</div>
                            <ul class="common-circle-list">
                              <li>Autonomous docking and berthing, unmanned loading and unloading</li>
                              <li>Optimal navigation solution for fleet management and port linkage</li>
                              <li>Condition-based fault diagnosis solution for major equipment</li>
                              <li>Equipment and cargo handling automation</li>
                            </ul>
                          </td>
                          <td>
                            <div class="tit m_h9">Shipyards with risk prediction and quick response capabilities</div>
                            <ul class="common-circle-list">
                              <li>Application of mechanization and automation technologies</li>
                              <li>Risk prediction through visualized data</li>
                              <li>Simulation-based decision-making and prompt response</li>
                              <li>Production efficiency improvement through layout reorganization</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th>Long Term</th>
                          <td>
                            <div class="tit m_h9">Expansion and advancement of carbon-free propulsion technology</div>
                            <ul class="common-circle-list">
                              <li>Advancement and expanded application of ammonia and hydrogen propulsion technology</li>
                              <li>Advancement and expanded application of hybrid electric propulsion systems (ship types, energy sources)</li>
                              <li>Securing orders of large future energy carriers and development of ultra-large ship construction technology</li>
                            </ul>
                          </td>
                          <td>
                            <div class="tit m_h9">AI-powered fully autonomous <br class="pc">ships (unmanned ships)</div>
                            <ul class="common-circle-list">
                              <li>Complete automation of ship and equipment operations</li>
                              <li>Onboarding and operation of autonomous ship maintenance robots</li>
                              <li>Applying condition-based fault diagnosis solution for all equipment </li>
                            </ul>
                          </td>
                          <td>
                            <div class="tit m_h9">Sustainable shipyards that work independently with digital twins</div>
                            <ul class="common-circle-list">
                              <li>Real-time shipyard monitoring with IoT and digital twins</li>
                              <li>Maximizing efficiency and interaction between organizations through proactive decision-making based on AI</li>
                              <li>Deployment of lightweight and intelligent robots centering on high-risk tasks and promotion of unmanned operations</li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
          
                    </table>
                    <div class="icon-swipe"></div>
                  </div>
                </div>
          </div>
             </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>