<%- include('./src/include/header.ejs', { title: '친환경 인증 현황' }) %>

<!-- dummy -->
<main id="CERT" class="cert env">
  <div class="main-inner" data-path="pl">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">환경경영</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">환경경영</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_kv-mo.webp">
                <img class="core" src="/resources/images/hse/env/env_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="hse-area cert-area" id="envCert">
              <div class="cert-con">
                  <div class="common-tab-looking-a-wrap">
                      <div class="tab-looking-a line-tab">
                          <a href="/hse/env/pl/#envPl" class="tab-item">환경방침</a>
                          <a href="/hse/env/st/#envSt" class="tab-item">법/규제 및 대응전략</a>
                          <a href="/hse/env/cert/#envCert" class="active tab-item">친환경 인증 현황</a>
                          <a href="/hse/env/cnt/#envCnt" class="tab-item">오염물질 관리</a>
                          <a href="/hse/env/bio/#envBio" class="tab-item">생물다양성 보호</a>
                      </div>
                  </div>
                  <div class="content-box in_sec_box_area">
                      <div class="common-grid">
                          <div class="title-wrap">
                              <div class="title m_h3 in_sec_copy">제 3자 친환경 인증</div>
                              <div class="desc">
                                  <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 국제 기준에 부합하는 환경 지표를 체계적으로 관리하고, 환경경영 부문 국제 표준인 ISO 14001(환경경영시스템) 및 ISO 50001(에너지경영시스템) 인증을 획득 및 갱신하였습니다. 이러한 과정을 통해 <span class="m_hanwhaL">한화오션</span>은 기업 경영 전반에 걸쳐 환경경영을 추진하고 이를 내재화하기 위해 노력하고 있습니다.</p>
                                  <div class="cert-item">
                                    <div class="tit in_sec_copy">ISO 14001(환경경영시스템) 인증서</div>
                                    <ul class="cert-list in_sec_box_area">
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_01-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_01-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_01-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_02-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_02-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_02-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_03-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_03-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_03-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_14001_04-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_14001_04-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_14001_04-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                    </ul>

                                  </div>
                                  <div class="cert-item">
                                    <div class="tit in_sec_copy">ISO 50001(에너지경영시스템) 인증서</div>
                                    <ul class="cert-list in_sec_box_area">
                                      <li class="in_sec_box">
                                        <div class="img-wrap">
                                          <picture>
                                              <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_cert_50001_01-pc.webp">
                                              <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_cert_50001_01-mo.webp">
                                              <img src="/resources/images/hse/env/env_cert_50001_01-pc.webp" alt="Images">
                                          </picture>
                                        </div>
                                      </li>
                                    </ul>

                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>