<%- include('./src/include/header-en.ejs', { title: 'HSE Management' }) %>

<main id="OV" class="hsemge ov">
  <div class="main-inner" data-path="hsemge-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">HSE Management</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">HSE Management</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_kv-mo.webp">
                <img class="core" src="/resources/images/hse/hsemge/hsemge_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="hse-area hsemge-ov-area" id="hsemgeOverview">
            <div class="overview-con" >
                <div class="sec_inner">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/hsemge/ov/#hsemgeOverview" class="active tab-item">Overview</a>
                            <a href="/en/hse/hsemge/sys/#hsemgeSystem" class="tab-item">Promotion System</a>
                        </div>
                    </div>
                    <div class="common-grid">
                        <div class="title-wrap in_sec_box_area">
                            <div class="title m_h3 in_sec_box">HSE Management Policy</div>
                            <div class="desc in_sec_box">
                                <p class="intro"><span class="m_hanwhaL">Hanwha Ocean</span> considers “Health, Safety and Environment (HSE)” as the top priority in management and will make sure to implement the following to protect the safety, health, and happiness of all our members.</p>
                                <ol>
                                    <li class="item">
                                        <span class="m_caption">01</span>
                                        <strong class="m_h6">HSE Core Value Culture</strong>
                                        <p>We create HSE driven culture where all members can work in a safe and 
                                          healthy environment.</p>
                                    </li>
                                    <li class="item">
                                        <span class="m_caption">02</span>
                                        <strong class="m_h6">Compliance with Laws and Regulations</strong>
                                        <p>We are dedicated to establishing and implementing a system to comply with HSE related laws and regulations.</p>
                                    </li>
                                    <li class="item">
                                        <span class="m_caption">03</span>
                                        <strong class="m_h6">Continuous Elimination of Hazards</strong>
                                        <p>All members are responsible for continuously identifying and eliminating HSE hazards, 
                                          and the management extends its full support by providing necessary resources.</p>
                                    </li>
                                    <li class="item">
                                        <span class="m_caption">04</span>
                                        <strong class="m_h6">Rights and Obligations</strong>
                                        <p>All members have the right to a safe work environment and receive appropriate 
                                          medical care and the obligation to comply with the safety rules established 
                                          by <span class="m_hanwhaL">Hanwha Ocean</span>.</p>
                                    </li>
                                    <li class="item">
                                        <span class="m_caption">05</span>
                                        <strong class="m_h6">Communication and Collaboration</strong>
                                        <p>We strengthen our HSE cooperation system through proactive communication 
                                          with our clients, stakeholders, employees, sub-contractors and the local community.</p>
                                    </li>
                                    <li class="item">
                                        <span class="m_caption">06</span>
                                        <strong class="m_h6">Sustainable and Environmentally 
                                          Friendly Management</strong>
                                        <p>We fulfill our social responsibilities as a global maritime and energy leader 
                                          through sustainable eco-friendly management practices.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-con">
                <div class="common-fixed-wrap">
                    <div class="core">
                        <picture>
                            <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_ov-bg-pc.webp">
                            <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_ov-bg-mo.webp">
                            <img class="" src="/resources/images/hse/hsemge/hsemge_ov-bg-pc.webp" alt="Images">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="overview-con">
                <div class="sec_inner">
                    <div class="common-grid">
                        <div class="title-wrap in_sec_box_area">
                            <div class="title m_h3 in_sec_box">HSE Goals</div>
                            <div class="desc in_sec_box">
                               <div class="key-item">
                                    <div class="point-box">
                                      <span class="m_h6 point">ZERO</span>
                                      <span class="m_h6">Serious accidents</span>
                                    </div>
                                    <div class="point-box">
                                      <span class="m_h6 point">10%</span>
                                      <span class="m_h6">Reduction in accident rate</span>
                                    </div>
                                    <div class="point-box">
                                      <span class="m_h6 point">100%</span>
                                        <span class="m_h6">Compliance with environmental <br class="pc">regulations</span>
                                    </div>
                               </div>
                               <div class="target-item">
                                <div class="content-box">
                                   <div class="m_h6">CEO’s commitment to HSE-first <br>
                                    management</div>
                                   <div class="img-wrap">
                                        <picture>
                                            <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_ov-content-01-pc.webp">
                                            <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_ov-content-01-mo.webp">
                                            <img class="" src="/resources/images/hse/hsemge/hsemge_ov-content-01-pc.webp" alt="Images">
                                        </picture>
                                   </div>
                                   <div class="target-wrap">
                                        <span class="m_caption">HSE-first management</span>
                                        <ul>
                                            <li class="m_h9">Willingness not to compromise on HSE</li>
                                            <li class="m_h9">Willingness to provide workforce, budget, and improvement measures for HSE management</li>
                                            <li class="m_h9">Willingness to comply with HSE-related laws and regulations</li>
                                        </ul>
                                   </div>
                                </div>
                                <div class="content-box">
                                    <div class="tit m_h6">Worker participation and rights and <br>
                                      obligations</div>
                                    <div class="img-wrap">
                                         <picture>
                                             <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_ov-content-02-pc.webp">
                                             <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_ov-content-02-mo.webp">
                                             <img class="" src="/resources/images/hse/hsemge/hsemge_ov-content-02-pc.webp" alt="Images">
                                         </picture>
                                    </div>
                                    <div class="target-wrap">
                                         <ul>
                                             <li class="m_h9">Obligation to participate in hazard identification</li>
                                             <li class="m_h9">The right of all members to work safely</li>
                                             <li class="m_h9">Obligation to stop work and evacuate workers in case of a serious industrial accident</li>
                                         </ul>
                                    </div>
                                 </div>
                                 <div class="content-box">
                                    <div class="tit m_h6">Green, sustainable, shared growth, and transparent management</div>
                                    <div class="img-wrap">
                                         <picture>
                                             <source media="(min-width: 769px)" srcset="/resources/images/hse/hsemge/hsemge_ov-content-03-pc.webp">
                                             <source media="(max-width: 768px)" srcset="/resources/images/hse/hsemge/hsemge_ov-content-03-mo.webp">
                                             <img class="" src="/resources/images/hse/hsemge/hsemge_ov-content-03-pc.webp" alt="Images">
                                         </picture>
                                    </div>
                                    <div class="target-wrap">
                                         <ul>
                                             <li class="m_h9">Minimizing environmental impact through green technology</li>
                                             <li class="m_h9">Social responsibility as a global maritime and energy leader</li>
                                             <li class="m_h9">Shared growth, disclosure to stakeholders, and active acceptance of opinions</li>
                                         </ul>
                                    </div>
                                 </div>
                           </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>