<%- include('./src/include/header.ejs', { title: '스마트 안전' }) %>

<main id="SMART" class="sh smart">
  <div class="main-inner" data-path="sh-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">안전보건</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">안전보건</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_kv-mo.webp">
                <img class="core" src="/resources/images/hse/sh/sh_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area smart-area" id="shSmart">
                <div class="smart-con in_sec_box_area">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/hse/sh/ov/#shOv" class="tab-item">Overview</a>
                            <a href="/hse/sh/osh/#shOsh" class="tab-item">산업안전보건</a>
                            <a href="/hse/sh/smart/#shSmart" class="active tab-item">스마트 안전</a>
                        </div>
                    </div>
                    <div class="content-box in_sec_box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3">스마트 안전체계 구축</div>
                                <div class="desc">
                                    <p class="intro"><span class="m_hanwhaL">한화오션</span>은 산업 안전보건 이슈를 디지털화하여 스마트한 안전체계를 구축하고 있습니다. 통합 안전관리 플랫폼을 구축하고 다양한 데이터를 통합 시각화하여 실시간으로 대형 모니터에 표시하는 스마트 안전 관제 시스템을 구축하기 위해 대대적인 투자계획을 수립하고 3개년 과제를 진행하고 있습니다.</p>
                                    <div class="card-wrap">
                                        <div class="card">
                                            <div class="tit m_h9">방향</div>
                                            <div class="info">
                                                <ul class="common-circle-list">
                                                    <li>통합 안전 관리 플랫폼 구축 및 다양한 이종 간 시스템(화재/비전 센서/기상정보 등) 연동</li>
                                                    <li>인프라(네트워크 등) 개선 및 IoT 센서(위치/생체정보/SOS 호출 등)를 이용한 작업자 실시간 사고 예방 시스템 구축</li>
                                                    <li>중장비 안전관리 시스템(크레인/고소차/지게차등) 및 스마트기기를 통한 작업자 안전관리 고도화 시스템 구축</li>
                                                    <li>AI 비전 센서를 이용한 고위험지역 출입/설비/차량 모니터링 및 노후카메라 교체를 통한 작업자 안전 모니터링 강화</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box in_sec_box">
                        <div class="title m_h6">HSE 통합안전관리 플랫폼</div>
                        <div class="table-wrap platform-01">
                            <div class="in_mob_scr scr-wide scr-center">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_platform_01-pc.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_platform_01-mo.webp">
                                    <img src="/resources/images/hse/sh/sh_platform_01-pc.webp" alt="Images">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="sr-only">
                                <div class="list-box data-box">
                                    <div class="tit">Data</div>
                                    <ul class="info">
                                        <li>열상<br>비전센서</li>
                                        <li>IoT센서<br>(가스, 온/습도)</li>
                                        <li>소방시설</li>
                                        <li>호선위치</li>
                                        <li>호선 출입자 정보</li>
                                        <li>작업현황</li>
                                        <li>재해/사고 신고</li>
                                        <li>기상정보<br>(풍속, 풍향)</li>
                                    </ul>
                                </div>
                                <div class="platform-box">
                                    <div class="title m_h8">HSE 통합안전관리 플랫폼</div>
                                    <div class="form-info">
                                        <div class="info grid">
                                            <div class="tit m_h9">HSE 통합안전관리 플랫폼</div>
                                            <ul>
                                                <li>호선 화재경보 <br>시스템</li>
                                                <li>작업자 HSE <br>모니터링</li>
                                                <li>밀폐구역 관리</li>
                                                <li>LNGC 화물창 <br>모니터링</li>
                                                <li>VPS <br>(환기팬, 가스 농도)</li>
                                                <li>비전센서 <br>(시설, 보안, 안전, 교통 등)</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">안전작업 현황</div>
                                            <ul>
                                                <li>호선 작업자 현황</li>
                                                <li>작업 현황</li>
                                                <li>사외 작업자 현황</li>
                                                <li>작업 중지 현황</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">사고/HSE 문제점 신고</div>
                                            <ul>
                                                <li>2119 신고</li>
                                                <li>HSE 모바일 현황</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">자연재해/시설물</div>
                                            <ul>
                                                <li>바람/태풍 현황</li>
                                                <li>안전시설물 현황</li>
                                            </ul>
                                        </div>
                                        <div class="info grid">
                                            <div class="tit m_h9">재해통계/위험분석</div>
                                            <ul>
                                                <li>재해 현황 모니터링</li>
                                                <li>위험도 분석</li>
                                            </ul>
                                        </div>
                                        <div class="info list">
                                            <ul>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>2D/3D Map DB</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>DSM/DEM</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>라이브/저장영상</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>3D 선박모델</span>
                                                </li>
                                                <li>
                                                    <span class="form-ic"></span>
                                                    <span>사고정보</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-info">
                                        <div class="info list">
                                            <ul>
                                                <li>비전센서<br>통합VMS</li>
                                                <li>ISES</li>
                                                <li>통합 <br>Fire Alarm</li>
                                                <li>SAP</li>
                                                <li>호선 <br>출입관리</li>
                                                <li>호선 <br>위치정보</li>
                                                <li>중장비 <br>운전승인</li>
                                                <li>과속단속 <br>시스템</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-box user-box">
                                    <div class="tit">User</div>
                                    <div class="info">
                                        <ul class="user-list">
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>통합관제센터</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>현업운전</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>안전담당자</span>
                                            </li>
                                        </ul>
                                        <ul class="hd-list">
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>W/S</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>태블릿</span>
                                            </li>
                                            <li>
                                                <span class="user-ic"></span>
                                                <span>모바일</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-wrap platform-02">
                            <div class="in_mob_scr scr-wide scr-center">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_platform_02-pc.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_platform_02-mo.webp">
                                    <img src="/resources/images/hse/sh/sh_platform_02-pc.webp" alt="Images">
                                    <div class="icon-swipe"></div>
                                </picture>
                            </div>
                            <div class="sr-only">
                                <div class="list-box sensor-box">
                                    <div class="tit">네트워크 <br>비전센서</div>
                                    <div class="info">
                                        <div class="infogram-box">
                                            <div class="graph-img">
                                                <div class="icon-swipe"></div>
                                            </div>
                                            <div class="sr-only">
                                            <ul>
                                                <li>일반 비전 센서</li>
                                                <li>방폭 비전 센서</li>
                                                <li>PTZ 비전 센서</li>
                                                <li>차량 번호 인식</li>
                                                <li>열감지 비전 센서</li>
                                                <li>AI BOX</li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="infogram-box">
                                    <div class="graph-img">
                                        <div class="icon-swipe"></div>
                                    </div>
                                    <div class="sr-only">
                                        <ul>
                                            <li>운영 콘솔</li>
                                            <li>운영 콘솔</li>
                                            <li>운영 콘솔</li>
                                            <li>IP Wall 제어</li>
                                            <li>IP Wall 제어</li>
                                            <li>LED 전광판 제어</li>
                                        </ul>
                                    <ul>
                                        <li>이중화</li>
                                        <li>IP Wall Controller</li>
                                        <li>통합안전 관리 서버</li>
                                        <li>네트워크</li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="list-box system-box">
                                    <div class="tit">보유 시스템</div>
                                    <ul class="info">
                                        <li>
                                            <span class="sys-ic"><span class="blind">시스템 아이콘 이미지</span></span>
                                            <span>화재감지</span>
                                        </li>
                                        <li>
                                            <span class="sys-ic"><span class="blind">시스템 아이콘 이미지</span></span>
                                            <span>온/습도 감지</span>
                                        </li>
                                        <li>
                                            <span class="sys-ic"><span class="blind">시스템 아이콘 이미지</span></span>
                                            <span>공정관리</span>
                                        </li>
                                        <li>
                                            <span class="sys-ic"><span class="blind">시스템 아이콘 이미지</span></span>
                                            <span>4Gas 관리</span>
                                        </li>
                                        <li class="abb">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        </li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>