  <%- include('./src/include/header.ejs', { title: '윤리준법 활동' }) %>

<!-- dummy -->
<main id="CEA" class="ce cea">
  <div class="main-inner" data-path="ce">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">윤리준법</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">윤리준법</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/gov/ce/kv.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/gov/ce/kv_mo.webp">
              <img class="core" src="/resources/images/gov/ce/kv.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
        <div class="common-tab-looking-a-wrap" id="cea-tab">
            <div class="tab-looking-a line-tab">
                <a href="/gov/ce/ce/#ce-tab" class="tab-item">윤리준법</a>
                <a href="/gov/ce/cea/#cea-tab" class="active tab-item">윤리준법 활동</a>
                <a href="https://www.hanwhaocean.com/ft/cu40/" class="tab-item" target="_blank" title="신고센터로 이동 및 새창으로 열림">신고센터<span class="outlink-icon">icon</span></a>
            </div>
        </div>

        <div class="main_content">
          <div class="common-grid">
            <div class="title-wrap">
                <div class="title m_h3 in_sec_copy">윤리준법 활동</div>
                <div class="desc">
                  <div class="item">
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 임직원을 대상으로 윤리준법 실천서약 서명을 받고, 윤리상담 및 윤리준법 교육을 실시하고 있으며 주기적인 법무리스크 점검 활동을 통해 법률 위반 리스크 발견 시 조기 대응, 법 준수 문화 장착 등을 위하여 노력하고 있습니다.</p>
                  </div>
                  <div class="item">
                    <strong class="m_h6 in_sec_copy">윤리준법 실천서약</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 매년 임직원의 자율준법의식 점검을 위해 윤리준법 실천서약에 대한 서명을 실시하고 있습니다.</p>
                    <div class="docum in_sec_copy">
                      <strong class="m_h7">윤리준법 실천서약</strong>
                      <p>나는 <span class="m_hanwhaL">한화오션</span>의 임직원으로서 회사의 핵심가치 및 윤리준법 방침을 명확히 인식하고, 업무 를 수행함에 있어 다음 사항을 준수할 것을 서약합니다.</p>
                      <ol>
                        <li><span class="num">1.</span>나는 업무와 관련하여 청탁금지법 등 국내외 법규 및 회사규정을 숙지하고 준수하며, 이에 위반되는 행위를 지시, 승인하거나 방조, 묵인하지 않겠습니다.</li>
                        <li><span class="num">2.</span>나는 신의성실의 원칙에 입각하여 맡은 바 업무를 성실히 수행하며, 회사와 개인의 이해가 충돌할 경우 회사의 정당한 이익을 우선하겠습니다.</li>
                        <li><span class="num">3.</span>나는 회사의 사업이나 이익을 위하여 국내외에서 공무원, 고객사 등을 포함한 이해관계자에게 부당한 금품이나 향응을 제공하지 않겠습니다.</li>
                        <li><span class="num">4.</span>나는 협력회사 및 잠재적 거래처로부터 금품, 선물, 찬조, 접대 및 편의 등 유·무형을 불문한 일체의 재산상 이익을 제공 받거나 요구하지 않으며, 금전거래 및 청탁 등의 직·간접적 당사자가 되지 않겠습니다.</li>
                        <li><span class="num">5.</span>나는 협력회사 및 공급회사, 거래처 등과의 거래 기준이 되는 법률을 명확히 인식하고, 협력회사 등을 대등한 계약의 주체로 인정하며 이에 반하는 어떠한 행위도 하지 않겠습니다.</li>
                        <li><span class="num">6.</span>나는 회사의 중요 정보나 영업비밀, 경영자료, 임직원 및 이해관계자의 개인정보를 무단 유출하거나 업무 외 용도로 사용하지 않겠습니다.</li>
                        <li><span class="num">7.</span>나는 임직원 개인의 인격과 인권을 존중하고, 회사 또는 개인과 관련된 유언비어를 퍼트리지 않으며, 회사의 명예를 실추시키는 언행을 하지 않겠습니다.</li>
                        <li><span class="num">8.</span>나는 윤리준법 질서의 정착을 위해 회사가 시행하는 정책, 지침, 교육, 실천프로그램에 적극 참여하고 협조하겠습니다.</li>
                        <li><span class="num">9.</span>나는 임직원의 부정비리를 인지하거나, 임직원 또는 이해관계자로부터 부정비리를 제안 받을 경우 즉시 회사 (업무진단조직이나 해당조직) 에 알리겠습니다.</li>
                        <li><span class="num">10.</span>나는 윤리규범, 윤리규범 실천지침을 위반 또는 위반한 것으로 의심되는 행위에 대하여 조사가 진행될 경우, 관련자료의 제출 및 의견 진술 등 모든 협조를 다 하겠습니다.</li>
                        <li><span class="num">11.</span>나는 위 사항들을 위반할 경우 관련 법령 또는 회사 규칙에 따른 정당한 제재 조치를 수용하며 이의를 제기하지 않겠습니다.</li>
                      </ol>
                      <div>
                        <span>2023년 1월 4일</span>
                        <p>법무담당 법무기획부 책임 김태영<span>[서약완료]</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="item in_sec_copy">
                    <strong class="m_h6">윤리상담</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>의 임직원들은 <span class="m_hanwhaL">한화오션</span>의 윤리규범, 윤리정책 등에 대해 질의할 수 있으며, 윤리 딜레마 상황에 관하여 상담을 받을 수 있습니다. 포털 윤리상담에서 실명, 익명, 공개 및 비공개 중 자유롭게 선택하여 상담이 가능합니다.</p>
                  </div>
                  <div class="item in_sec_copy">
                    <strong class="m_h6">윤리 및 컴플라이언스 교육</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 임직원에 대한 준법 의식 고취를 위한 윤리 및 컴플라이언스 교육을 매년 수행하고 있으며 2023년 교육 수행 현황은 다음과 같습니다. 교육 내용은 공정거래법, 하도급법, 부정경쟁방지법 및 부패방지와 규범준수에 관련된 주제들로 구성되어 있습니다. 이 교육들은 각 조직의 특성과 필요에 맞춰 진행되며 회사는 공정경쟁이 준수되도록 노력을 기울이고 있습니다.</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="content-box in_sec_box_area">
              <div class="table-wrap in_sec_box">
                  <div class="common-table-wrap in_mob_scr">
                      <table class="common-table">
                        <caption>윤리 및 컴플라이언스 교육 표</caption>
                        <thead>
                          <tr>
                            <th class="left">교육 내용</th>
                            <th class="left">교육 대상 조직</th>
                            <th class="left">실시 내역</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="left">
                              <strong>[공정거래법]</strong>
                              <ul class="hypen_list">
                                <li>부당지원행위</li>
                                <li>계열사 내부거래시 유의사항</li>
                                <li>부당공동행위(담합)</li>
                                <li>동종사 협의시 유의사항 등</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>
                                  주요 내부거래심의 요청 조직
                                  <ul class="hypen_list">
                                    <li>구매, 특수선, 연구기획, 인사, 지원, 사업관리, IT 등</li>
                                  </ul>
                                </li>
                                <li>주요 내부거래심의 요청 조직</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              2023년 11월 실시<br>
                              112명 교육 완료                             
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[하도급법]</strong>
                              <ul class="hypen_list">
                                <li>하도급법 법무리스크</li>
                                <li>납품대금 연동제</li>
                                <li>연동제 도입 관련 유의사항 등</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>
                                  하도급거래 계약 조직
                                  <ul class="hypen_list">
                                    <li>구매, 상생, 사외계약 등</li>
                                  </ul>
                                </li>
                              </ul>                             
                            </td>
                            <td class="left">
                              2023년 11월 실시 <br>
                              107명 교육 완료                             
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[부정경쟁방지법]</strong>
                              <ul class="hypen_list">
                                <li>영업비밀보호</li>
                                <li>영업비밀 가이드라인</li>
                                <li>부정경쟁방지법 준수를 위한 <br class="pc">
                                  인사관련 (채용, 재직중, 퇴사시) 유의사항 등</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>정보보호사무국</li>
                                <li>인사</li>
                                <li>중앙연구원 등</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              2023년 11월 실시 <br>
                              28명 교육 완료                           
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[부패방지 및 규범준수]</strong>
                              <ul class="hypen_list">
                                <li>리스크 평가 관련 교육</li>
                              </ul>                          
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>내부심사원 대상</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              2023년 11월 실시 <br>
                              49명 교육 완료                         
                            </td>
                          </tr>

                          <tr>
                            <td class="left">
                              <strong>[하도급법 교육방송]</strong>                        
                            </td>
                            <td class="left">
                              <ul class="dot_list">
                                <li>전사 대상(자율 수강)</li>
                              </ul>                             
                            </td>
                            <td class="left">
                              연중 교육방송으로 실시 <br>
                              456명 수강 완료                        
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <div class="icon-swipe"></div>
                  </div>
              </div>
          </div>
          <div class="common-grid">
            <div class="title-wrap">
                <div class="desc">
                  <div class="item in_sec_copy">
                    <strong class="m_h6">법무리스크 점검 활동</strong>
                    <p class="intro"><span class="m_hanwhaL">한화오션</span>은 하도급거래 실태조사, 자회사 법무 체계 점검, 공정거래법 부당공동행위 자율 점검을 통하여 회사의 법무리스크를 주기적으로 점검하고 있습니다. 당사는 하도급거래 실태조사 결과 하도급법 위반 리스크를 조기 발견하여 필요한 예방조치를 취했으며, 본사-자회사간 법무 협업 체계 점검 및 공정거래법 부당공동행위 체크리스트 배포 등의 활동을 하였습니다.</p>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
  </section>


  </div>
</main>

<%- include('./src/include/footer.ejs') %>