<%- include('./src/include/header.ejs', { title: '이사회 구성' }) %>

<!-- dummy -->
<main id="BOD" class="bod">
  <div class="main-inner" data-path="bod">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">이사회</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">이사회</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/gov/kv.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/gov/kv-mo.webp">
                <img class="core" src="/resources/images/gov/kv.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="common-tab-looking-a-wrap" id="bod-tab">
              <div class="tab-looking-a line-tab">
                  <a href="/gov/bod/#bod-tab" class="active tab-item">이사회 구성</a>
                  <a href="/gov/rs/#rs-tab" class="tab-item">이사회 의결현황</a>
              </div>
          </div>
          <div class="content-box ct01 in_sec_box_area">
              <div class="common-grid">
                  <div class="title-wrap">
                      <div class="title m_h3 in_sec_copy">건전한 지배구조</div>
                      <div class="desc">
                        <div class="item">
                          <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 건전한 지배구조를 확립하고자 공정하고 투명하게 이사회를 운영하고 있습니다. 이사 선임, 의결, 위원회 등 이사회에 관련한 모든 제반 사항은 정관 및 이사회 규정을 기반으로 운영되고 있으며 이사회의 활동 내역은 사업보고서에서 공개하고 있습니다. <span class="m_hanwhaL">한화오션</span>의 이사회는 대표이사가 의장을 겸직하여 다양한 이사회 사안을 효율적으로 의결하고 경영에 적용하고 있습니다. 또한 이사회는 최고 의사결정 기구로서 회사의 중장기 전략과 중요 투자 안건 및 ESG등에 대해 의사결정을 내립니다.</p>
                        </div>
                        <div class="item">
                          <strong class="m_h6 in_sec_copy">이사회 구성</strong>
                          <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>의 이사는 관련 법령 및 정관 등에서 요구하는 자격요건을 모두 충족하고 있으며, 사외이사는 회계, 조선, 법률, 경영 등 각 분야에서 실무 경험과 전문성 등을 두루 갖춘 전문가들로 구성되어 있습니다.</p>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="table-wrap in_sec_box">
                  <div class="common-table-wrap">
                      <table class="common-table">
                        <caption>이사회 구성 표</caption>
                        <thead>
                          <tr>
                            <th class="center">성명</th>
                            <th class="center">구분</th>
                            <th class="center">성별</th>
                            <th class="center">나이</th>
                            <th class="center">직책</th>
                            <th class="center">이사 총 <br> 재직기간(월)</th>
                            <th class="center">임기완료 <br> 예정일</th>
                            <th class="center">전문 분야</th>
                            <th class="center">주요경력</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="center">권혁웅</td>
                            <td class="center">사내이사</td>
                            <td class="center">남</td>
                            <td class="center">63세</td>
                            <td class="center">대표이사 <br> 이사회 의장</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">경영<br>총괄</td>
                            <!-- 개발 참고 :: 텍스트를 span.m_hanwhaL로 감싸면 한화체가 적용됩니다. -->
                            <td class="left">전) <span class="m_hanwhaL">㈜한화</span> 지원부문 총괄</td>
                          </tr>

                          <tr>
                            <!-- 개발 참고 :: 텍스트를 sup 태그로 감싸면 윗 첨자가 됩니다. -->
                            <td class="center">김종서 </td>
                            <td class="center">사내이사</td>
                            <td class="center">남</td>
                            <td class="center">56세</td>
                            <td class="center">사외이사후보추천위원회 <br>
                              대표위원</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">기업<br class="pc">경영<br>일반</td>
                            <td class="left">전) <span class="m_hanwhaL">한화에어로스페이스</span> <br>
                              담당임원</td>
                          </tr>

                          <tr>
                            <!-- 개발 참고 :: 텍스트를 sup 태그로 감싸면 윗 첨자가 됩니다. -->
                            <td class="center">정인섭 ¹⁾ </td>
                            <td class="center">사내이사</td>
                            <td class="center">남</td>
                            <td class="center">58세</td>
                            <td class="center">ESG위원회 위원</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">기업<br class="pc">경영<br>일반</td>
                            <td class="left">전) <span class="m_hanwhaL">한화에어로스페이스</span> <br>
                              담당임원</td>
                          </tr>

                          <tr>
                            <td class="center">김동관</td>
                            <td class="center">기타비상<br class="mobile">무이사</td>
                            <td class="center">남</td>
                            <td class="center">40세</td>
                            <td class="center">-</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">기업<br class="pc">경영<br>일반</td>
                            <td class="left">전) <span class="m_hanwhaL">㈜한화</span> 전략부문 대표이사</td>
                          </tr>

                          <tr>
                            <td class="center">이신형</td>
                            <td class="center">사외이사</td>
                            <td class="center">남</td>
                            <td class="center">56세</td>
                            <td class="center">감사위원회 위원, <br>
                              사외이사후보추천위원회 위원, <br>
                              내부거래위원회 위원장</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">조선</td>
                            <td class="left">현) 서울대 조선해양공학과 교수 <br>
                              전) 대한조선학회 학회장<br>
                              전) 미국 Fluent Inc., Lead Engineer</td>
                          </tr>

                          <tr>
                            <td class="center">김봉환</td>
                            <td class="center">사외이사</td>
                            <td class="center">남</td>
                            <td class="center">54세</td>
                            <td class="center">감사위원회 위원장, <br>
                              사외이사후보추천위원회 위원, <br>
                              내부거래위원회 위원</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">회계</td>
                            <td class="left">현) 서울대 행정대학원 교수 <br>
                              전) 서울시 금융도시담당관 <br>
                              전) 미국 American Univ. 경영학과 조교수</td>
                          </tr>

                          <tr>
                            <td class="center">조지 P.부시</td>
                            <td class="center">사외이사</td>
                            <td class="center">남</td>
                            <td class="center">47세</td>
                            <td class="center">-</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">법률</td>
                            <td class="left">현) Michael Best & Friedrich LLP, Partner <br>
                              전) St. Augustine Partners, Founder <br>
                              전) Land Commissioner of Texas</td>
                          </tr>

                          <tr>
                            <td class="center">현낙희</td>
                            <td class="center">사외이사</td>
                            <td class="center">여</td>
                            <td class="center">44세</td>
                            <td class="center">감사위원회 위원, <br>
                              ESG위원회 위원장, <br>
                              내부거래위원회 위원</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">법률</td>
                            <td class="left">현) 성균관대 법학전문대학원 부교수 <br>
                              사법연수원 34기/미국 뉴욕주 변호사 <br>
                              전) 대법원 재판연구관</td>
                          </tr>

                          <tr>
                            <td class="center">김재익</td>
                            <td class="center">사외이사</td>
                            <td class="center">남</td>
                            <td class="center">61세</td>
                            <td class="center">ESG위원회 위원</td>
                            <td class="center">7</td>
                            <td class="center">제25기 <br>정기주주<br class="mobile">총회일</td>
                            <td class="center">경영</td>
                            <td class="left">현) 동인기연 사외이사 <br>
                              전) KDB 인프라자산운용 대표이사 <br>
                              전) 산업은행 리스크관리부문장</td>
                          </tr>

                        </tbody>
                      </table>
                  </div>
                  <ol class="refer">
                    <li>
                      <span class="m_desc">
                        1) 2024년 3월 사내이사 정인섭에서 사내이사 류두형으로 변경
                        <br> * 2023년 12월 현재 기준 당사의 이사회는 총 9인(사내이사 3인, 기타 비상무이사 1인, 사외이사 5인)으로 구성되어 있으며 상법 제542의 8 제1항에 따른 사외이사 법적 최소 기준을 충족하고 있습니다.
                      </span>
                    </li>
                  </ol>
              </div>
          </div>
          <div class="content-box ct02 in_sec_box_area">
            <strong class="title m_h8 in_sec_box"><span class="m_hanwhaL">한화오션</span> 이사회 역량 구성표 <br class="mobile">(Board skills Matrix)</strong>
            <div class="table-wrap in_sec_box">
              <div class="common-table-wrap">
                  <table class="common-table">
                    <caption><em class="m_hanwhaL">한화오션</em> 이사회 역량 구성표 (Board skills Matrix)</caption>
                    <thead>
                      <tr>
                        <th class="center" rowspan="2" colspan="2">구분</th>
                        <th class="center" colspan="4">사내이사</th>
                        <th class="center" colspan="5">사외이사</th>
                      </tr>
                      <tr>
                        <th class="center">권혁웅</th>
                        <th class="center">김종서</th>
                        <th class="center">정인섭</th>
                        <th class="center">김동관</th>
                        <th class="center">이신형</th>
                        <th class="center">김봉환</th>
                        <th class="center">조지 P.<br>부시</th>
                        <th class="center">현낙희</th>
                        <th class="center">김재익</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="left" rowspan="7">역량</td>
                        <td class="left">리더십</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">CEO 경험</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">글로벌</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left">산업</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left">경영/회계</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">정책/행정</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left">법률/규제</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center"></td>
                      </tr>

                      <tr>
                        <td class="left" rowspan="4">다양성</td>
                        <td class="left">선임연도</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                        <td class="center">2023</td>
                      </tr>

                      <tr>
                        <td class="left">독립성</td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center"></td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                        <td class="center">O</td>
                      </tr>

                      <tr>
                        <td class="left">국적</td>
                        <td class="center">한국</td>
                        <td class="center">한국</td>
                        <td class="center">한국</td>
                        <td class="center">한국</td>
                        <td class="center">한국</td>
                        <td class="center">한국</td>
                        <td class="center">미국</td>
                        <td class="center">한국</td>
                        <td class="center">한국</td>
                      </tr>

                      <tr>
                        <td class="left">성별</td>
                        <td class="center">남성</td>
                        <td class="center">남성</td>
                        <td class="center">남성</td>
                        <td class="center">남성</td>
                        <td class="center">남성</td>
                        <td class="center">남성</td>
                        <td class="center">남성</td>
                        <td class="center">여성</td>
                        <td class="center">남성</td>
                      </tr>

                      <tr>
                        <td class="left">활동위원회</td>
                        <td class="center"></td>
                        <td class="center">이사회의장</td>
                        <td class="center">사외이사
                          후보
                          추천위
                          대표위원</td>
                        <td class="center">ESG
                          위원회</td>
                        <td class="center"></td>
                        <td class="center">감사위
                          내부거래
                          위원장
                          사외이사
                          후보
                          추천위</td>
                        <td class="center">감사
                          위원장
                          내부
                          거래위
                          사외이사
                          후보
                          추천위</td>
                        <td class="center"></td>
                        <td class="center">감사위
                          내부
                          거래위
                          ESG
                          위원장</td>
                        <td class="center">ESG
                          위원회</td>
                      </tr>

                    </tbody>
                  </table>

              </div>
            </div>
          </div>

          <div class="common-grid">
            <div class="title-wrap">
                <!-- <div class="title m_h3 in_sec_copy">건전한 지배구조</div> -->
                <div class="desc">
                  <div class="item">
                    <strong class="m_h6 in_sec_copy">독립성 및 다양성 보장</strong>
                    <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 상법 제382조(이사의 선임, 당사와의 관계 및 사외이사) 제3항 및 제542조의 8(사외이사의 선임) 제2항에 따라 이사의 자격요건 여부를 확인하고 있으며, 주주총회를 거쳐 이사를 선임함으로써 공정성과 독립성을 확보하도록 조치하고 있습니다. 이사회의 다양성 확보를 위해 자본시장법 제165조의 20(이사회의 성별 구성에 관한 특례)을 따르며 선임 시 성별, 나이, 지역, 국적 등에 대한 자격 제한을 두고 있지 않습니다. 또한 <span class="m_hanwhaL">한화오션</span>은 이사회의 다양성 확보를 위해 2023년 주주총회에서 여성 사외이사 1인을 선임하였으며 회계, 조선, 법률, 경영 등 다양한 분야의 전문성과 책임성을 확보하고 있습니다.</p>
                  </div>
                </div>
                
            </div>
        </div>
      </div>
  </section>


  </div>
</main>

<%- include('./src/include/footer.ejs') %>