<%- include('./src/include/header.ejs', { title: '품질경영' }) %>

<!-- dummy -->
<main id="QM" class="qm">
  <div class="main-inner" data-path="qm">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">품질경영</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">품질경영</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/gov/qm/kv.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/gov/qm/kv-mo.webp">
                <img class="core" src="/resources/images/gov/qm/kv.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">

        <div class="main_content">
          <div class="section-qm sec-1">
            <div class="common-grid">
                <div class="title-wrap">
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 매년 품질경영방침을 수립하고 이를 구성원들과 공유하며, 조직 상황과 품질 관련 이해관계자의 요구 사항을 반영하여 리스크와 기회를 관리할 수 있는 체계를 구축하고 있습니다.
                        ISO 9001, ISO 29001, ISO 3834와 같은 국제표준 품질경영시스템 인증을 기반으로 품질경영 체계를 운영하고 있으며, 주기적인 품질경영시스템 평가를 통해 지속적으로 프로세스를 개선하고 있습니다.
                        <br><br>
                        아울러, 제품의 생애 주기 전반에 걸쳐 선박의 수주부터 인도 후 유지보수 단계까지 고객 만족을 위한 서비스를 제공함으로써 품질 달성을 위해 노력하고 있습니다. 또한, 고객 소통 채널을 통해 제품, 서비스, 기술의 품질과 평가 결과를 정기적으로 모니터링하고, 고객의 불만사항에 대한 개선책을 적극적으로 마련하고 있습니다.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="section-qm sec-2 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질경영 추진 체계</div>
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 품질경영 활동을 위하여 아래와 같은 조직 체계를 갖추고 있으며, 각 조직에 부여된 역할 수행을 통한 품질확보로 고객만족서비스를 제공하고 있습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="in_sec_box in_mob_scr scr-center scr-wide">
              <picture class="picture">
                <img src="/resources/images/gov/qm/diagram01.webp" alt="Graph">
                <div class="icon-swipe"></div>
              </picture>
            </div>
            <div class="sr-only">
              <ul>
                <li>조선소장</li>
                <li>품질경영담당</li>
                <li>품질기획파트</li>
                <li>구조품질팀</li>
                <li>선박의장품질팀</li>
                <li>자재품질팀</li>
                <li>도장품질팀</li>
              </ul>
            </div>
            <div class="common-table-wrap in_sec_box">
              <table class="common-table">
                <thead>
                  <tr>
                    <th class="p-l-32 left">조직</th>
                    <th class="p-l-32 left">역할</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-l-32 left">품질기획</td>
                    <td class="p-l-32 left">품질기획 및 개선, 용접사 자격 관리, 품질경영시스템 인증 관리, 비파괴검사 품질관리</td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">구조품질</td>
                    <td class="p-l-32 left">선박/해양 구조 품질관리 및 검사 (조립/탑재/사외BLK)</td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">도장품질</td>
                    <td class="p-l-32 left">선박/해양 도장 품질관리 및 검사 (선행/후행/사외BLK)</td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">상선의장품질</td>
                    <td class="p-l-32 left">선박의장 품질관리 및 검사 (관철/전장/시운전/기계/CCS/목의/보온), 사외 선실 & E/Casing</td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">해양의장품질</td>
                    <td class="p-l-32 left">해양의장 품질관리 및 검사 (배관/전∙계장/기장/선실/철의장), 해양 공사 PQM 운영</td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">자재품질</td>
                    <td class="p-l-32 left">기자재 품질검사 및 품질문제 관리, 국내외 기자재 협력사 품질 실사 및 평가</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="section-qm sec-3 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질경영시스템 인증</div>
                  <div class="desc">
                    <div class="item">
                      <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 제품의 품질 향상을 위해 품질경영체계를 갖추고, 제품 안전/품질에 대한 위험성 평가 및 모니터링과 더불어 인도 후 A/S 등 고객에 대한 책임을 강화하는 등 고객과 신뢰 관계 형성에 최선을 다하고 있습니다.</p>
                    </div>
                    <div class="item">
                      <strong class="title m_h8 in_sec_copy">ISO 9001 시스템 적용 범위와 운용 실적</strong>
                      <p class="in_sec_copy dia-title">적용 범위 : 옥포조선소, 시흥R&D 캠퍼스, <span class="m_hanwhaL">한화오션</span> 산동법인, 서울사무소, 플랜트사업부/풍력사업부 (2024년 12월 추가예정)</p>
                      <picture class="picture in_sec_copy">
                        <source media="(min-width: 769px)" srcset="/resources/images/gov/qm/diagram02.webp">
                        <source media="(max-width: 768px)" srcset="/resources/images/gov/qm/diagram02-mo.webp">
                        <img src="/resources/images/gov/qm/diagram02.webp" alt="Graph">
                      </picture>
                      <div class="sr-only">
                        <ul>
                          <li>품질경영시스템
                            인증 및 운영</li>
                          <li>품질시스템,
                            품질마인드 교육</li>
                          <li>고객 품질
                            만족도 조사</li>
                          <li>품질경영시스템
                            내부심사</li>
                          <li>협력사 품질관리
                            (신규평가, 정기평가)</li>
                        </ul>
                      </div>
                      <ul class="certi_li in_sec_box_area">
                        <li class="in_sec_box">
                          <div class="inner">
                            <strong>ISO 9001</strong>
                            <picture class="picture">
                              <img src="/resources/images/gov/qm/certi01.webp" alt="Images">
                            </picture>
                          </div>
                          <div class="inner">
                            <picture class="picture">
                              <img src="/resources/images/gov/qm/certi02.webp" alt="Images">
                            </picture>
                          </div>
                        </li>
                        <li class="in_sec_box">
                          <div class="inner">
                            <strong>ISO 29001</strong>
                            <picture class="picture">
                              <img src="/resources/images/gov/qm/certi03.webp" alt="Images">
                            </picture>
                          </div>
                          <div class="inner">
                            <strong>ISO 3834</strong>
                            <picture class="picture">
                              <img src="/resources/images/gov/qm/certi04.webp" alt="Images">
                            </picture>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="section-qm sec-4 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질경영 관리 시스템</div>
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 2023년 품질경영 상 주요 이슈사항으로 제품의 안전성과 고객에 대한 책임을 선정하였으며 이에 대해 스마트 품질관리 도입과 고객 품질 만족도를 청취하는 등의 대응을 수행하였습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="common-table-wrap in_sec_box">
              <table class="common-table">
                <thead>
                  <tr>
                    <th class="p-l-32 center">주요이슈</th>
                    <th class="p-l-32 center"><span class="m_hanwhaL">한화오션</span>의 대응</th>
                    <th class="p-l-32 center">2023년 주요 활동</th>
                    <th class="p-l-32 center">2023년 주요 성과</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-l-32 left">
                      <ol>
                        <li>1. 제품 안전성 및 품질관리</li>
                        <li>2. 고객에 대한 책임</li>
                      </ol>
                    </td>
                    <td class="p-l-32 left">
                      제품의 안전과 품질 향상을 위해 품질경영체계(ISO 9001, ISO 29001, ISO 3834 인증)를 갖추고, 제품 안전 위험평가 및 모니터링과 더불어 인도 이후 A/S 등 고객에 대한 책임을 강화하고 고객과 신뢰 관계 형성에 최선을 다하고 있습니다.
                    </td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>스마트 품질관리로 업무 효율화 달성을 위한 신기술 도입(XR) 및 업무 전산화</li>
                        <li>ISO 29001(석유, 석유화학 및 천연가스 품질관리시스템 인증서) 갱신</li>
                      </ul>
                    </td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>고객 품질 만족도 청취 및 반영 중</li>
                        <li>품질경영시스템 내부 심사 예방/시정 조치 건수 : 77건 (조치율 100%)</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="section-qm sec-5 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질경영시스템 운영현황</div>
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 주기적인 품질경영시스템의 효과성 평가를 위해 내부심사 및 외부심사를 수행함으로써 시스템을 지속적으로 개선해 가고 있습니다. <span class="m_hanwhaL">한화오션</span>이 2023년 수행한 심사 현황은 다음과 같습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="common-table-wrap in_sec_box">
              <table class="common-table">
                <thead>
                  <tr>
                    <th class="p-l-32 left">구분</th>
                    <th class="p-l-32 left">대상</th>
                    <th class="p-l-32 left">예방/시정조치 건수 (개선 조치율)</th>
                    <th class="p-l-32 left">기대효과</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-l-32 left">내부심사</td>
                    <td class="p-l-32 left">총 24개 조직</td>
                    <td class="p-l-32 left">79건 (100%)</td>
                    <td class="p-l-32 left" rowspan="2">품질시스템 요구사항 검증을 통한 <br>프로세스 보완 및 정합성 확보</td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">외부심사</td>
                    <td class="p-l-32 left">총 18개 조직</td>
                    <td class="p-l-32 left">33건 (100%)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="section-qm sec-6 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질 지표</div>
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 분기별 품질경영회의를 통해 생산, 설계, 구매의 품질관리 지표에 대한 목표 및 실적을 점검하고 있습니다. 주요 품질관리 지표로는 공정검사 재검률 및 적중률, 비파괴 검사 재검률 등이 있습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="common-table-wrap in_sec_box">
                <table class="common-table">
                  <thead>
                    <tr>
                      <th class="p-l-32 center" rowspan="2">항목</th>
                      <th class="p-l-32 center" rowspan="2">지표(%)</th>
                      <th class="p-l-32 center" colspan="2">2021년</th>
                      <th class="p-l-32 center" colspan="2">2022년</th>
                      <th class="p-l-32 center orange" colspan="2">2023년</th>
                    </tr>
                    <tr>
                      <th class="p-l-32 center">목표</th>
                      <th class="p-l-32 center">실적</th>
                      <th class="p-l-32 center">목표</th>
                      <th class="p-l-32 center">실적</th>
                      <th class="p-l-32 center orange">목표</th>
                      <th class="p-l-32 center orange">실적</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="p-l-32 center" rowspan="2">공정검사</td>
                      <td class="p-l-32 center">재검률</td>
                      <td class="p-l-32 center">1.21</td>
                      <td class="p-l-32 center">0.75</td>
                      <td class="p-l-32 center">1.03</td>
                      <td class="p-l-32 center">0.59</td>
                      <td class="p-l-32 center orange">0.64</td>
                      <td class="p-l-32 center orange">0.89</td>
                    </tr>
                    <tr>
                      <td class="p-l-32 center">적중률</td>
                      <td class="p-l-32 center">97.37</td>
                      <td class="p-l-32 center">98.22</td>
                      <td class="p-l-32 center">97.70</td>
                      <td class="p-l-32 center">98.05</td>
                      <td class="p-l-32 center orange">98.03</td>
                      <td class="p-l-32 center orange">97.55</td>
                    </tr>
                    <tr>
                      <td class="p-l-32 center" rowspan="2">비파괴검사</td>
                      <td class="p-l-32 center">재검률(RT)</td>
                      <td class="p-l-32 center">1.58</td>
                      <td class="p-l-32 center">1.71</td>
                      <td class="p-l-32 center">1.58</td>
                      <td class="p-l-32 center">2.25</td>
                      <td class="p-l-32 center orange">0.99</td>
                      <td class="p-l-32 center orange">0.99</td>
                    </tr>
                    <tr>
                      <td class="p-l-32 center">재검률(UT)</td>
                      <td class="p-l-32 center">0.54</td>
                      <td class="p-l-32 center">0.17</td>
                      <td class="p-l-32 center">0.44</td>
                      <td class="p-l-32 center">0.22</td>
                      <td class="p-l-32 center orange">0.32</td>
                      <td class="p-l-32 center orange">0.35</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <ol class="refer">
              <li><span class="m_desc">* 선박사업 관련 지표 (해양 및 특수선은 별도 관리)</span></li>
            </ol>
          </div>
          <div class="section-qm sec-7 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질 Risk 대응 활동</div>
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 선제적 관리를 위해 사전검사, Claim 분석 등을 통하여 품질 리스크에 대한 예방 활동을 수행하고 있습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="in_sec_box in_mob_scr scr-center scr-wide">
              <picture class="picture">
                <img src="/resources/images/gov/qm/diagram03.webp" alt="Graph">
                <div class="icon-swipe"></div>
              </picture>
            </div>
            <div class="sr-only">
              <strong>품질 Risk
                예방 활동</strong>
              <ul>
                <li>Lessons Learned
                  활동</li>
                <li>주요 항목
                  QM 사전검사 실시</li>
                <li>AS Claim
                  분석 활동</li>
                <li>협력사 대상
                  프로젝트 사전 설명회</li>
                <li>실적선 Risk 항목
                  사전검사 실시</li>
                <li>생산 도면 
                  사전 검토</li>
              </ul>
            </div>
          </div>
          <div class="section-qm sec-8 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질경영 <br class="pc">주요 추진 활동</div>
                  <div class="desc">
                    <div class="item">
                      <p class="intro in_sec_copy"><span class="m_hanwhaL">한화오션</span>의 2024년 품질경영 중점 추진 방향으로, 품질 프로세스 혁신을 통한 실패 비용 최소화, 선제적 품질 예방활동 및 품질 조기 안정화, 디지털 품질관리 체계 구축, 주요 기자재 품질 확보 및 협력사 품질 안정화, 책임지는 품질 문화 정착 및 QM 역량 강화를 선정하였습니다. 이를 통한 스마트 품질경영 및 프로세스 개선 달성으로 공정과 품질을 동시에 확보할 수 있도록 노력하고 있습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="common-table-wrap in_sec_box">
              <table class="common-table">
                <thead>
                  <tr>
                    <th class="p-l-32 left" rowspan="2">중점 추진 방향</th>
                    <th class="p-l-32 left" rowspan="2">주요 추진 활동</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-l-32 left">품질 프로세스 혁신을 통한 <br class="mobile">실패 비용 최소화</td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>품질 검사/관리 업무 프로세스 혁신 (Spec./계약서, ITP, 생산 작업-검사 연계 등)</li>
                        <li>초도품/국산화 개발 제품 품질검증 프로세스 혁신</li>
                        <li>프로젝트 첫 호선 제작사 제품 선제적 품질 검증 및 완성도 향상</li>
                        <li>품질 실패비용 항목별 집계 시스템 고도화  </li>
                      </ul>                     
                    </td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">선제적 품질 예방활동 및 <br class="mobile">품질 조기 안정화</td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>품질문제 사전 예방 활동/과정품질 관리 및 선주 위임 검사 확대 발굴</li>
                        <li>합리적 고객 대응 및 품질 Risk 사전 대응</li>
                      </ul>                     
                    </td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">디지털 품질관리 체계 구축</td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>통합품질관리시스템 Up-Grade를 통한 품질관리 DX 추진</li>
                        <li>스마트 품질검사 항목 선정 및 실행 계획 구축</li>
                      </ul>                     
                    </td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">주요 기자재 품질 확보 및 <br class="mobile">협력사 품질 안정화</td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>전사 기자재 품질 Risk 제거 One-Team 활동 추진 (상선/해양)</li>
                        <li>LNGC 기자재 품질 확보 활동</li>
                        <li>협력사 품질관리 체계 개선 및 신규 해외 기자재 발주 품질 관리</li>
                        <li>협력사 기술/품질관리 역량 지원 및 주요 품질 관리점 교육</li>
                      </ul>                     
                    </td>
                  </tr>
                  <tr>
                    <td class="p-l-32 left">책임지는 품질 문화 정착 및 <br class="mobile">QM 역량 강화</td>
                    <td class="p-l-32 left">
                      <ul class="dot_list">
                        <li>책임지는 전사 품질 문화 정착</li>
                        <li>품질 고유 안전 문화 정착 및 기초질서 확립</li>
                        <li>QM 관리 역량 향상 및 전문 능력 함양</li>
                      </ul>                     
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="section-qm sec-9 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">통합품질경영 시스템</div>
                  <div class="desc">
                    <div class="item">
                      <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 시스템을 통한 품질관리를 통해 제품 품질을 향상하고, Data에 근거한 관리를 위하여 디지털 품질관리 체계를 구축하여 모든 품질관리 활동에 대한 프로세스를 통합품질경영 시스템을 통해 관리하고 있습니다. 그리고 생산 접근성 강화를 위한 모바일 품질시스템 연계 사용으로 현장에서 모든 검사 관련 업무를 처리할 수 있는 환경을 마련하여 검사원들의 편의성을 향상하였습니다. 2024년에는 기존 통합품질경영시스템 Upgrade 작업을 진행할 예정이며, 이를 위해 공정 간 입력 Data Logic 개선/원격 및 위임 검사 확대를 위한 연계 작업 등의 세부 추진 활동을 계획하고 있습니다. 이와 같은 활동을 통한 시스템 고도화 및 스마트 품질검사 환경 구축으로 업무 효율 향상을 달성하겠습니다. 위와 같이 회사는 끊임없이 도전하고 스스로 혁신하여 그레이트 챌린저가 되기 위한 지속적인 활동에 앞장서겠습니다.</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="section-qm sec-10 in_sec_box_area">
            <div class="common-grid">
              <div class="title-wrap">
                  <div class="title m_h3 in_sec_copy">품질실패비용 시스템</div>
                  <div class="desc">
                    <div class="item">
                      <p class="in_sec_copy"><span class="m_hanwhaL">한화오션</span>은 품질문제로 인해 발생되는 비용에 대한 시각화/정합화를 위해 품질실패비용 시스템을 구축하는 등 지속적인 개선/고도화를 추진하고 있습니다. 해당 시스템은 품질 향상을 위한 투자 우선순위를 결정하고, 품질 관리 활동의 효과를 측정하도록 합니다. 이 시스템을 통해 내부 품질 문제로 인한 비용, 고객 불만으로 인한 비용 등을 종합적으로 관리하고, 고객 만족도 제고와 경쟁력 강화에 힘쓰고 있습니다.</p>
                      <picture class="picture in_sec_copy">
                        <img src="/resources/images/gov/qm/result01.webp" alt="Images">
                      </picture>
                    </div>
                  </div>
              </div>
            </div>
            <strong class="sec-title m_h8 in_sec_box_area">품질실패비용 관리 프로세스</strong>
            <picture class="picture pic-li in_sec_box_area">
              <source media="(min-width: 769px)" srcset="/resources/images/gov/qm/list01.jpg">
              <source media="(max-width: 768px)" srcset="/resources/images/gov/qm/list01-mo.jpg">
              <img class="core" src="/resources/images/gov/qm/list01.jpg" alt="Images">
            </picture>
            <div class="sr-only">
              <ul>
                <li>품질 문제 발생 시
                  관련 비용 파악</li>
                <li>비용 데이터
                  체계적 관리</li>
                <li>비용 분석을 통한 문제점 도출</li>
                <li>개선 활동 수립 및 실행</li>
                <li>개선 효과
                  모니터링 및 피드백</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>