<%- include('./src/include/header-en.ejs', { title: 'Reduction Activities' }) %>

<main id="RD" class="nz rd">
  <div class="main-inner" data-path="rt">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Carbon Neutrality</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Carbon Neutrality</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/nz/nz_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/nz/nz_kv-mo.webp">
                <img class="core" src="/resources/images/hse/nz/nz_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area rd-area" id="nzRd">
                <div class="rd-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/nz/rt/#nzRt" class="tab-item">Reduction Targets</a>
                            <a href="/en/hse/nz/rd/#nzRd" class="active tab-item">Reduction Activities</a>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 in_sec_copy">Net Zero: <br>
                                  Sailing for Carbon-Free Vessels</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy">In line with the digital transformation trends, <span class="m_hanwhaL">Hanwha Ocean</span> will realize smart shipyards and equip itself with eco-friendly low- and zero-carbon solutions preemptively to lead the energy transition. Also , we are developing eco-friendly ships with diverse green ship solutions such as high-manganese steel tanks and rotor sails, as well as constructing carbon-free fuel-powered ships and new types of vessels, in order to contribute to achieving the goal of carbon neutrality.We completed a total shipbuilding solution for eco-friendly ships through the acquisition of <span class="m_hanwhaL">Hanwha Engine</span> in February 2024. Going forward, we will preemptively lay the groundwork for the development of green technologies by carrying out offshore demonstrations through our own shipping company, <span class="m_hanwhaL">Hanwha Shipping.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="in_mob_scr scr-center scr-wide">
                          <div class="picture in_sec_box_area">
                            <div class="point-wrap in_sec_box">
                              <div class="point">
                                  <div class="icon"><span class="blind">Green Ship
                                    Solutions</span></div>
                                  <div class="txt-wrap">
                                      <span>Green Ship <br>
                                        Solutions</span>
                                  </div>
                              </div>
                              <div class="point">
                                  <div class="icon"><span class="blind">Smart
                                    Shipyard</span></div>
                                  <div class="txt-wrap">
                                      <span>Smart <br>
                                        Shipyard</span>
                                  </div>
                              </div>
                              <div class="point">
                                <div class="icon"><span class="blind">Offshore
                                  Demonstrations</span></div>
                                <div class="txt-wrap">
                                    <span>Offshore <br>
                                      Demonstrations</span>
                                </div>
                              </div>
                            </div>
                            <div class="sub-wrap in_sec_box">
                              <div class="tit">Our solutions for the transition to the future of ships</div>
                            </div>
                            <div class="card-wrap in_sec_box_area">
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">Partnered with GasLog for OCCS development</div>
                                  <div class="info">
                                      <p>In 2022, we partnered with GasLog, a Greek shipping company, to develop OCCS in earnest.
                                        We also obtained an AIP for NaOH-based OCCS from KR in October 2023.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">Won orders for the world’s largest ammonia carriers</div>
                                  <div class="info">
                                      <p>We won orders from an Oceania-based shipping company for constructing the world’s largest 93K CBM ammonia carrier in 2023 and again in 2024.
                                        The ammonia carriers will be equipped with HS4, our independent smart ship platform, and green technology like SGM, the latest carbon reduction technology.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">Obtained AIPs for the world’s first ammonia-powered LNG carriers</div>
                                  <div class="info">
                                    <p>In September 2023, we won an AIP for ammonia-powered LNG carriers following the approvals for ammonia-powered container ships and very-large crude oil carriers (VLCCs) from BV and Lloyd’s Register in 2022.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                  <div class="tit m_h9">Completed a total shipbuilding solution to maximize synergies in developing green ship technology through acquisition of <span class="m_hanwhaL">Hanwha Engine</span></div>
                                  <div class="info">
                                    <p>In February 2024, we acquired <span class="m_hanwhaL">Hanwha Engine</span> (former HSD Engine), the world’s second-largest low-speed engine manufacturer for ships, to maximize synergies in developing green ship technology and provide a total shipbuilding solution to our customers.</p>
                                  </div>
                              </div>
                              <div class="card in_sec_box">
                                <div class="tit m_h9">Laid foundation for preemptive development of green technology through offshore demonstration via <span class="m_hanwhaL">Hanwha Shipping</span></div>
                                <div class="info">
                                  <p>We founded <span class="m_hanwhaL">Hanwha Shipping LLC</span> which will serve as a platform for verification of green and digital shipping technology.With the establishment of our own shipping company, we laid the foundation for the preemptive development of green technology from construction to demonstration of carbon-free ships.</p>
                                </div>
                              </div>
                            </div>
                            <div class="icon-swipe"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>