<%- include('./src/include/header-en.ejs', { title: 'Stakeholder Engagement' }) %>

<main id="SC" class="sc osa">
  <div class="main-inner" data-path="sc">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Stakeholder Engagement</h2>
        </div>

        <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2">Stakeholder Engagement</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/osa/sc_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/osa/sc_kv-mo.webp">
              <img class="core" src="/resources/images/osa/sc_kv-pc.webp" alt="Key Visaul">
            </picture>
          </div>
        </div>
      </div>
        
    </div>

    <section class="sub_container">
        <div class="osa-area sc-area">
          <div class="sc-con">
            <div class="common-grid inner">
              <div class="title-wrap">
                  <p class="desc in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> defines our key stakeholders as customers, shareholders and investors, employees, suppliers, local communities, government, and industries. We operate diverse communication channels in consideration of the characteristics of each stakeholder. Leveraging these channels, we identify what they expect from us. We will remain dedicated to actively communicating with our stakeholders, making sure that their expectations are reflected in our sustainable management strategies.</p>
              </div>
            </div>
            <div class="infogram-wrap in_sec_box_area">
              <div class="infogram in_sec_box scr-center">
                <div class="graph-img">
                  <picture>
                    <source media="(min-width: 769px)" srcset="/resources/images/osa/sc_info_diagram-pc_en.webp">
                    <source media="(max-width: 768px)" srcset="/resources/images/osa/sc_info_diagram-pc_en.webp">
                    <img src="/resources/images/osa/sc_info_diagram-pc_en.webp" alt="Images">
                  </picture>
                </div>
                <div class="sr-only">
                 <dl>
                  <dt>Stakeholder
                    Groups</dt>
                  <dd>
                    <ul>
                      <li>
                        <dl>
                          <dt>Customers</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>Channels</dt>
                                  <dd>
                                    <ul>
                                      <li>Voice of the customer</li>
                                      <li>Customer satisfaction survey</li>
                                      <li>International fairs and conferences</li>
                                      <li>In-person visits (branch operation)</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>Key interests</dt>
                                  <dd>
                                    <ul>
                                      <li>Environmental management system</li>
                                      <li>Safety and health</li>
                                      <li>Quality management</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>Government and regulatory authorities</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>Channels</dt>
                                  <dd>
                                    <ul>
                                      <li>Membership in associations and societies</li>
                                      <li>Conferences and meetings</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>Key interests</dt>
                                  <dd>
                                    <ul>
                                      <li>Fair market competition</li>
                                      <li>Strengthening industrial competitiveness</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>Local communities and NGOs</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>Channels</dt>
                                  <dd>
                                    <ul>
                                      <li>Diverse presentations and meetings for local residents</li>
                                      <li>Diverse community contribution activities</li>
                                      <li>Local governments and companies engaging in the same industry
                                        (Geoje City Government, networking with Samsung Heavy Industries)</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>Key interests</dt>
                                  <dd>
                                    <ul>
                                      <li>Environmental management system</li>
                                      <li>Development of eco-friendly products and technologies</li>
                                      <li>Climate action</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>Investors</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>Channels</dt>
                                  <dd>
                                    <ul>
                                      <li>Annual General Meeting (AGM) and disclosure activities</li>
                                      <li>Company briefings</li>
                                      <li>Business report and sustainability report</li>
                                      <li>Investor conference call</li>
                                      <li>Tech demo day</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>Key interests</dt>
                                  <dd>
                                    <ul>
                                      <li>Development of eco-friendly products and technologies</li>
                                      <li>Climate action</li>
                                      <li>Supply chain management and 
                                        shared growth</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>Employees</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>Channels</dt>
                                  <dd>
                                    <ul>
                                      <li>Management briefings, interactives, Ocean View</li>
                                      <li>Official company news</li>
                                      <li>B&CP(Business&Culture Partner)</li>
                                      <li>Labor-management council and collective bargaining</li>
                                      <li>Town hall meetings</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>Key interests</dt>
                                  <dd>
                                    <ul>
                                      <li>Development of eco-friendly products and technologies</li>
                                      <li>Climate action</li>
                                      <li>Safety and health</li>
                                      <li>Improvements in working environment</li>
                                      <li>Welfare benefits</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>Suppliers</dt>
                          <dd>
                            <ul>
                              <li>
                                <dl>
                                  <dt>Channels</dt>
                                  <dd>
                                    <ul>
                                      <li>In-house supplier representatives council</li>
                                      <li>Global Top (supplier council)</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                              <li>
                                <dl>
                                  <dt>Key interests</dt>
                                  <dd>
                                    <ul>
                                      <li>Safety and health</li>
                                      <li>Improvements in working environment</li>
                                      <li>Recruitment and compensation</li>
                                    </ul>
                                  </dd>
                                </dl>
                              </li>
                            </ul>
                          </dd>
                        </dl>
                      </li>
                    </ul>
                  </dd>
                 </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>