<%- include('./src/include/header-en.ejs', { title: 'Reduction Targets' }) %>

<main id="RT" class="nz rt">
  <div class="main-inner" data-path="rt">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Carbon Neutrality</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Carbon Neutrality</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/nz/nz_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/nz/nz_kv-mo.webp">
                <img class="core" src="/resources/images/hse/nz_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area rt-area" id="nzRt">
                <div class="rt-con">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/nz/rt/#nzRt" class="active tab-item">Reduction Targets</a>
                            <a href="/en/hse/nz/rd/#nzRd" class="tab-item">Reduction Activities</a>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3 intro in_sec_copy">Carbon Neutrality <br>Roadmap</div>
                                <div class="desc">
                                    <p class="intro in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> devised a carbon neutrality roadmap and set the goals of cutting 40% GHG emissions by 2030 and achieving carbon neutrality by 2050. Based on our roadmap, we will review and manage the progress of our goals for reducing GHG emissions and saving energy each year.</p>
                                </div>
                            </div>
                        </div>
                        <div class="infogram-wrap in_sec_box_area">
                          <div class="infogram in_sec_box">
                            <div class="tit-wrap">
                              <div class="tit m_h8">Carbon Neutrality Roadmap</div>
                              <div class="unit m_desc">Unit : 10,000 tCO<sub>2</sub>eq</div>
                            </div>
                            <div class="graph-img in_mob_scr scr-wide">
                                <picture class="picture">
                                  <img src="/resources/images/hse/nz/nz_rd_infogram_roadmap_en.webp" alt="Graph">
                                </picture>
                                <div class="icon-swipe"></div>
                            </div>
                            <div class="sr-only">
                              <ul>
                                <li>Projected emissions</li>
                                <li>Target emissions</li>
                                <li>(For Scope 1 and 2 only)</li>
                              </ul>
                              <ul>
                                <li>
                                  <dl>
                                    <dt>2018</dt>
                                    <dd>Base Year 2018</dd>
                                    <dd>43.0</dd>
                                  </dl>
                                </li>
                                <li>
                                  <dl>
                                    <dt></dt>
                                    <dd>41.7</dd>
                                  </dl>
                                </li>
                                <li>
                                  <dl>
                                    <dt>2023</dt>
                                  </dl>
                                </li>
                                <li>
                                  <dl>
                                    <dt>2030</dt>
                                    <dd>20.1</dd>
                                    <dd>reduced 40%</dd>
                                  </dl>
                                </li>
                                <li>
                                  <dl>
                                    <dt>2050</dt>
                                    <dd>52.0</dd>
                                    <dd>Carbon neutrality</dd>
                                  </dl>
                                </li>
                              </ul>
                              
                            </div>
                          </div>
                          <div class="table in_sec_box">
                            <div class="common-table-wrap">
                              <table class="common-table">
                                <caption>Carbon Neutrality Roadmap</caption>
                                <thead>
                                  <tr>
                                    <th class="p-l-84 left">Classification</th>
                                    <th class="center">Unit</th>
                                    <th class="right p-r-84">2030</th>
                                    <th class="right p-r-84">2050</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th class="p-l-84 left">Reduction rate (from the 2018 level)</th>
                                    <td class="center">%</td>
                                    <td class="right p-r-84">40.0</td>
                                    <td class="right p-r-84">100</td>
                                  </tr>

                                  <tr>
                                    <th class="p-l-84 left">Projected emissions</th>
                                    <td class="center">10,000<br class="mobile">tCO<sub>2</sub>eq</td>
                                    <td class="right p-r-84">45.9</td>
                                    <td class="right p-r-84">52.0</td>
                                  </tr>

                                  <tr>
                                    <th class="p-l-84 left">Target emissions</th>
                                    <td class="center">10,000<br class="mobile">tCO<sub>2</sub>eq</td>
                                    <td class="right p-r-84">25.8</td>
                                    <td class="right p-r-84">Zero</td>
                                  </tr>

                                  <tr>
                                    <th class="p-l-84 left">Emissions reduction target</th>
                                    <td class="center">10,000<br class="mobile">tCO<sub>2</sub>eq</td>
                                    <td class="right p-r-84">20.1</td>
                                    <td class="right p-r-84">52.0</td>
                                  </tr>
                    
                                 
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>