<%- include('./src/include/header-en.ejs', { title: 'Occupational Safety and Health' }) %>

<main id="OSH" class="sh osh">
  <div class="main-inner" data-path="sh-ov">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Safety and Health</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Safety and Health</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_kv-mo.webp">
                <img class="core" src="/resources/images/hse/sh/sh_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
        <div class="sec_inner">
            <div class="hse-area osh-area" id="shOsh">
                <div class="osh-con in_sec_box_area">
                    <div class="common-tab-looking-a-wrap">
                        <div class="tab-looking-a line-tab">
                            <a href="/en/hse/sh/ov/#shOv" class="tab-item">Overview</a>
                            <a href="/en/hse/sh/osh/#shOsh" class="active tab-item">Occupational Safety and Health</a>
                            <a href="/en/hse/sh/smart/#shSmart" class="tab-item">Smart Safety</a>
                        </div>
                    </div>
                    <div class="content-box in_sec_box sec-01">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3">Occupational Safety <br>and Health Training</div>
                                <div class="desc">
                                    <p class="intro"><span class="m_hanwhaL">Hanwha Ocean</span> classifies new suppliers and our new employees into risk-prone groups, providing them with intensive care and necessary support to avoid the occurrence of major disasters. Indoor and outdoor training facilities are installed in the shipyard to provide diverse programs such as experiencing workplace falls, using a gondola, and VR experience. The curriculum is divided into 13 courses, including both statutory and non-statutory training. 27,713 persons participated in the programs held over 608 sessions until 2023.</p>
                                </div>
                            </div>
                        </div>
                        <div class="in_mob_scr scr-wide">
                            <div class="card-wrap picture">
                                <div class="card">
                                    <div class="tit m_h9">Creating The Optimal Educational Environment</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_01-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>Continuous implementation of an HSE educational environment improvement plan (draft) for 2022 (maximum use of in-house buildings)</li>
                                            <li>Spatial planning of HSE training facilities</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="tit m_h9">Reorganization of Experiential Education for  Vulnerable Safety Groups</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_02-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>Rapid increase in new hires due to a surge in orders</li>
                                            <li>Eligibility : New hires + foreign workers</li>
                                            <li>Objective : To strengthen the safety training focusing on field experience</li>
                                            <li>Method : Experiential training on risk factors such as height, confined space, gas, and fire</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="tit m_h9">Strengthening Argon Asphyxiation Prevention Education</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_03-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>Building expertise in argon handling</li>
                                            <li>Increasing the frequency of argon safety training</li>
                                            <li>Batch training history management and distribution of training completion stickers</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="tit m_h9">New Forklift Safety <br>
                                      Training Program</div>
                                    <div class="info">
                                        <div class="img-wrap">
                                            <picture>
                                                <img src="/resources/images/hse/sh/sh_osh_card_04-pc.webp" alt="Images">
                                            </picture>
                                        </div>
                                        <ul class="common-circle-list">
                                            <li>Forklift as the no. 1 cause of serious accidents</li>
                                            <li>Special safety and health training for forklift drivers</li>
                                            <li>Lecture : Specialized safety and health training institute</li>
                                            <li>Target : All forklift drivers in the company</li>
                                            <li>Frequency : Twice a year</li>
                                            <li>Batch training history management and distribution of training completion stickers</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="icon-swipe"></div>
                        </div>
                        <div class="point-wrap">
                            <div class="point">
                                <div class="icon"><span class="ic_bg"></span><span class="blind">VR Experience Facilities</span></div>
                                <div class="txt-wrap">
                                    <span>VR Experience Facilities</span>
                                    <strong class="m_h7">50</strong>
                                </div>
                            </div>
                            <div class="point">
                                <div class="icon"><span class="ic_bg"></span><span class="blind">CPR Dummies</span></div>
                                <div class="txt-wrap">
                                    <span>CPR Dummies</span>
                                    <strong class="m_h7">10</strong>
                                </div>
                            </div>
                            <div class="point">
                                <div class="icon"><span class="ic_bg"></span><span class="blind">Tablet PCs for Training</span></div>
                                <div class="txt-wrap">
                                    <span>Tablet PCs for Training</span>
                                    <strong class="m_h7">50</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box in_sec_box sec-02">
                        <div class="common-grid">
                            <div class="title-wrap">
                                <div class="title m_h3">Occupational Safety <br>and Health Activities</div>
                                <div class="desc">
                                    <p class="intro">In an effort to improve the safety infrastructure for foreign workers, <span class="m_hanwhaL">Hanwha Ocean</span> developed a dedicated mobile app. This app provides services in eight languages and consists of the company’s safety rules; information about daily lives, safety, welfare, and culture; and bulletin boards to help them learn Korean easily. We developed training materials translated into different languages to provide virtual reality (VR) safety training for foreign workers.
                                      <br><br>
                                      Also, we improved the visibility of safety signs found throughout the shipyard so that they can recognize risk factors immediately. We endeavor to constantly develop safety training content for foreign workers including safety training materials for new hires translated into eight languages, safety guidebooks, and simple OX training materials.</p>
                                    <div class="grid-item">
                                        <div class="grid-box">
                                            <div class="grid-elm elm-full">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_01-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_01-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_content_01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <span>Mobile app for foreign workers</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_02-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_02-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_content_02-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <span>Mobile app for foreign workers</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_03-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_content_03-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_content_01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <span>Examples of basic safety guidebook for foreign workers and OX safety training materials</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc-item">
                                        <div class="item-tit m_h6"><span class="m_hanwhaR">Hanwha Ocean</span> carries out the following activities in an effort to build a safety and health system not only within the company but also with its suppliers.</div>
                                        <ol>
                                            <li class="item">
                                                <span class="m_caption">01</span>
                                                <div class="m_h6">Safety and Health Qualification Testing for Suppliers</div>
                                                <p><span class="m_hanwhaL">Hanwha Ocean</span> conducts safety and health qualification testing in advance before concluding a contract with internal and external suppliers to evaluate their capabilities and technologies and prevent occupational accidents.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">02</span>
                                                <div class="m_h6">Safety Assessment Consulting</div>
                                                <p><span class="m_hanwhaL">Hanwha Ocean</span> injects approx. KRW 500 million each year to boost the safety capabilities of our suppliers. Additionally, we offer safety assessment consulting services to our internal suppliers through a contract with agencies designated by the Ministry of Employment and Labor (MOEL).</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">03</span>
                                                <div class="m_h6">Support for Safety Training</div>
                                                <p><span class="m_hanwhaL">Hanwha Ocean</span> provides quality safety training to our entire members, including employees of internal suppliers, through specialized educational institutions designated as safety and health training agencies by MOEL. Specifically, we hired global coordinators who can provide translation and interpretation services into languages of seven countries, which account for 75% of our foreign workers, to support safety training and translation at our business sites.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">04</span>
                                                <div class="m_h6">Safety and Health Level Assessment</div>
                                                <p><span class="m_hanwhaL">Hanwha Ocean</span> periodically conducts health and safety level assessments to evaluate the safety awareness of our suppliers and identify the current situation. The assessment is carried out based on HSE management performance, safety diagnosis of suppliers by professional organizations, and other items. For suppliers with poor assessment results, we make sure that they improve their voluntary performance of safety assessments by providing safety consulting services, intensive safety diagnosis, and practical guidance.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">05</span>
                                                <div class="m_h6">Safety and Health Meeting with Suppliers</div>
                                                <p>At<span class="m_hanwhaL">Hanwha Ocean</span>, we hold a safety and health council meeting with representatives of our suppliers each month to share and discuss issues on safety, health, and environment. Additionally, we convene a monthly meeting with safety managers of our suppliers to listen to HSE-related grievances and explore solutions. Through these meetings, we aim to create a cooperative system to ensure workplace safety for all members.</p>
                                            </li>
                                            <li class="item">
                                                <span class="m_caption">06</span>
                                                <div class="m_h6">Reward System</div>
                                                <p>In 2023,<span class="m_hanwhaL">Hanwha Ocean</span> rewarded KRW 120 million to encourage all members (including employees of suppliers) to participate in HSE improvement activities. About 1,600 employees of suppliers participated in HSE improvement activities for the year.</p>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="card-item">
                                        <p><span class="m_hanwhaL">Hanwha Ocean</span> pursues active safety management activities anchored in our safety and health reinforcement policy. In 2023, we conducted a regular risk assessment covering 234 organizations including 129 units under direct management and 105 suppliers. We examined 5,041 tasks and identified 88,003 risk factors, and we are continuously reducing or eliminating the remaining 5,121 risk factors.</p>
                                        <div class="in_mob_scr scr-wide">
                                            <div class="card-wrap picture">
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>Step 1</span>
                                                        <strong class="m_h9">Preparation</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>Develop 
                                                              implementation 
                                                              procedures and plans</li>
                                                            <li>Prepare judgment 
                                                              data, etc.</li>
                                                            <li>Collect safety and 
                                                              health data, etc.</li>
                                                            <li>Conduct risk 
                                                              assessment training</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>Step 2</span>
                                                        <strong class="m_h9">Identification of hazards and risk factors</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>Conduct round 
                                                              inspections in the 
                                                              workplace </li>
                                                            <li>Hear out 
                                                              workers’ opinions</li>
                                                            <li>Brainstorming based 
                                                              on work standards</li>
                                                            <li>Classify by 4M 
                                                              methods and 
                                                              accident types</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>Step 3</span>
                                                        <strong class="m_h9">Risk <br>determination</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>Determine the risk 
                                                              level, among others, 
                                                              based on the criteria 
                                                              set in advance</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>Step 4</span>
                                                        <strong class="m_h9">Development <br>and <br>implementation of risk reduction measures</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>Review reduction 
                                                              measures according 
                                                              to priorities</li>
                                                            <li>Develop and 
                                                              implement all 
                                                              high-risk reduction 
                                                              measures</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>Step 5</span>
                                                        <strong class="m_h9">Sharing the results</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>Post and disclose 
                                                              the assessment result</li>
                                                            <li>Compose a routine 
                                                              job safety analysis 
                                                              (JSA) list</li>
                                                            <li>Share the result via 
                                                              Tool Box Meeting 
                                                              (TBM ), etc.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="tit">
                                                        <span>Step 6</span>
                                                        <strong class="m_h9">Recordkeeping</strong>
                                                    </div>
                                                    <div class="info">
                                                        <ul class="common-line-list">
                                                            <li>Record the assessment result and measures taken and store them for 3 years</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-swipe"></div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="item-tit m_h6">Yard Basic Safety 4 Rules</div>
                                        <div class="grid-box basic-box">
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_01-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_01-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_01-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">Cell phone Safety</strong>
                                                    <span class="m_desc">Never use Cell phones and earphones (while walking, working, driving, cycling)</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_02-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_02-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_02-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">Bicycle Safety</strong>
                                                    <span class="m_desc">Do not speed up, never ride cycle with one hand</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_03-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_03-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_03-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">Smoking Regulations</strong>
                                                    <span class="m_desc">Never smoke in undesignated area and near inflammable materials</span>
                                                </div>
                                            </div>
                                            <div class="grid-elm">
                                                <div class="img-wrap">
                                                    <picture>
                                                        <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_04-pc.webp">
                                                        <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_rule_04-mo.webp">
                                                        <img src="/resources/images/hse/sh/sh_osh_safe_rule_04-pc.webp" alt="Images">
                                                    </picture>
                                                </div>
                                                <div class="txt-wrap">
                                                    <strong class="m_h9">Protective equipment</strong>
                                                    <span class="m_desc">Wearing protective equipment properly</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box in_sec_box sec-03">
                        <div class="infogram-wrap">
                            <div class="tit m_h6">12 Golden Rules</div>
                            <div class="in_mob_scr scr-wide">
                                <picture class="picture">
                                    <source media="(min-width: 769px)" srcset="/resources/images/hse/sh/sh_osh_safe_infogram_en.webp">
                                    <source media="(max-width: 768px)" srcset="/resources/images/hse/sh/sh_osh_safe_infogram_en.webp">
                                    <img src="/resources/images/hse/sh/sh_osh_safe_infogram_en.webp" alt="Images">
                                </picture>
                                <div class="icon-swipe"></div>
                            </div>

                            <div class="graph-txt">
                               <ul>
                                    <li>Wear a safety harness while working in high places</li>
                                    <li>Comply with all scaffold installation and dismantling standards</li>
                                    <li>Test oxygen levels before entering enclosed spaces</li>
                                    <li>Comply with the approval process for hazardous tasks</li>
                                    <li>Install fire barriers or check blind spots during hot work</li>
                                    <li>Warn or lock out before starting electrical work</li>
                                    <li>Do not pass under blocks or materials under construction </li>
                                    <li>Stay out of the swing radius of heavy equipment and trucks</li>
                                    <li>Do not unbuckle safety harnesses without permission</li>
                                    <li>No painting and hot work at the same area</li>
                                    <li>No speeding and 
                                      using mobile phones while driving</li>
                                    <li>No driving or operation by unlicensed personnel</li>
                               </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>