<%- include('./src/include/header-en.ejs', { title: 'Supply Chain Management and Shared Growth' }) %>

  <main id="SG" class="ww sg">
    <div class="main-inner" data-path="co">

      <div class="sub_top top_img">
        <div class="top_tit_area sticky">

          <div class="top_tit-inner static">
            <h2 class="sub_top_tit m_h2 in_sec_copy">Cooperative Labor-Management <br class="pc">Relations</h2>
          </div>

          <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2 in_sec_copy">Cooperative Labor-Management <br class="pc">Relations</h2>
          </div>

        </div>

        <div class="overflow-ct">
          <div class="top_kv_area">
            <div class="core-wrap">
              <picture class="core-wrap-inner">
                <source media="(min-width:769px)" srcset="/resources/images/sr/ww/ww_kv-pc.webp">
                <source media="(max-width:768px)" srcset="/resources/images/sr/ww/ww_kv-mo.webp">
                <img class="core" src="/resources/images/sr/ww/ww_kv-pc.webp" alt="Key Visual">
              </picture>
            </div>
          </div>
        </div>

      </div>

      <section class="sub_container">
        <div class="sec_inner">
          <div class="title-con common-grid" id="wwSg">
        
            <div class="common-tab-looking-a-wrap">
              <div class="tab-looking-a line-tab">
                <a href="/en/sr/ww/co/#wwCo" class="tab-item">Labor-Management Relations</a>
                <a href="/en/sr/ww/sg/#wwSg" class="active tab-item">Supply Chain Management and Shared Growth</a>
              </div>
            </div>
        
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Supply Chain <br class="pc">Management and <br>Shared Growth</h4>
        
              <div class="desc">
        
                <div class="item in_sec_copy">
                  <p><span class="m_hanwhaL">Hanwha Ocean</span> pursues shared growth with our suppliers to achieve the goal of sustainable development and creating a fair society. We support our suppliers in various aspects, including finance, education, and technology, so as to establish a sound transaction practices and boost their competitiveness. Based on our support, we aim to develop a healthy corporate ecosystem that grows together with our suppliers.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Supply Chain Management System</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> intends to create a sustainable supply chain with the vision of “building a competitive corporate ecosystem.”In line with this, we operate a supply chain management system to identify key suppliers and manage suppliers with high risks. To manage the supply chain in consideration of business characteristics, we have procurement departments in each business division to promote efficient supply chain management, and the Labor-Management Cooperation Office (executive-level executives) in Geoje Shipyard is committed to forming fair and reasonable business partnerships with internal and external block manufacturing suppliers.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Supply Chain Management <br class="mobile">Strategy</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> aims to reinforce the competitiveness and win-win management of our  suppliers for sustainable supply chain management. In terms of win-win management, we encourage our suppliers to actively participate in ESG activities. Our goal is to increase the ESG assessment rate for our key suppliers to 100% by 2030. We plan to formulate a new ESG Code of Conduct encompassing human rights, safety and health, environment, ethics, and business management so that all suppliers can agree to and comply with it.</p>
                </div>
              </div>
        
            </div>

            <div class="strategy-con in_sec_box_area">
              
              <div class="vision-box in_sec_box">
                <span>Vision</span>
                <p class="m_h8">Boosting the competitiveness of suppliers and strengthening <br class="mobile">win-win management</p>
              </div>

              <div class="to-top in_sec_box"></div>

              <div class="goal-box in_sec_box">
                <span>Objectives</span>
                <p class="m_h8">Win-win management, <br class="mobile">shared growth, and enhanced competitiveness of suppliers</p>
              </div>

              <div class="plan-index in_sec_box">
                <span class="txt">Plan and strategy</span>
                <span class="vertical-line" data-idx="1"></span>
                <span class="vertical-line" data-idx="2"></span>
                <span class="vertical-line" data-idx="3"></span>
                <span class="horizontal-line"></span>
              </div>

              <div class="plan-list in_sec_box">
                <div class="plan-item">
                  <span class="m_h9">Strengthening <br class="mobile">win-win management</span>
                  <ul>
                    <li>Establish a new ESG Code of Conduct for <br class="pc">suppliers and operate compliance guidelines in 2024</li>
                    <li>Manage supply chain risks through semi-annual internal and external supplier assessments</li>
                  </ul>
                </div>

                <div class="plan-item">
                  <span class="m_h9">Fostering shared growth</span>
                  <ul>
                    <li>Support win-win cooperation by signing agreements with tier 1 and 2 suppliers and tier 2 and 3 suppliers, encouraging them to improve payment terms, and using standard subcontract agreement</li>
                  </ul>
                </div>

                <div class="plan-item">
                  <span class="m_h9">Boosting supplier competitiveness</span>
                  <ul>
                    <li>Protect supplier’s technology through technical support and support for patent applications</li>
                    <li>Provide education for technology <br class="pc">improvement</li>
                    <li>Provide financial guarantees linked to local governments (e.g. Geoje, Busan) and financial institutions</li>
                  </ul>
                </div>

              </div>

            </div>

            <div class="title-wrap">
              <div class="desc">
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Supplier Regular Evaluation</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> carries out regular evaluations of our major internal and external suppliers at least once each year. The evaluation is conducted in four areas of production, quality, safety, and finance to assist their voluntary effort to improve their competitiveness. The implementation of supplier ESG assessment is also covered in the periodic evaluation.</p>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="sec_inner">
          <div class="title-con common-grid">

            <div class="evalution-con">
              <div class="eval-box in_sec_copy">
                <div class="head">
                  <span class="title">Production</span>
                  <span class="score">30</span>
                </div>

                <div class="body">
                  <div class="subtitle">Evaluation Items</div>
                  <p>Process compliance rate, Contribution to output, <br class="pc">Production target achievement rate, Volume transfer management, etc.</p>
                </div>
              </div>

              <div class="eval-box in_sec_copy">
                <div class="head">
                  <span class="title">Quality</span>
                  <span class="score">20</span>
                </div>

                <div class="body">
                  <div class="subtitle">Evaluation Items</div>
                  <p>On-site frequent inspections, quality re-inspection rate, certification (ISO 9001), zero tolerance (critical quality incident management), quality improvement activities</p>
                </div>
              </div>

              <div class="eval-box in_sec_copy">
                <div class="head">
                  <span class="title">Safety</span>
                  <span class="score">20</span>
                </div>

                <div class="body">
                  <div class="subtitle">Evaluation Items</div>
                  <p>Safety accident management, <br class="pc">on-site safety activities of supervisors, TBM risk assessment, safety inspection, safety training, self-improvement activities, etc.</p>
                </div>
              </div>

              <div class="eval-box in_sec_copy">
                <div class="head">
                  <span class="title">Finance¹⁾</span>
                  <span class="score">30</span>
                </div>

                <div class="body">
                  <div class="subtitle">Evaluation Items</div>
                  <p>Credit ratings, cash flow ratings, ESG management activities (additional points for conducting ESG assessment through an external agency), loans and allowances for doubtful <br class="pc">accounts, etc.</p>
                </div>
              </div>
            </div>

            <div class="common-caption-text in_sec_copy">
              <ol>
                <li><p class="m_desc">1&#41;Additional points are given in “finance” for companies that conducted ESG assessment on our own.</p></li>
              </ol>
            </div>

            <div class="title-wrap in_sec_copy">
              <div class="desc">
                <div class="item">
                  <p>According to the assessment result, <span class="m_hanwhaL">Hanwha Ocean</span> categorizes suppliers from S to D for incentives and penalties, etc. We award outstanding suppliers and offer them with ESG consulting services such as ESG level diagnosis and on-site due diligence. To ensure that our supply chain is managed with high quality, we impose a penalty of terminating transactions with suppliers recording poor performance and are rated D more than two times.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="common-table-wrap in_sec_box_area">
          <table class="common-table in_sec_box" data-table="1">
            <caption>ESG suppliers</caption>

            <thead>
              <tr>
                <th colspan="2" class="p-l-44 left">Indicator</th>
                <th class="center">Unit</th>
                <th class="right p-r-32">2020</th>
                <th class="right p-r-32">2021</th>
                <th class="right p-r-32">2022</th>
                <th class="right p-r-32">2023</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th rowspan="3" class="p-l-44 left">Total <br class="pc">suppliers</th>
                <td class="p-l-32 left">Total suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">172</td>
                <td class="right p-r-32">178</td>
                <td class="right p-r-32">194</td>
                <td class="right p-r-32">191</td>
              </tr>

              <tr>
                <td class="p-l-32 left">Internal suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">111</td>
                <td class="right p-r-32">108</td>
                <td class="right p-r-32">118</td>
                <td class="right p-r-32">127</td>
              </tr>

              <tr>
                <td class="p-l-32 left">External suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">61</td>
                <td class="right p-r-32">70</td>
                <td class="right p-r-32">76</td>
                <td class="right p-r-32">64</td>
              </tr>

              <tr>
                <th rowspan="4" class="p-l-44 left">Newly <br class="pc">registered <br class="pc">suppliers</th>
                <td class="p-l-32 left">Newly registered suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">5</td>
                <td class="right p-r-32">13</td>
                <td class="right p-r-32">46</td>
                <td class="right p-r-32">31</td>
              </tr>

              <tr>
                <td class="p-l-32 left">Internal suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">5</td>
                <td class="right p-r-32">6</td>
                <td class="right p-r-32">19</td>
                <td class="right p-r-32">10</td>
              </tr>

              <tr>
                <td class="p-l-32 left">External suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">0</td>
                <td class="right p-r-32">7</td>
                <td class="right p-r-32">27</td>
                <td class="right p-r-32">21</td>
              </tr>

              <tr>
                <td class="p-l-32 left">Key suppliers identified</td>
                <td class="center">Y/N</td>
                <td class="right p-r-32">Y</td>
                <td class="right p-r-32">Y</td>
                <td class="right p-r-32">Y</td>
                <td class="right p-r-32">Y</td>
              </tr>

              <tr>
                <th rowspan="6" class="p-l-44 left">Suppliers <br>with high <br>risks</th>
                <td class="p-l-32 left">Suppliers subject to management</td>
                <td class="center">companies</td>
                <td class="right p-r-32">17</td>
                <td class="right p-r-32">24</td>
                <td class="right p-r-32">28</td>
                <td class="right p-r-32">27</td>
              </tr>

              <tr>
                <td class="p-l-32 left">Internal suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">16</td>
                <td class="right p-r-32">21</td>
                <td class="right p-r-32">25</td>
                <td class="right p-r-32">23</td>
              </tr>

              <tr>
                <td class="p-l-32 left">External suppliers</td>
                <td class="center">companies</td>
                <td class="right p-r-32">1</td>
                <td class="right p-r-32">3</td>
                <td class="right p-r-32">3</td>
                <td class="right p-r-32">4</td>
              </tr>

              <tr>
                <td class="p-l-32 left">Percentage of suppliers <br class="pc">subject to management</td>
                <td class="center">%</td>
                <td class="right p-r-32">10</td>
                <td class="right p-r-32">13</td>
                <td class="right p-r-32">14</td>
                <td class="right p-r-32">14</td>
              </tr>

              <tr>
                <td class="p-l-32 left">Internal suppliers</td>
                <td class="center">%</td>
                <td class="right p-r-32">14</td>
                <td class="right p-r-32">19</td>
                <td class="right p-r-32">21</td>
                <td class="right p-r-32">18</td>
              </tr>

              <tr>
                <td class="p-l-32 left">External suppliers</td>
                <td class="center">%</td>
                <td class="right p-r-32">2</td>
                <td class="right p-r-32">4</td>
                <td class="right p-r-32">4</td>
                <td class="right p-r-32">6</td>
              </tr>
            </tbody>

          </table>
        </div>

        <div class="common-fixed-wrap">
          <div class="core">
            <picture>
              <source media="(min-width:769px)" srcset="/resources/images/sr/ww/sg/sg_content1-pc.webp">
              <source media="(max-width:768px)" srcset="/resources/images/sr/ww/sg/sg_content1-mo.webp">
              <img src="/resources/images/sr/ww/sg/sg_content1-pc.webp" alt="Images">
            </picture>
          </div>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
            <div class="title-wrap">
        
              <div class="desc">
      
                <div class="item">
                  <strong class="m_h6 in_sec_copy">New Supplier Registration Process</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> reviews the qualifications of new suppliers before engaging in <br class="pc">business transactions with them. We evaluate them in the same four areas (quality, <br class="pc">safety, management, and production) as the regular evaluation of existing suppliers. <br class="pc">During document screening, we consider basic requirements such as corporate credit rating, financial soundness, existence of unethical practices, and ISO 9001 <br class="pc">certification. In the second round of evaluation, we review their business <br class="pc">qualifications by evaluating related organizations in safety, quality, production, and management. We also require new suppliers to submit the ISO 14001 certificate for environmental management systems, and we carry out an assessment of ESG factors in consideration of environmental criteria as well as quality and production standards.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Supplier ESG Education</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> selects outstanding suppliers each year after supplier regular <br class="pc">evaluation and provides free ESG consulting services to help them establish ESG management practices and mitigate ESG risks in our supply chain. In 2023, <br class="pc">we selected two outstanding suppliers (one internal and one external) and conducted a basic ESG assessment and consulting on environmental, social, and governance issues. <br class="pc">we plan to connect the consultation results to an advanced assessment.</p>
                </div>
              </div>
        
            </div>
          </div>
        </div>

        <div class="common-fixed-wrap">
          <div class="core">
            <picture>
              <source media="(min-width:769px)" srcset="/resources/images/sr/ww/sg/sg_content2-pc.webp">
              <source media="(max-width:768px)" srcset="/resources/images/sr/ww/sg/sg_content2-mo.webp">
              <img src="/resources/images/sr/ww/sg/sg_content2-pc.webp" alt="Images">
            </picture>
          </div>
        </div>

        <div class="sec_inner">

            <div class="common-accordion-list">
              <h4 class="title m_h6 in_sec_copy">Shared Growth Programs</h4>
              <div class="all-control in_sec_copy">
                <button type="button" class="toggle-switch all-toggle-btn"></button>
                <span>Open All Shared Growth Programs</span>
              </div>

              <ul class="in_sec_copy">
                <li>
                  <div class="head">
                    <span class="m_h8">Special fund for shared growth</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> joined hands with the Gyeongsangnam-do Provincial Government and Busan Metropolitan Government to raise a special fund worth KRW 5 billion for shared growth with the shipbuilding industry. We delivered the fund to shipbuilding and offshore equipment suppliers facing a shortage of work and financial difficulties to help them overcome the challenges and restore their activities in the industry.                    </p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">Creation of a specialized complex for root (ppuri) industries</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc">At <span class="m_hanwhaL">Hanwha Ocean</span>, we provide information and encourage our suppliers to register for a specialized complex for root (ppuri) industries (Okpo Industrial Complex for Root Industries) to ensure shared growth between large companies and small and medium-sized enterprises (SMEs). A total of 54 companies belonged to the six major root processes including welding, surface treatment, casting, molding, plastic processing, and heat treatment among our internal suppliers registered as of 2023. We aim to enhance their competitiveness and develop local industries in parallel through the establishment of the HSE training center, renovation of shared amenities, and implementation of industry-academia R&D projects.</p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">Support for joint labor welfare fund for suppliers</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc">From  2020, <span class="m_hanwhaL">Hanwha Ocean</span> signed an MoU with the Gyeongsangnam-do Provincial Office, declaring active cooperation for the welfare of internal suppliers’ employees engaging in the shipbuilding industry. Since then, we have been taking the lead for shared growth for shipbuilding suppliers through the Joint Labor Welfare Fund. The fund lays the foundation for implementing various welfare schemes such as housing subsidies for suppliers’ employees, financial assistance for children’s tuition fees, scholarships, and livelihood funds. In 2023, we contributed KRW 2 billion to the Joint Labor Welfare Fund and raised KRW 5.4 billion in total. We decided to contribute another KRW 2 billion to the Fund in 2024, which was approved by the board in April 2024.</p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">New technology patent applications of suppliers</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> provides financial support for patent applications regarding technologies jointly developed with its suppliers. We provided KRW 27.41 million for 25 patents in 2023, and we plan to expand the support to KRW 30 million for 30 patents in 2024.</p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">Supplier open recruitment system</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> ensures fairness and transparency in the selection of outstanding suppliers. Accordingly, we implement a pooling system of pre-qualified suppliers through open recruitment each year. For our 2023 open recruitment, we added 23 new internal suppliers and four external suppliers to the pool.</p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">Employee retention support for suppliers</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc">From 2021,<span class="m_hanwhaL">Hanwha Ocean</span> established an employee retention support policy for suppliers to prevent employee attrition. Since then, we have provided training venues, supported their institutional responses, and shared the suppliers’ contributions for employment retention. In 2023, we saw an increase in the number of employees from about 11,700 to 18,000 (approximately 6,300 increased ), demonstrating our competitive edge in achieving shared growth with our suppliers.</p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">Localization of equipment</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> collaborates with local equipment providers in an effort to produce equipment with our own technology and reduce supply chain risks</p>
                  </div>
                </li>

                <li>
                  <div class="head">
                    <span class="m_h8">Supplier ESG support</span>
                    <button type="button" class="accordion-toggle-btn"></button>
                  </div>
                  <div class="body">
                    <p class="desc"><span class="m_hanwhaL">Hanwha Ocean</span> provides support for basic ESG assessments to our internal and external suppliers selected with their outstanding performance after a comprehensive supplier evaluation to help them achieve ESG management independence. We plan to support them in conducting an in-depth diagnosis in 2024.</p>

                    <div class="common-table-wrap in_sec_copy">
                      <table class="common-table" data-table="2">
                        <caption>Supplier ESG support</caption>

                        <thead>
                          <tr>
                            <th colspan="2" class="p-l-44 left">Indicator</th>
                            <th class="center">Unit</th>
                            <th class="right p-r-84">2020</th>
                            <th class="right p-r-84">2021</th>
                            <th class="right p-r-84">2022</th>
                            <th class="right p-r-84">2023</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <th class="p-l-44 left">Support amount</th>
                            <td class="p-l-32">Financing and funding</td>
                            <td class="center">KRW 100 <br class="pc">million</td>
                            <td class="right p-r-84">172</td>
                            <td class="right p-r-84">178</td>
                            <td class="right p-r-84">194</td>
                            <td class="right p-r-84">191</td>
                          </tr>

                          <tr>
                            <th rowspan="3" class="p-l-44 left">Support <br class="pc">project</th>
                            <td class="p-l-32">Human rights & ethical <br class="pc">management guidelines</td>
                            <td class="center">Y/N</td>
                            <td class="right p-r-84">5</td>
                            <td class="right p-r-84">13</td>
                            <td class="right p-r-84">46</td>
                            <td class="right p-r-84">31</td>
                          </tr>

                          <tr>
                            <td class="p-l-32">Technology development support and technology protection <br class="pc">program</td>
                            <td class="center">Y/N</td>
                            <td class="right p-r-84">5</td>
                            <td class="right p-r-84">6</td>
                            <td class="right p-r-84">19</td>
                            <td class="right p-r-84">10</td>
                          </tr>

                          <tr>
                            <td class="p-l-32">Employee job competency development training</td>
                            <td class="center">Y/N</td>
                            <td class="right p-r-84">0</td>
                            <td class="right p-r-84">7</td>
                            <td class="right p-r-84">27</td>
                            <td class="right p-r-84">21</td>
                          </tr>
                        </tbody>

                      </table>
                    </div>

                  </div>
                </li>
              </ul>
            </div>
        
        </div>

      </section>

    </div>
  </main>

  <%- include('./src/include/footer-en.ejs') %>