<%- include('./src/include/header-en.ejs', { title: 'Laws/Regulations and Response Strategies' }) %>

<main id="ST" class="st env">
  <div class="main-inner" data-path="pl">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">Environmental Management</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
                <source media="(min-width: 769px)" srcset="/resources/images/hse/env/env_kv-pc.webp">
                <source media="(max-width: 768px)" srcset="/resources/images/hse/env/env_kv-mo.webp">
                <img class="core" src="/resources/images/hse/env/env_kv-pc.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="hse-area st-area" id="envSt">
              <div class="st-con">
                  <div class="common-tab-looking-a-wrap">
                      <div class="tab-looking-a line-tab">
                          <a href="/en/hse/env/pl/#envPl" class="tab-item">Environmental Policy</a>
                          <a href="/en/hse/env/st/#envSt" class="active tab-item">Laws/Regulations and Response Strategies</a>
                          <a href="/en/hse/env/cert/#envCert" class="tab-item">Eco-friendly Certification Status</a>
                          <a href="/en/hse/env/cnt/#envCnt" class="tab-item">Pollutant Management</a>
                          <a href="/en/hse/env/bio/#envBio" class="tab-item">Biodiversity Protection</a>
                      </div>
                  </div>
                  <div class="content-box ct01 in_sec_box_area">
                      <div class="common-grid">
                          <div class="title-wrap">
                              <div class="title m_h3 in_sec_copy">Major Environmental <br>Laws and Our Response</div>
                              <div class="desc">
                                  <p class="intro in_sec_copy">In our efforts toward environmental protection and sustainable management, <span class="m_hanwhaL">Hanwha Ocean</span> takes a deep understanding of and thorough compliance with major environmental laws, such as the Clean Air Conservation Act, Water Environment Conservation Act, and Wastes Control Act. To this end, we constantly monitor changes in environmental laws and regulations, and develop response strategies accordingly.</p>
                              </div>
                          </div>
                      </div>
                      <div class="table-wrap in_sec_box">
                          <div class="common-table-wrap">
                            <table class="common-table">
                              <caption>Major Environmental Laws and Our Response</caption>
                              <thead>
                                <tr>
                                  <th class="p-l-44 left">Law</th>
                                  <th class="p-l-44 left">Highlights</th>
                                  <th class="p-l-44 left">Our Response</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th class="p-l-44 left">Clean Air <br class="pc">Conservation Act</th>
                                  <td class="p-l-44 left">Compliance with the Clean Air Conservation Act for each process, verification of the operation and maintenance status of pollution control facilities, and no omission of permits including operation of unauthorized facilities</td>
                                  <td class="p-l-44 left">We plan to gradually replace old pollution control facilities to reduce pollutant emissions, and monitor the replacement process to avoid omission of permits</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Water Environment <br>Conservation Act</th>
                                  <td class="p-l-44 left">Compliance with the Water Environment Conservation Act and verification of the operation and maintenance status of pollution control facilities</td>
                                  <td class="p-l-44 left">We operate our own wastewater treatment plant to limit the pollutant discharge by up to 30% of the allowance, inspect and improve the plant periodically, and focus on preventing sewage spills through training</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Wastes Control Act</th>
                                  <td class="p-l-44 left">Ensuring no violation during the screening, storage, and discharge of industrial waste, and establishment of a recycling policy</td>
                                  <td class="p-l-44 left">We dispose of waste generated during the production process in accordance with legal standards and the Ministry of Environment guidelines, collect and sort them, and recycle resources through 3R activities</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Act on Registration and Evaluation of Chemical Substances</th>
                                  <td class="p-l-44 left">The Korean government identifies various chemical hazards and registers new hazardous chemicals each year</td>
                                  <td class="p-l-44 left">We make efforts to handle newly registered hazardous chemicals safely through our chemical management system, while meeting regulatory requirements</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Chemical Substances Control Act</th>
                                  <td class="p-l-44 left">Major policy changes are expected to be made along with the amendment of the Chemical Substances Control Act in 2024 (classification of hazardous chemicals, handling standards, etc.)</td>
                                  <td class="p-l-44 left">We plan to obtain a hazardous chemical business license in 2024 since our flagship products are classified as hazardous chemicals</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Soil Environment Conservation Act</th>
                                  <td class="p-l-44 left">Prevention of soil pollution and conducting soil remediation to protect the soil ecosystem and ensure the healthy lives of the people</td>
                                  <td class="p-l-44 left">We monitor and inspect our soil pollution control facilities to avoid environmental pollution</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Marine Environment Management Act</th>
                                  <td class="p-l-44 left">Prevention of marine pollution and protecting the health and property of the people by controlling pollutants emitted from ships and marine facilities and regulating oil and hazardous liquid spills</td>
                                  <td class="p-l-44 left">We plan to register intake and discharge facilities at docks as marine facilities in 2024 to preserve the marine environment. We constantly invest in pollution control facilities, among others, for preemptive response</td>
                                </tr>

                                <tr>
                                  <th class="p-l-44 left">Act on the Control and Aggravated Punishment of Environmental Offenses</th>
                                  <td class="p-l-44 left">The penalty system was revised in November 2020 as a response to environmental crimes involving illegal discharge of air pollutants</td>
                                  <td class="p-l-44 left">We ensure regulatory compliance and strict monitoring through the deployment of dedicated environmental inspection personnel, revision of water quality testing check sheets, and so on</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
                  <div class="content-box ct02 in_sec_box_area">
                    <div class="common-grid">
                        <div class="title-wrap">
                            <div class="title m_h3 in_sec_copy">International <br>Certifications and <br>Environmental Law <br>Violations</div>
                            <div class="desc">
                                <p class="intro in_sec_copy">In 2020, <span class="m_hanwhaL">Hanwha Ocean</span> received an administrative penalty from the Ministry of Environment for failure to follow the hazardous chemicals management procedures during the importing process of chemical products (substances) and neglecting to declare goods for import. Since then, we have complied with the Chemical Substances Control Act and the Act on Registration and Evaluation of Chemical Substances, and reinforced the management of chemical products through compliance with chemical product import procedures. As a result, we have recorded zero violations and subscribed to environmental liability insurance since 2021.</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrap in_sec_box">
                        <div class="common-table-wrap">
                          <table class="common-table">
                            <caption>International <br>Certifications and <br>Environmental Law <br>Violations</caption>
                            <thead>
                              <tr>
                                <th colspan="2" class="p-l-44 left">Indicator</th>
                                <th class="p-l-24 center">Unit</th>
                                <th class="p-r-84 right">2021</th>
                                <th class="p-r-84 right">2022</th>
                                <th class="p-r-84 right or">2023</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th rowspan="2" class="p-l-44 left">Violations of environmental laws and regulations</th>
                                <td class="p-l-32 left">Violations</td>
                                <td class="center unit">Cases</td>
                                <td class="p-r-84 right">0</th>
                                <td class="p-r-84 right">0</th>
                                <td class="p-r-84 right or">0</th>
                              </tr>
                              <tr>
                                <td class="p-l-32 left">Fines and penalties</td>
                                <td class="center unit">KRW1million</td>
                                <td class="p-r-84 right">0</th>
                                <td class="p-r-84 right">0</th>
                                <td class="p-r-84 right or">0</th>
                              </tr>

                              <tr>
                                <th rowspan="2" class="p-l-44 left">Certifications ¹⁾</th>
                                <td class="p-l-32 left">ISO 14001</td>
                                <td class="center unit">Y/N</td>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right or">Y</th>
                              </tr>
                              <tr>
                                <td class="p-l-32 left">ISO 50001</td>
                                <td class="center unit">Y/N</td>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right or">Y</th>
                              </tr>

                              <tr>
                                <th rowspan="2" class="p-l-44 left">Response to environmental pollution incidents</th>
                                <td class="p-l-32 left">Environmental <br class="mobile">liability insurance enrollment</td>
                                <td class="center unit">Y/N</td>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right or">Y</th>
                              </tr>
                              <tr>
                                <td class="p-l-32 left">Environmental incident response training</td>
                                <td class="center unit">Y/N</td>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right">Y</th>
                                <td class="p-r-84 right or">Y</th>
                              </tr>
                           
                            </tbody>
                          </table>
                        </div>
                        <div class="refer-wrap">
                          <ul>
                            <li><span class="m_desc">1) We obtained ISO14001 certification for Okpo, Siheung, Anjeong, and Shandong business sites, and ISO50001 certification for Okpo, which accounts for more than 98% of our energy consumption.</span></li>
                          </ul>
                        </div>
                    </div>
                  </div>
                  <div class="content-box ct03 in_sec_box_area">
                    <div class="title m_h3 in_sec_copy">Matters Concerning <br>Environmental Law Violations <br>and Measures to Prevent the <br>Recurrence of Accidents</div>
                    <div class="table-wrap in_sec_box">
                        <div class="common-table-wrap">
                          <table class="common-table">
                            <caption>Matters Concerning <br>Environmental Law Violations <br>and Measures to Prevent the <br>Recurrence of Accidents</caption>
                            <thead>
                              <tr>
                                <th class="p-l-44 left">Classification</th>
                                <th class="p-l-32 left">Problems</th>
                                <th class="p-l-32 left">Proposed Improvement</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th rowspan="4" class="p-l-32 left">Chemical substance purchase and order process</th>
                                <td class="p-l-32">The person in charge may not mark on the sheet as it is not mandatory to check the inclusion of chemical products upon request for materials procurement</td>
                                <td class="p-l-32">Modified the system to hold the payment step without marking the inclusion of chemical products</td>
                              </tr>
                              <tr>
                                <td rowspan="2" class="p-l-32">Omission of a request for chemical hazard review upon request for materials procurement</td>
                                <td class="p-l-32">Need to request for chemical hazard review by the design department to confirm product details in the order stage</td>
                              </tr>
                              <tr>
                                <td class="p-l-32">The procurement department coordinates the request for hazard review to confirm the import vendor and chemical product details in the procurement stage</td>
                              </tr>
                              <tr>
                                <td class="p-l-32">Hazard review may be omitted due to changes in import and local vendors in the quotation submission stage</td>
                                <td class="p-l-32">Improved the system to deliver the information upon confirming the (local/import) vendors</td>
                              </tr>

                              <tr>
                                <th rowspan="2" class="p-l-32 left">Customs clearance for imported goods</th>
                                <td class="p-l-32">Tasks outlined in the Chemical Substances Control Act may be omitted when conducting work according to the Customs Act</td>
                                <td class="p-l-32">The environmental policy team is requested for the review of items suspected of containing chemical substances during customs clearance</td>
                              </tr>
                              <tr>
                                <td class="p-l-32">Unable to check the inclusion of chemical substances and the issuance of statement during customs clearance</td>
                                <td class="p-l-32">Reviewed the options for system improvement to register documents related to chemical substances for items confirmed to contain chemicals</td>
                              </tr>
                           
                            </tbody>
                          </table>
                        
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
</main>

<%- include('./src/include/footer-en.ejs') %>