<%- include('./src/include/header.ejs', { title: '이사회 의결현황' }) %>

<!-- dummy -->
<main id="RS" class="rs">
  <div class="main-inner" data-path="bod">
    
    <div class="sub_top top_img">
      <div class="top_tit_area sticky">

        <div class="top_tit-inner static">
          <h2 class="sub_top_tit m_h2">이사회</h2>
        </div>

        <div class="top_tit-inner absol">
          <h2 class="sub_top_tit m_h2">이사회</h2>
        </div>

      </div>
   
      <div class="overflow-ct">
        <div class="top_kv_area">
          <div class="core-wrap">
            <picture class="core-wrap-inner dim">
              <source media="(min-width: 769px)" srcset="/resources/images/gov/kv.webp">
              <source media="(max-width: 768px)" srcset="/resources/images/gov/kv-mo.webp">
              <img class="core" src="/resources/images/gov/kv.webp" alt="Key Visual">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="sub_container">
      <div class="sec_inner">
          <div class="common-tab-looking-a-wrap" id="rs-tab">
              <div class="tab-looking-a line-tab">
                  <a href="/gov/bod/#bod-tab" class="tab-item">이사회 구성</a>
                  <a href="/gov/rs/#rs-tab" class="active tab-item">이사회 의결현황</a>
              </div>
          </div>
          <h4 class="rs-title m_h3">이사회 의결현황</h4>
          <picture class="picture nontouch">
            <img src="/resources/images/gov/rs/table_pc.webp" alt="Table">
          </picture>

          <div class="gallery-wrap picture touch-only">
            <div id="gallery">
              <a href="/resources/images/gov/rs/table_pc.webp" 
                data-pswp-src="/resources/images/gov/rs/table_pc.webp"
                data-pswp-width="1000" 
                data-pswp-height="5550" 
                target="_blank">
                <img src="/resources/images/gov/rs/table_mo.webp" alt="Table">
              </a>
            </div>
            <div class="touch-desc">
              <picture class="touch-icon">
                <img src="/resources/images/common/swipe.svg" alt="Icons">
              </picture>
              <strong>터치 시 상하좌우 및 <br> 확대하여 보실 수 있습니다.</strong>
            </div>
          </div>

      </div>
    </section>

  </div>
</main>

<%- include('./src/include/footer.ejs') %>