<%- include('./src/include/header-en.ejs', { title: 'Social Contribution' }) %>

  <main id="CS" class="cs">
    <div class="main-inner" data-path="cs">

      <div class="sub_top top_img">
        <div class="top_tit_area sticky">

          <div class="top_tit-inner static">
            <h2 class="sub_top_tit m_h2 in_sec_copy">Social Contribution</h2>
          </div>

          <div class="top_tit-inner absol">
            <h2 class="sub_top_tit m_h2 in_sec_copy">Social Contribution</h2>
          </div>

        </div>

        <div class="overflow-ct">
          <div class="top_kv_area">
            <div class="core-wrap">
              <picture class="core-wrap-inner">
                <source media="(min-width:769px)" srcset="/resources/images/sr/cs/cs_kv-pc.webp">
                <source media="(max-width:768px)" srcset="/resources/images/sr/cs/cs_kv-mo.webp">
                <img class="core" src="/resources/images/sr/cs/cs_kv-pc.webp" alt="Key Visual">
              </picture>
            </div>
          </div>
        </div>

      </div>

      <section class="sub_container">
        <div class="sec_inner">
          <div class="title-con common-grid">
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Social Contribution <br>Activities</h4>
        
              <div class="desc">
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Technical Training Center</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> recruits technical interns each year to provide free technical training programs that support the development of specialized personnel in the local community. The courses include CO2 welding, LNG carrier invar welding, hull assembly and production. Participants are provided with training allowances during the period. Those who showed outstanding performance are given opportunities to work at our best suppliers after completing the programs. In 2023, 2,725 people applied for technical training, with 438 people ultimately completing the program.</p>
                </div>
        
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Shipyard Tour Program</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> operates a shipyard tour program each year to promote industrial tourism at the Geoje Shipyard. Visitors can take a tour to our facilities, including 4.9 million m² of land, the world’s largest 1 million-ton dock, and a 900-ton Goliath gantry crane. As of 2023, we recorded 13,527 visitors in the Okpo Shipyard, providing them an opportunity to better understand the shipbuilding industry through the shipyard tour program.</p>
                </div>

                <div class="item">
                  <strong class="m_h6 in_sec_copy">Scholarships for Local Educational Institutions</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> provides scholarships to educational institutions to support quality education for children and youth from vulnerable groups within the region. In 2023, we provided scholarships worth KRW 11.8 million to 69 local educational institutions, including elementary schools, middle schools, high schools, universities, and special needs schools. We will remain dedicated to helping out children and youth in the community to boost their morale and achieve their dreams so that they can pursue their studies and become healthy members of society in the future.</p>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="sec_inner in_sec_copy">
          <p class="m_desc align-right unit">Unit : KRW 1,000</p>
        </div>

        <div class="common-table-wrap mt-0 in_sec_box_area">
          <table class="common-table in_sec_box" data-table="1">
            <caption>Scholarships</caption>

            <thead>
              <tr>
                <th colspan="2" class="center">Indicator</th>
                <th class="right p-r-84">2020</th>
                <th class="right p-r-84">2021</th>
                <th class="right p-r-84">2022</th>
                <th class="right p-r-84">2023</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th rowspan="5" class="p-l-44 left">Scholarship</th>
                <th class="p-l-32 left">Elementary schools</th>
                <td class="right p-r-84">3,700</td>
                <td class="right p-r-84">3,800</td>
                <td class="right p-r-84">4,000</td>
                <td class="right p-r-84">3,800</td>
              </tr>

              <tr>
                <th class="p-l-32 left">Middle <br class="mobile">schools</th>
                <td class="right p-r-84">3,700</td>
                <td class="right p-r-84">3,800</td>
                <td class="right p-r-84">4,000</td>
                <td class="right p-r-84">3,800</td>
              </tr>

              <tr>
                <th class="p-l-32 left">High <br class="mobile">schools</th>
                <td class="right p-r-84">3,700</td>
                <td class="right p-r-84">3,800</td>
                <td class="right p-r-84">4,000</td>
                <td class="right p-r-84">3,800</td>
              </tr>

              <tr>
                <th class="p-l-32 left">Universities</th>
                <td class="right p-r-84">3,700</td>
                <td class="right p-r-84">3,800</td>
                <td class="right p-r-84">4,000</td>
                <td class="right p-r-84">3,800</td>
              </tr>

              <tr>
                <th class="p-l-32 left">Special <br class="mobile">needs <br class="mobile">schools</th>
                <td class="right p-r-84">3,700</td>
                <td class="right p-r-84">3,800</td>
                <td class="right p-r-84">4,000</td>
                <td class="right p-r-84">3,800</td>
              </tr>

              <tr>
                <th colspan="2" class="p-l-44 left">Total</th>
                <td class="right p-r-84">11,700</td>
                <td class="right p-r-84">11,800 ¹⁾</td>
                <td class="right p-r-84">12,000 ¹⁾</td>
                <td class="right p-r-84">11,800</td>
              </tr>
            </tbody>

          </table>
        </div>
        <ol class="refer in_sec_box_area">
          <li class="in_sec_box"><span class="m_desc">1&#41; Corrected errors in the previous year data.</span></li>
        </ol>

        <div class="sec_inner">
          <div class="title-con common-grid">

            <div class="title-wrap">
              <div class="desc">
                <div class="item">
                  <strong class="m_h6 in_sec_copy">Employee Volunteering Activities</strong>
                  <p class="in_sec_copy"><span class="m_hanwhaL">Hanwha Ocean</span> operates our own volunteer organization, the Social Service Corps, and 830 employees voluntarily engage in activities such as volunteer work in a farming community, providing necessities for the poor, repairing houses, serving meals at welfare facilities, bathing persons with disabilities, cleaning up the environment, and providing financial assistance for tuition fees. We provide financial support to promote the volunteering activities, and award individuals, groups, suppliers, and clubs in recognition of their outstanding social contribution activities each year. Also, we continue to expand voluntary donations from employees and the company through the employee donation program (donating KRW 11,004 each month), exemplary activities of the leadership, and charity bazaar each year.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Community <br>Coexistence System</h4>
        
              <div class="desc">
        
                <div class="item in_sec_copy">
                  <p>As part of the “Hope the 1990s” management innovation movement launched in 1993, <span class="m_hanwhaL">Hanwha Ocean</span> formed a social volunteer group centering on our  employees and constantly implemented a wide range of social service activities for local communities. Our activities include helping those in need, environmental cleanup activities, sponsoring welfare facilities, building facilities serving people with intellectual and developmental disabilities, and donating sports equipment. Our volunteer groups are actively engaged in carrying out activities in various fields such as sponsoring children with leukemia. To implement such activities in a more organized and systematic manner, we launched the official Social Service Corps in 2023.</p>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="social-process-wrap in_sec_box_area">

          <div class="social-process-img in_sec_box">
            <div class="icon-swipe"></div>
          </div>

          <div class="sr-only">
            <ol>
              <li>
                <span>Head</span>
                <p>Shipyard Head</p>
              </li>
              <li>
                <span>Vice Head</span>
                <p>Director of Shared Growth Office</p>
              </li>
              <li>
                <span>Secretariat</span>
                <p>Director: Head of social contribution department</p>
                <p>Assistant Administrator: Person in charge of social contribution activities</p>
              </li>
              <li>
                <p>Social Service Corps</p>
                <span>2,685 members in total</span>
              </li>
              <li>
                <ul>
                  <li>
                    <span>Volunteer group</span>
                    <span>1,300</span>
                    <p>소외계층 지원을 통한 사회공헌</p>
                  </li>
                  <li>
                    <span>The Sound of Sprouts</span>
                    <span>724</span>
                    <p>Engage in volunteer work to help children suffering from leukemia and cancer</p>
                  </li>
                  <li>
                    <span>Cham Love Welfare Association</span>
                    <span>481</span>
                    <p>Share the joy of life through gatherings for the underprivileged</p>
                  </li>
                  <li>
                    <span>Technology Sharing Volunteer Group</span>
                    <span>90</span>
                    <p>Create a sound community culture through volunteering activities</p>
                  </li>
                  <li>
                    <span>Hope Volunteer Group</span>
                    <span>30</span>
                    <p>Share hope through volunteering activities at welfare facilities</p>
                  </li>
                  <li>
                    <span>Ocean Cleaning Volunteer Group</span>
                    <span>40</span>
                    <p>Preserve marine environments through underwater cleanups</p>
                  </li>
                  <li>
                    <span>Adamjaengi</span>
                    <span>20</span>
                    <p>Improve the quality of life of local residents through voluntary mural painting</p>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>

        <div class="sec_inner">
          <div class="title-con common-grid">
            <div class="title-wrap">
              <h4 class="title m_h3 in_sec_copy">Community Engagement Roadmap</h4>
        
              <div class="desc">
        
                <div class="item in_sec_copy">
                  <p><span class="m_hanwhaL">Hanwha Ocean</span> plans to develop a mid-to-long-term roadmap for community engagement and manage our activities annually.</p>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="common-table-wrap in_sec_box_area">
          <table class="common-table in_sec_box" data-table="2">
            <caption>Scholarships</caption>

            <thead>
              <tr>
                <th class="center">Classification</th>
                <th class="center">2023</th>
                <th class="center">2024</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th class="p-l-32 left">Annual initiatives</th>
                <td class="p-l-32 left">
                  <ul class="common-circle-list">
                    <li>Implement social contribution activities under the master plan for social contribution activities</li>
                    <li>Develop community engagement programs for shared growth</li>
                    <li>Offer programs to encourage employees’ participation in social contribution activities
                      <ul class="common-line-list">
                        <li>Exchange with other companies and organizations, use apps, etc.</li>
                      </ul>
                    </li>
                    <li>Maintain and improve existing programs
                      <ul class="common-line-list">
                        <li>Social contribution calendar, donations, etc.</li>
                      </ul>
                    </li>
                  </ul>
                </td>
                <td class="p-l-32 left">
                  <ul class="common-circle-list">
                    <li>Form partnerships with NGOs and civic organizations on social contribution activities</li>
                    <li>Further enhance community engagement programs for shared growth</li>
                    <li>Offer programs to encourage social contribution activities with local residents</li>
                    <li>Maintain and improve existing programs</li>
                  </ul>
                </td>
              </tr>

            </tbody>

          </table>

        </div>

      </section>

    </div>
  </main>

  <%- include('./src/include/footer-en.ejs') %>