  <section id="SUSTAINABILITY" class="sec sec_sustainabiltiy">
    <div class="sec_inner">
      <div class="title">
        <h2 class="m_h4">지속가능경영보고서</h>
      </div>
      <div class="desc">
        <div class="download">
          <div class="desc-text">
            <span class="txt">2023년 지속가능경영보고서</span>
            <a href="<%= locals.downloadFileName %>" download class="m_btn" data-btntype="text" hover="underline" icon="right">
              <span class="txt" data-txt="다운로드">다운로드</span>
              <span class="icon"></span>
            </a>
          </div>
          <picture class="picture">
            <img src="/resources/images/main/brochure_pc.webp" alt="">
          </picture>
        </div>
      </div>
    </div>
  </section>

  