<!-- <%- include('./src/include/fave-debugger.ejs') %> -->
  <footer id="FOOTER" class="footer">
    <div class="footer-container">
      <button class="m_btn btn_go_top" data-btntype="icon" hover="ripple">
        <span class="txt blind">맨 위로 올라가기</span>
      </button>
      <div class="footer-inner">
        <div class="footer-content">
          <div class="footer-menu">
            <ul class="f_depth1_ul">
              <li class="f_depth1">
                <a href="/osa/ceo/" >Our Sustainability Approach</a>
                <ul class="f_depth2">
                  <li><a href="/osa/ceo/"><span>CEO 메시지</span></a></li>
                  <li><a href="/osa/sus/"><span>지속가능경영 전략체계</span></a></li>
                  <li><a href="/osa/gov/"><span>지속가능경영 거버넌스</span></a></li>
                  <li><a href="/osa/host2030/"><span>HOST 2030</span></a></li>
                  <li><a href="/osa/news/"><span>최신 활동 뉴스</span></a></li>
                  <li><a href="/osa/sc/"><span>이해관계자 소통</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/hse/hsemge/ov/">HSE</a>
                <ul class="f_depth2">
                  <li><a href="/hse/hsemge/ov/"><span>HSE 경영</span></a></li>
                  <li><a href="/hse/sh/ov/"><span>안전보건</span></a></li>
                  <li><a href="/hse/nz/rt/"><span>탄소중립</span></a></li>
                  <li><a href="/hse/env/pl/"><span>환경경영</span></a></li>
                  <li><a href="/hse/eco/"><span>친환경 제품 & 기술</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/sr/ww/co/">Social Responsibility</a>
                <ul class="f_depth2">
                  <li><a href="/sr/ww/co/"><span>노사상생협력</span></a></li>
                  <li><a href="/sr/hrm/hr/"><span>인재&인권경영</span></a></li>
                  <li><a href="/sr/cs/"><span>사회공헌</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/gov/bod/">Governance</a>
                <ul class="f_depth2">
                  <li><a href="/gov/bod/"><span>이사회</span></a></li>
                  <li><a href="/gov/ce/ce/"><span>윤리준법</span></a></li>
                  <li><a href="/gov/qm/"><span>품질경영</span></a></li>
                  <li><a href="/gov/ip/"><span>정보보호</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/dl/pd/env/">Digital Library</a>
                <ul class="f_depth2">
                  <li><a href="/dl/pd/env/"><span>Performance Data</span></a></li>
                  <li><a href="/dl/reg/"><span>규정 및 정책</span></a></li>
                  <li><a href="/dl/rep/"><span>보고서</span></a></li>
                  <li><a href="/dl/certi/"><span>인증서</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
          
          <div class="footer-copyright m_desc">
            <div class="f_info">
              <div class="f_info_logo">
                <a href="/"><img src="/resources/images/common/logo_w.svg" alt="Hanwha Ocean"></a>
              </div>
              <p class="f_info_address">경상남도 거제시 거제대로 3370</p>
              <p class="f_info_tel1">대표전화 | 본사 및 거제사업장 055-735-2114</p>
              <p class="f_info_tel2">서울사무소 02-2129-0114</p>
              <div class="f_copyright">Copyright © 2024 <em class="m_caption m_hanwhaR">Hanwha Ocean co., Ltd.</em> All Rights Reserved.</div>
            </div>

            <div class="f_right">
              <div class="f_sns">
                <ul>
                  <li class="f_sns_yt"><a href="https://www.youtube.com/@hanwhaoceanofficial" target="_blank" title="한화오션 Youtube 바로가기"><img src="/resources/images/common/icon_yt.svg" alt="유튜브 아이콘"></a></li>
                  <li class="f_sns_ins"><a href="https://www.instagram.com/hanwhaoceanofficial" target="_blank" title="한화오션 Instagram 바로가기"><img src="/resources/images/common/icon_insta.svg" alt="인스타그램 아이콘"></a></li>
                  <li class="f_sns_linkdin"><a href="https://kr.linkedin.com/company/hanwhaocean?trk=similar-pages" target="_blank" title="한화오션 Linked In 바로가기"><img src="/resources/images/common/icon_linkdin.svg" alt="링크드인 아이콘"></a></li>
                </ul>
              </div>
              <div class="f_subsidiary">
                <button class="btn-subsidiary_more">계열사 바로가기</button>
                <div class="f_subsidiary_list">
                  <ul data-lenis-prevent>
                    <li><a href="https://www.hanwha.co.kr" target="_blank"><span>한화그룹</span></a></li>
                    <li><a href="https://www.hanwhacorp.co.kr" target="_blank"><span>(주)한화</span></a></li>
                    <li><a href="https://www.hanwhaocean.com/" target="_blank"><span>한화오션</span></a></li>
                    <li><a href="https://www.hanwhaaerospace.co.kr" target="_blank"><span>한화에어로스페이스</span></a></li>
                    <li><a href="https://www.hanwhasystems.com/" target="_blank"><span>한화시스템</span></a></li>
                    <li><a href="https://www.hanwhaimpact.com" target="_blank"><span>한화임팩트</span></a></li>
                    <li><a href="https://www.hanwhasolutions.com" target="_blank"><span>한화솔루션</span></a></li>
                    <li><a href="https://www.hanwhavision.com" target="_blank"><span>한화비전</span></a></li>
                    <li><a href="https://www.hanwha-pm.com/ko/" target="_blank"><span>한화정밀기계</span></a></li>
                    <li><a href="https://www.hanwhapowersystems.co.kr" target="_blank"><span>한화파워시스템</span></a></li>
                    <li><a href="https://www.htpchem.com" target="_blank"><span>한화토탈에너지스</span></a></li>
                    <li><a href="https://hec.hanwha.co.kr" target="_blank"><span>한화에너지</span></a></li>
                    <li><a href="https://www.hwenc.co.kr" target="_blank"><span>한화 건설부문</span></a></li>
                    <li><a href="https://www.hanwhalife.com" target="_blank"><span>한화생명</span></a></li>
                    <li><a href="https://www.hwgeneralins.com" target="_blank"><span>한화손해보험</span></a></li>
                    <li><a href="https://www.hanwhawm.com" target="_blank"><span>한화투자증권</span></a></li>
                    <li><a href="https://www.hanwhafund.co.kr" target="_blank"><span>한화자산운용</span></a></li>
                    <li><a href="https://www.hanwhasbank.com" target="_blank"><span>한화저축은행</span></a></li>
                    <li><a href="https://www.hwrc.co.kr" target="_blank"><span>한화호텔앤드리조트</span></a></li>
                    <li><a href="https://dept.galleria.co.kr" target="_blank"><span>한화갤러리아</span></a></li>
                    <li><a href="https://www.hanwhaconnect.co.kr" target="_blank"><span>한화커넥트</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</footer>
	<div class="page-cover"></div>
	<script defer type="module" src="/src/js/hanwha-ocean-esg.js"></script>
</body>
</html>