<!-- <%- include('./src/include/fave-debugger.ejs') %> -->
  <footer id="FOOTER" class="footer">
    <div class="footer-container">
      <button class="m_btn btn_go_top" data-btntype="icon" hover="ripple">
        <span class="txt blind">go top</span>
      </button>
      <div class="footer-inner">
        <div class="footer-content">
          <div class="footer-menu">
            <ul class="f_depth1_ul">
              <li class="f_depth1">
                <a href="/en/osa/ceo/" >Our Sustainability Approach</a>
                <ul class="f_depth2">
                  <li><a href="/en/osa/ceo/"><span>CEO Message</span></a></li>
                  <li><a href="/en/osa/sus/"><span>Sustainable Strategy System</span></a></li>
                  <li><a href="/en/osa/gov/"><span>Sustainable Governance</span></a></li>
                  <li><a href="/en/osa/host2030/"><span>HOST 2030</span></a></li>
                  <li><a href="/en/osa/news/"><span>News of Latest Activities</span></a></li>
                  <li><a href="/en/osa/sc/"><span>Stakeholder Engagement</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/en/hse/hsemge/ov/">HSE</a>
                <ul class="f_depth2">
                  <li><a href="/en/hse/hsemge/ov/"><span>HSE Management</span></a></li>
                  <li><a href="/en/hse/sh/ov/"><span>Safety and Health</span></a></li>
                  <li><a href="/en/hse/nz/rt/"><span>Carbon Neutrality</span></a></li>
                  <li><a href="/en/hse/env/pl/"><span>Environmental Management</span></a></li>
                  <li><a href="/en/hse/eco/"><span>Eco-friendly Products and <br>Technologies</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/en/sr/ww/co/">Social Responsibility</a>
                <ul class="f_depth2">
                  <li><a href="/en/sr/ww/co/"><span>Cooperative Labor-Management <br>Relations</span></a></li>
                  <li><a href="/en/sr/hrm/hr/"><span>Talent & Human Rights <br>Management</span></a></li>
                  <li><a href="/en/sr/cs/"><span>Social Contribution</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/en/gov/bod/">Governance</a>
                <ul class="f_depth2">
                  <li><a href="/en/gov/bod/"><span>Board of Directors</span></a></li>
                  <li><a href="/en/gov/ce/ce/"><span>Ethics and Compliance</span></a></li>
                  <li><a href="/en/gov/qm/"><span>Quality Management</span></a></li>
                  <li><a href="/en/gov/ip/"><span>Information Securitiy</span></a></li>
                </ul>
              </li>
              <li class="f_depth1">
                <a href="/en/dl/pd/env/">Digital Library</a>
                <ul class="f_depth2">
                  <li><a href="/en/dl/pd/env/"><span>Performance Data</span></a></li>
                  <li><a href="/en/dl/reg/"><span>Regulations and Policies</span></a></li>
                  <li><a href="/en/dl/rep/"><span>Report</span></a></li>
                  <li><a href="/en/dl/certi/"><span>Certificate</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
          
          <div class="footer-copyright m_desc">
            <div class="f_info">
              <div class="f_info_logo">
                <a href="/"><img src="/resources/images/common/logo_w.svg" alt="Hanwha Ocean"></a>
              </div>
              <p class="f_info_address">3370, Geoje-daero, Geoje-si, Gyeongsangnam-do, Korea</p>
              <p class="f_info_tel1">Phone | Head Office & Geoje Shipyard 055-735-2114</p>
              <p class="f_info_tel2">Seoul 02-2129-0114</p>
              <div class="f_copyright">Copyright © 2024 <em class="m_caption m_hanwhaR">Hanwha Ocean co., Ltd.</em> All Rights Reserved.</div>
            </div>

            <div class="f_right">
              <div class="f_sns">
                <ul>
                  <li class="f_sns_yt"><a href="https://www.youtube.com/@hanwhaoceanofficial" target="_blank" title="한화오션 Youtube 바로가기"><img src="/resources/images/common/icon_yt.svg" alt="유튜브 아이콘"></a></li>
                  <li class="f_sns_ins"><a href="https://www.instagram.com/hanwhaoceanofficial" target="_blank" title="한화오션 Instagram 바로가기"><img src="/resources/images/common/icon_insta.svg" alt="인스타그램 아이콘"></a></li>
                  <li class="f_sns_linkdin"><a href="https://kr.linkedin.com/company/hanwhaocean?trk=similar-pages" target="_blank" title="한화오션 Linked In 바로가기"><img src="/resources/images/common/icon_linkdin.svg" alt="링크드인 아이콘"></a></li>
                </ul>
              </div>
              <div class="f_subsidiary">
                <button class="btn-subsidiary_more">Family Site</button>
                <div class="f_subsidiary_list">
                  <ul data-lenis-prevent>
                    <li><a href="https://www.hanwha.com" target="_blank">Hanwha Group</a></li>
                    <li><a href="https://www.hanwhacorp.co.kr/eng/index.jsp" target="_blank">Hanwha Corporation</a></li>
                    <li><a href="https://www.hanwhaocean.com/en/" target="_blank"><span>Hanwha Ocean</span></a></li>
                    <li><a href="https://www.hanwhaaerospace.com" target="_blank">Hanwha Aerospace</a></li>
                    <li><a href="https://www.hanwhasystems.com/en/index.do" target="_blank">Hanwha Systems</a></li>
                    <li><a href="https://www.hanwhaimpact.com/en/index" target="_blank">Hanwha Impact Corporation</a></li>
                    <li><a href="https://www.hanwhasolutions.com/en/" target="_blank">Hanwha Solution</a></li>
                    <li><a href="https://www.hanwhavision.com/en/" target="_blank">Hanwha Vision</a></li>
                    <li><a href="https://www.hanwha-pm.com/ko/" target="_blank">Hanwha Precision Machinery</a></li>
                    <li><a href="https://www.hanwhapowersystems.com" target="_blank">Hanwha Power Systems</a></li>
                    <li><a href="https://www.htpchem.com/en/index" target="_blank">Hanwha TotalEnergies Petrochemical</a></li>
                    <li><a href="http://hec.hanwha.co.kr/eng/enMain.do" target="_blank">Hanwha Energy</a></li>
                    <li><a href="https://www.hwenc.com" target="_blank">Hanwha Engineering &amp; Construction</a></li>
                    <li><a href="http://www.hanwhalife.com" target="_blank">Hanwha Life</a></li>
                    <li><a href="http://www.hwgeneralins.com" target="_blank">Hanwha General Insurance</a></li>
                    <li><a href="https://www.hanwhawm.com" target="_blank">Hanwha Investment &amp; Securities</a></li>
                    <li><a href="http://eng.hanwhafund.co.kr" target="_blank">Hanwha Asset Management</a></li>
                    <li><a href="http://www.hanwhasbank.com" target="_blank">Hanwha Savings Bank</a></li>
                    <li><a href="https://www.hwrc.co.kr" target="_blank">Hanwha Hotels &amp; Resorts</a></li>
                    <li><a href="https://dept.galleria.co.kr" target="_blank">Hanwha Galleria</a></li>
                    <li><a href="https://www.hanwhaconnect.co.kr" target="_blank">Hanwha Connect</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</footer>
	<div class="page-cover"></div>
	<script defer type="module" src="/src/js/hanwha-ocean-esg.js"></script>
</body>
</html>