<div class="layer_pop_area">
  <div class="layer_pop_inner">
    <!-- 
      * data-day(숫자) : 입력한 숫자의 기간동안 팝업이 보이지 않습니다.
      * data-day=1 : 1일동안 / data-day=2 : 2일 동안 등
      * data-day=0 : close 버튼과 동일한 기능 
      * data-day 값에 따라 'Don't show this again today' 카피 변경도 필요해보입니다.
     -->
    <div id="popup01" class="layer_pop m_popup" data-day="0" data-btntype="txt_more">
      <div class="layer_head">미래를 준비하는 준법경영 실현</div>
      <div class="layer_body">
        <div class="l_body_inner" data-lenis-prevent>
          한화오션(대표이사 권혁웅 부회장)이 24일 한국컴플라이언스인증원(원장 이원기)으로부터 ISO 37001 부패방지 경영시스템(이하 ISO 37001)과 ISO 37301 규범준수 경영시스템(이하 ISO 37301) 통합 인증을 취득했다.한화오션은 이번에 ISO 37001과 ISO 37301 인증을 함께 취득함으로써 부패방지, 규범준수 분야에서 리스크 예방 체계를 철저히 갖추고 엄정한 관리가 이루어지고 있음을 공식적으로 인정받았다.이번 인증 취득은 ESG와 지속가능경영의 중요성이 강조되는 경영환경에서 한화오션이 유∙무형의 반부패 리스크를 최소화하고 사업활동을 더욱 투명하게 관리하며, 새로운 시대에 맞게 선도적인 경영을 펼쳐 나가고자 하는 의지의 표명이다.지난해 5월 출범한 한화오션은 대표이사 직속으로 컴플라이언스실과 산하 조직인 컴플라이언스팀을 신설해 부패방지와 규범준수를 위한 경영시스템을 구축하기 위해 다양한 노력을 진행해 왔다.컴플라이언스실은 한화오션 출범 후 전 사업장에서 반부패 분야 잠재 리스크를 식별하여 평가하고, 엄정한 관리 체계를 갖추며, 리스크 관리를 위한 내부심사원 선발∙교육∙운영을 통해 부패방지 체계를 구축하고 있다.이러한 노력의 결실로 지난 4월부터 외부 인증기관인 한국컴플라이언스인증원으로부터 3주간의 심사를 받아 ‘ISO 37001, 37301’ 인증을 동시에 취득하였다.
        </div>
        <div class="l_body_btn">
          <a href="#" class="m_btn" data-btntype="text" hover="ripple" size="s" line="round" color="black">
            <span class="txt">View more</span>
            </a>
        </div>
      </div>
      <div class="layer_footer">
        <div class="l_ft_today">
          <span id="check01"><input type="checkbox" value="checkbox" name="chkbox" id="chkday01"><label for="chkday01">Don't show this again today</label></span>
        </div>
        <div class="l_ft_close">
          <button class="btn_close_pop " title="팝업 close">
            close
            <span class="icon"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="popup02" class="layer_pop m_popup" data-day="1" data-btntype="img">
      <div class="layer_body">
        <div class="l_body_inner" data-lenis-prevent>
          <img src="/resources/images/main/pop_layer_img.png" alt="이미지형">
        </div>
      </div>
      <div class="layer_footer">
        <div class="l_ft_today">
          <span id="check02"><input type="checkbox" value="checkbox" name="chkbox" id="chkday02"><label for="chkday02">Don't show this again today</label></span>
        </div>
        <div class="l_ft_close">
          <button class="btn_close_pop " title="팝업 close">
            close
            <span class="icon"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="popup03" class="layer_pop m_popup" data-day="2" data-btntype="img_more">
      <div class="layer_head">미래를 준비하는 준법경영 실현</div>
      <div class="layer_body">
        <div class="l_body_inner" data-lenis-prevent>
          <img src="/resources/images/main/pop_layer_img.png" alt="이미지형">
        </div>
        <div class="l_body_btn">
          <a href="#" class="m_btn" data-btntype="text" hover="ripple" size="s" line="round" color="black">
            <span class="txt">View more</span>
            </a>
        </div>
      </div>
      <div class="layer_footer">
        <div class="l_ft_today">
          <span id="check03"><input type="checkbox" value="checkbox" name="chkbox" id="chkday03"><label for="chkday03">Don't show this again today</label></span>
        </div>
        <div class="l_ft_close">
          <button class="btn_close_pop " title="팝업 close">
            close
            <span class="icon"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="popup04" class="layer_pop m_popup" data-day="3" data-btntype="txt">
      <div class="layer_head">미래를 준비하는 준법경영 실현</div>
      <div class="layer_body">
        <div class="l_body_inner" data-lenis-prevent>
          한화오션(대표이사 권혁웅 부회장)이 24일 한국컴플라이언스인증원(원장 이원기)으로부터 ISO 37001 부패방지 경영시스템(이하 ISO 37001)과 ISO 37301 규범준수 경영시스템(이하 ISO 37301) 통합 인증을 취득했다.한화오션은 이번에 ISO 37001과 ISO 37301 인증을 함께 취득함으로써 부패방지, 규범준수 분야에서 리스크 예방 체계를 철저히 갖추고 엄정한 관리가 이루어지고 있음을 공식적으로 인정받았다.이번 인증 취득은 ESG와 지속가능경영의 중요성이 강조되는 경영환경에서 한화오션이 유∙무형의 반부패 리스크를 최소화하고 사업활동을 더욱 투명하게 관리하며, 새로운 시대에 맞게 선도적인 경영을 펼쳐 나가고자 하는 의지의 표명이다.지난해 5월 출범한 한화오션은 대표이사 직속으로 컴플라이언스실과 산하 조직인 컴플라이언스팀을 신설해 부패방지와 규범준수를 위한 경영시스템을 구축하기 위해 다양한 노력을 진행해 왔다.컴플라이언스실은 한화오션 출범 후 전 사업장에서 반부패 분야 잠재 리스크를 식별하여 평가하고, 엄정한 관리 체계를 갖추며, 리스크 관리를 위한 내부심사원 선발∙교육∙운영을 통해 부패방지 체계를 구축하고 있다.이러한 노력의 결실로 지난 4월부터 외부 인증기관인 한국컴플라이언스인증원으로부터 3주간의 심사를 받아 ‘ISO 37001, 37301’ 인증을 동시에 취득하였다.
        </div>
      </div>
      <div class="layer_footer">
        <div class="l_ft_today">
          <span id="check04"><input type="checkbox" value="checkbox" name="chkbox" id="chkday04"><label for="chkday04">Don't show this again today</label></span>
        </div>
        <div class="l_ft_close">
          <button class="btn_close_pop " title="팝업 close">
            close
            <span class="icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
